<header class="main_menu menu2">
    <div class="st-logo">
        <a id="st-logo" href="#" title="Atlantica Seguros">
            <img src="/Content/images/atlantica-seguros-logo.png" alt="Atlantica Seguros" class="img-responsive" />
            <span class="letter">Gestión de Vendedores</span>
        </a>
    </div>
    <div class="st-menu-sv">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/Home/Index">
                                <span class="icon sellers"></span>
                                <span class="txt_lb">
                                    Gestión de Ventas
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="/Reports/Index">
                                <span class="icon informe"></span>
                                <span class="txt_lb">
                                    Reportes
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="/Reports/Index">
                                <span class="icon calendar"></span>
                                <span class="txt_lb">
                                    Calendario
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="clear"></div>
</header>