<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="GlobalEntities" connectionString="metadata=res://*/GlobalDB.GlobalEntities.csdl|res://*/GlobalDB.GlobalEntities.ssdl|res://*/GlobalDB.GlobalEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STL-DEV05\SQL2012A;initial catalog=Global;persist security info=True;user id=Developer05;password=Developer05;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="ATLANEntities" connectionString="metadata=res://*/AtlanDB.AtlanDB.csdl|res://*/AtlanDB.AtlanDB.ssdl|res://*/AtlanDB.AtlanDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.199.35;initial catalog=ATLAN;user id=fcaamano; password=Acceso123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
