@charset "utf-8";
/* CSS Document */



/*//////////////Lightbox Modal ////////*/
#lightbox{
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
	position:absolute;
	z-index:200;
	top:0;
	right:0;
	bottom:0;
	left:0;
	display:none;
}


#lightbox .image_container{
	position:relative;
	width: 100%;
	height:100%;
	max-height:700px;
	max-width:800px;
	padding:15px;
	background:#fff;
	margin:0 auto;
	top:100px;
	right:0;
	bottom:0;
	left:0;
	
}

/*/////////////////*/

.two_lines{
line-height: 18px!important; 	
}

.Btn_Text_Center{
	line-height:35px !important;
}


.gradient_Pill_Blue span {
  display: block;
  color: #fff;
  padding: 5px 10px;
  margin: 0px 2px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 5px 0 #808080;
  box-shadow: 0 2px 5px 0 #808080;
  width: 100%;
  height: 50px;
  background: #5d82cb;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #5d82cb 0%, #3e70ca 35%, #2f62bb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5d82cb), color-stop(35%,#3e70ca), color-stop(100%,#2f62bb));
  background: -webkit-linear-gradient(top, #5d82cb 0%,#3e70ca 35%,#2f62bb 100%);
  background: -o-linear-gradient(top, #5d82cb 0%,#3e70ca 35%,#2f62bb 100%);
  background: -ms-linear-gradient(top, #5d82cb 0%,#3e70ca 35%,#2f62bb 100%);
  background: linear-gradient(to bottom, #5d82cb 0%,#3e70ca 35%,#2f62bb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d82cb', endColorstr='#2f62bb',GradientType=0 );
}

.gradient_Pill_Pink {
background: #ff3298 !important; /* Old browsers */
background: -moz-linear-gradient(top, #ff3298 0%, #ff3099 100%)!important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3298), color-stop(100%,#ff3099))!important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ff3298 0%,#ff3099 100%)!important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ff3298 0%,#ff3099 100%)!important; /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ff3298 0%,#ff3099 100%)!important; /* IE10+ */
background: linear-gradient(to bottom, #ff3298 0%,#ff3099 100%)!important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3298', endColorstr='#ff3099',GradientType=0 )!important; /* IE6-9 */

}

.person_icon{
  background-image: url(../images/person_icon.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 25px;
  width: 33px;
  
  margin: 0 auto;
  border: 0;
  
}

.center_align{
text-align:center !important;	
}
/*
.data_G.condiciones tr th span {
  line-height: 17px !important;
}*/


.condiciones{
  display: block;
  color: #222;
  padding: 5px 12px;	
  
  text-align:center !important;
  float:left;
  min-height:300px;
  height:100%;
}

.condiciones:nth-child(1){
width:47% !important;	
}

.condiciones:nth-child(2){
width:53% !important;	
}


.condiciones iframe{
	display: block;
  border: 1px solid #ea700d;
  border-radius:20px;
  width: 100%;
  height: 100%;
  min-height: 275px;
}

iframe{
margin: 0;	
}
.condiciones td a{
  text-decoration:underline !important;
  color: #ff3399 !important;
  cursor:initial !important;
}

.condiciones table{
	width:100%;	
}
.data_G.condiciones 		{ overflow-y: hidden; overflow-x: auto;}
.data_G.condiciones table 	{  min-width: auto;}
.data_G.condiciones tr th:nth-child(1) span,
.data_G.condiciones tr th:nth-child(2) span			{ line-height: 17px; !important}
.data_G.condiciones tr th:nth-child(1) span 		{ min-width: 95px;}
.data_G.condiciones tr th span						{ line-height: 17px; !important}


#Doc_Actions{
  display: block;
  width: 30px;
  margin: 0 auto;
  padding: 20px 0;
}

#Doc_Actions li {
  padding: 1px 2.5px;
  display: inline-block;
}

#Doc_Actions li a img {
  width: 30px;
  float:right;
}

.Adicionales{
  display: block;
  color: #222;
  padding: 5px 12px;	
  width:60% !important;
  text-align:center !important;
  float:left;
  height:100%;
}




iframe{
margin: 0;	
}
.Adicionales td a{
  text-decoration:underline !important;
  color: #ff3399 !important;
  cursor:initial !important;
}

.Adicionales table{
	width:100%;	
}
.data_G.Adicionales 		{ overflow-y: hidden; overflow-x: auto;}
.data_G.Adicionales table 	{  min-width: auto;}
.data_G.Adicionales tr th span						{ line-height: 37px; !important}

.images_Adic{
	width:70px;
	height:30px;
}

.images_Adic  img{
  height: 25px;
  float: left;
  padding:3px 5px;

}
	
.banner_warning{
	display: block;
  color: #222;
  padding: 50px 30px;
  width: 30% !important;
  text-align: center !important;
  float: left;
  min-height: 240px;
  height: 100%;
  border: 1px solid #ff3399;
  border-radius:20px;
  margin-top:15px;
  margin-left:50px;
  position:relative;
  
}

#warning{
position:absolute;	
top:0;
left:-50px;
width:90px;
background: #fff;
border-radius:100%;
}
 
.banner_warning p{
	padding:5px 15px;
	text-align:center;
	color: #000d52;
	font-weight:bold;
	line-height:120%;
	
}
 
 
 
 .tbl.data_Cob_1 {
  width: 260px;
  display:block;
  float:left;
}

 .poliza_lb_overlay {
  width: 260px;
  padding: 14px;
}

.trans_label_2 label {
  margin: 0px;
  width: 60%;
  height: 33px;
  background: #4472C4;
  color: #fff;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding-left: 10px;
  line-height: 31px;
  position: absolute;
  top: 8px;
  left: 0px;
  height: 36px;
  line-height: 35px !important;

  }


  .trans_label_2 select {
  width: 50%;
  height: 32px;
  padding-left: 12%;
  background: #fff;
  border: 1px solid #4472C4;
  float: right;
  position: relative;
  margin: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}


.poliza_lb_overlay label {
  width: 130px;
}

.poliza_lb_overlay select {
  width: 128px;
    -webkit-box-shadow: 0.5px 2px 6px #454545;
  box-shadow: 0.5px 2px 6px #454545;
}


.trans_label_2 {
  position: relative;
  width: 100%;
  float: left;
}


.td_first{
  padding:0 15px !important;
  text-align:left;

}

.data_Cob_1.tbl th {
  height: 50px;
  font-size: 0.8em !important;
  font-weight: normal;
  padding-right: 3px;
}

.data_Cob_1	 tr:nth-child(even) {
  background-color: #DDEBF7;
}

.data_Cob_1 .gradient_Pill_Blue span {
  display: block;
  color: #fff;
  padding: 5px 10px;
  margin: 0px 2px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 5px 0 #808080;
  box-shadow: 0 2px 5px 0 #808080;
  width: 100%;
  height: 35px !important;
  background: #5d82cb;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #5d82cb 0%, #3e70ca 35%, #2f62bb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5d82cb), color-stop(35%,#3e70ca), color-stop(100%,#2f62bb));
  background: -webkit-linear-gradient(top, #5d82cb 0%,#3e70ca 35%,#2f62bb 100%);
  background: -o-linear-gradient(top, #5d82cb 0%,#3e70ca 35%,#2f62bb 100%);
  background: -ms-linear-gradient(top, #5d82cb 0%,#3e70ca 35%,#2f62bb 100%);
  background: linear-gradient(to bottom, #5d82cb 0%,#3e70ca 35%,#2f62bb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d82cb', endColorstr='#2f62bb',GradientType=0 );
}

.vertical_btn_active{
	background-color: #92D050 !important;
	color: #333 !important;
	  background: #92D050 !important;
  background: -moz-linear-gradient(top, #92D050 0%,#92D050 100%)!important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#92D050), color-stop(35%,#92D050), color-stop(100%,#92D050))!important;
  background: -webkit-linear-gradient(top, #92D050 0%,#92D050 100%)!important;
  background: -o-linear-gradient(top, #92D050 0%,#92D050 100%)!important;
  background: -ms-linear-gradient(top, #92D050 0%,#92D050 100%)!important;
  background: linear-gradient(to bottom, #92D050 0%,#92D050 100%)!important;
	
}

.vertical_label_container{
  width: 35px;
  position: relative;
}

span.Btn_Text_Center.rotate_label {
  position: absolute;
  width: 200px;
  transform: rotate(-90deg);
  transform-origin: left top;
  bottom: -100px;
}

span.Btn_Text_Center.rotate_label2 {
  position: absolute;
  width: 100px;
  transform: rotate(-90deg);
  transform-origin: left top;
  bottom: -205px;
}




.tbl.data_Cob_1.condiciones:nth-child(2) {
  width: 760px !important;
}

.vertical_label{
padding-right:10px !important;	
}

.data_Cob_1.condiciones:nth-child(2) td{
font-size:0.7em !important;	
}

.container_padding {
  padding-bottom: 35px !important;
}

.Pull_Top{
  margin-top: 310px !important;	
  margin-left:7.5px;
  margin-bottom:0 !important;
  padding:0 !important;
}

.Advice{
width:410px !important;
position:relative;	
}

.Advice .pull_right{
	width:420px !important;
position:relative;	
z-index:200;
right: 60px;
}

.tbl.data_Cob_1.condiciones tr td:nth-child(1){
  text-align:left !important;	
	  padding: 0 15px
}

.tbl.data_Cob_1.condiciones tr td:last-child{
  color: #ff3399 !important;	
}

.tbl.data_Cob_1.condiciones tr td:last-child img{
float:right;
margin:10px 10px 10px 0  ;

}

.Pink_Border{
  border: 1px solid #ff3399 !important;	
}

.pagos_prog_right .Cdepartamento {
  position: relative;
  height: 43px;
  margin-top: 5px !important;
  width: 50%;
  max-width: 320px;
  float: left;
  margin: 0 10px;
}


.pagos_prog_right .Cdepartamento input {
  width: 55%;
  height: 33px;
  background: #fff;
  font-weight: bold;
  border: 1px solid #4472C4;
  position: absolute;
  top: 10px;
  right: 0px;
  text-align: left;
  -webkit-box-shadow: 0 2px 5px 0 #808080;
  box-shadow: 0 2px 5px 0 #808080;
}

.pagos_prog_right .Cdepartamento span {
  width: 50%;
  height: 33px;
  background: #4472C4;
  color: #fff;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding-left: 15px;
  line-height: 31px;
  font-size: 0.8em;
  text-align: left;
  -webkit-box-shadow: 0 2px 5px 0 #808080;
  box-shadow: 0 2px 5px 0 #808080;
}

.pagos_prog_right .Cdepartamento .label_title {
  width: 85%;
  
}
.pagos_prog_right .label_Monto span {
  width: 65%;
  height: 33px;
  border: 1px solid #FF3198;
  background: #fff;
  color: #3265BE;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding-left: 25px;
  text-align: left;
  line-height: 31px;
  font-size: 0.8em;
  position: relative;
  z-index: 50;
  -webkit-box-shadow: 0 2px 5px 0 #808080;
  box-shadow: 0 2px 5px 0 #808080;
}


.pagos_prog_right  .label_Monto input {
  width: 45%;
  height: 42px;
  background: #fff;
  font-weight: bold;
  border: 1px solid #FF3199;
  position: absolute;
  top: -5px;
  right: 0px;
  text-align: center;
  -webkit-box-shadow: 0 2px 5px 0 #808080;
  box-shadow: 0 2px 5px 0 #808080;
}

.extra_Width span{
width: 62% !important;
  max-width: 350px !important;
  left: -50px;
  position: relative;
}

.extra_Width input{
width: 72% !important;
  max-width: 340px !important;
  left:135px;
  }
  
  
.Container_Border {
  border: 1px solid #F60;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  position: relative;
  z-index: 100;
  padding: 30px 15px 50px 0;
  top: -5px;
  left: 5px;
}

.Pagos_Pro_Cont:nth-child(1) {
  width: 48%;
  display: inline-block;
  float: left;
}

.pagos_prog_right {
	/*width: 51% !important;*/
	 float: right;
	
}


