/*
CSS: Reset
Description: Codigo para equilibrar valores en diferentes navegadores.
Autor CSS: Dantelin Castro / Amaury Mateo
*/

/*---------- RESET ----------*/
#AtlanticaContenedor * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

    #AtlanticaContenedor *,
    #AtlanticaContenedor *::after,
    #AtlanticaContenedor *::before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }

*:focus {
    outline: 0px none transparent;
}

#AtlanticaContenedor html {
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgb(52,158,219);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height: 100%;
}

#AtlanticaContenedor body {
    line-height: 1;
    height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #F4F3F0;
    font-size: 16px;
    /*-webkit-font-smoothing: antialiased;
                font-family: Arial, Helvetica, sans-serif;*/
    color: #000;
    word-spacing: normal;
    background: #F5F4F1;
}

    #AtlanticaContenedor body form {
        height: 100% !important;
        display: block;
    }

#AtlanticaContenedor article, #AtlanticaContenedor aside, #AtlanticaContenedor details, #AtlanticaContenedor figcaption, #AtlanticaContenedor figure, #AtlanticaContenedor footer, #AtlanticaContenedor header, #AtlanticaContenedor hgroup, #AtlanticaContenedor main, nav, section, summary {
    display: block;
}

#AtlanticaContenedor .js body {
    overflow: hidden;
}

#AtlanticaContenedor .clearfix::before, .clearfix::after {
    content: " ";
    display: table;
}

#AtlanticaContenedor .clearfix::after {
    clear: both;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none; /*word-wrap: break-word;*/
    vertical-align: baseline;
    background: transparent;
    color: inherit;
}
/* Remove the blue Webkit background when element is tapped */
#AtlanticaContenedor a, button {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

    #AtlanticaContenedor a:focus {
        outline: 0;
    }

a:active, a:hover {
    outline: 0;
    text-decoration: none;
}

#AtlanticaContenedor a img {
    outline: none;
    border: 0;
}

#AtlanticaContenedor svg:not(:root) {
    overflow: hidden;
}

#AtlanticaContenedor b, strong {
    font-weight: bold;
}

#AtlanticaContenedor h1, #AtlanticaContenedor h2, #AtlanticaContenedor h3, #AtlanticaContenedor h4, #AtlanticaContenedor h5, #AtlanticaContenedor h6 {
    color: #222;
    padding-left: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

p {
    font-size: 13px;
    line-height: 22px;
    text-align: left;
    margin: 5px 0;
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
}

#AtlanticaContenedor textarea {
    resize: none;
    width: 100%;
    background: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    color: #000000;
    font-size: 13px;
    padding: 5px;
}

#AtlanticaContenedor iframe {
    display: block;
    border: 0;
    width: 100%;
}

#AtlanticaContenedor ul, #AtlanticaContenedor ol {
    list-style: none;
}

#AtlanticaContenedor a {
    text-decoration: none;
    vertical-align: baseline;
    background: transparent;
    color: inherit;
}

#AtlanticaContenedor a, #AtlanticaContenedor button {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

    #AtlanticaContenedor a:focus {
        outline: 0;
    }

a:active, a:hover {
    outline: 0;
    text-decoration: none;
}

#AtlanticaContenedor a img {
    outline: none;
    border: 0;
}

#AtlanticaContenedor b, #AtlanticaContenedor strong {
    font-weight: bold;
}

#AtlanticaContenedor h1, #AtlanticaContenedor h2, #AtlanticaContenedor h3,
#AtlanticaContenedor h4, #AtlanticaContenedor h5, #AtlanticaContenedor h6 {
    color: #222;
    padding-left: 1px; /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    font-weight: normal;
}

#AtlanticaContenedor p {
    font-size: 13px;
    line-height: 22px;
    text-align: left;
    margin: 5px 0;
    color: #222;
    /*font-family:Arial, Helvetica, sans-serif;*/
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
}

#AtlanticaContenedor textarea {
    resize: none;
    width: 100%;
    background: #FFF; /*font-family:Arial, Helvetica, sans-serif;*/
    line-height: 16px;
    color: #002060;
    font-size: 13px;
    overflow: auto;
}

#AtlanticaContenedor button,
#AtlanticaContenedor html input[type="button"],
#AtlanticaContenedor input[type="reset"],
#AtlanticaContenedor input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: none;
    outline: none;
}

#AtlanticaContenedor input[type="text"] {
    width: 100%;
    font-size: 0.8em;
    text-align: left;
    background-color: #FFFFFF;
    color: #002060;
}

#AtlanticaContenedor button[disabled],
#AtlanticaContenedor html input[disabled] {
    cursor: default;
}

#AtlanticaContenedor input[type="checkbox"],
#AtlanticaContenedor input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

#AtlanticaContenedor input[type="checkbox"] {
    margin: 0 auto;
}

#AtlanticaContenedor input[disabled],
#AtlanticaContenedor textarea[disabled],
#AtlanticaContenedor select[disabled] {
    background-color: #ECECEC;
    color: #888 !important;
}

#AtlanticaContenedor input, select {
    vertical-align: middle;
    font-size: 13px;
}

#AtlanticaContenedor select {
    width: 100%;
    text-align: left;
}

#AtlanticaContenedor tr a {
    text-decoration: none;
    vertical-align: middle;
}

#AtlanticaContenedor table {
    clear: both;
    border-collapse: collapse;
    border-spacing: 0;
    white-space-collapse: discard;
    width: 100%;
}

#AtlanticaContenedor td, th {
    border-spacing: 0px;
    vertical-align: middle;
    border: 0;
    font-size: 0.75em;
}

hr {
    display: block;
    clear: both;
    margin: 0.5em auto;
    border-style: inset;
    border-width: 1px;
    width: 100%;
    border-color: #222;
}

input[type="text"],
select, textarea {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}



/*jquery datepicker*/
.no_border {
    border: 0 !important;
}

.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
    max-width: 198px !important;
    z-index: 999 !important;
}

.ui-datepicker .ui-datepicker-title span {
    font-size: 13px !important;
    font-weight: bold;
    !important;
}

.ui-datepicker .ui-datepicker-title {
    line-height: 1.25em !important;
    height: 28px;
}

.ui-datepicker .ui-datepicker-prev-hover {
    left: 2px !important;
    top: 2px !important;
}

.ui-datepicker .ui-datepicker-next-hover {
    right: 2px !important;
    top: 2px !important;
}

.datepicker {
    background: #fff url(../css/images/calendar_icon.png) no-repeat 99% center !important;
}

.ui-datepicker-month {
    width: 42% !important;
}

.ui-datepicker-year {
    width: 58% !important;
}

.ui-datepicker-title select {
    background: none !important;
    padding: 0 !important;
    font-size: 13px !important;
}


.textareaCss {
    position: relative !important;
    top: -24px !important;
    margin-left: 37% !important;
    height: 80px !important;
}
