
body {
    /*padding-top: 50px;*/
    /*padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}

/*@media (min-width: 1500px) {
  .container {
    width: 1480px;
  }
}*/

.mt-10 {
    margin-top: 10px;
}

.table-striped > thead > tr:first-child {
    background: #0e76bc !important;
    /*-webkit-box-shadow: 0 0 2px 1px rgba(22,102,136, 0.58) inset;*/
    /*-moz-box-shadow: 0 0 2px 1px rgba(22,102,136, 0.58) inset;*/
    /*box-shadow: 0 0 2px 1px rgba(22,102,136, 0.58) inset;*/
    border-color: #113a55;
    color: #FFFFFF;
}

#tableManagements.table thead > tr > th {
    vertical-align: bottom;
    border-bottom: 0;
}

.navbar-inverse.atl {
    background-color: #113a55;
    border-color: #0d2d42;
}


.profile {
    margin: 20px 0;
}

.profile-sidebar {
    padding: 20px 0 10px 0;
    /*background: #fff;*/
    text-align: center;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    background-color: #fbfbfb;
}

.modal-header .close {
    margin-top: -20px !important;
}

.modal-header {
    background-color: #0e76bc;
    color: #FFFFFF;
}

.select2-container {
    width: 100% !important;
}




.nav a, .pv_dtl .block.block-themed > .block-header, .pv_dtl .mdl-textfield__input {
    /*color: #17a2b8 !important;*/
}

.block.block-themed > .block-header {
    border-bottom: none;
    color: #fff;
    background-color: #42a5f5;
}

.block-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding: 14px 18px;
    transition: opacity .2s ease-out;
}

.bg-danger {
    background-color: #dc3545 !important;
}

.border-white {
    border-color: #fff !important;
}

.border {
    border: 1px solid #e9ecef !important;
}

.bg-danger {
    background-color: #dc3545 !important;
}

.block.block-themed .btn-block-option {
    color: #fff;
    opacity: .7;
}

ul {
    text-decoration: none;
    margin: 0px;
    list-style: none;
    padding: 0px;
}



.loading:before {
    content: '';
    background-color: #fff;
    left: 0;
    top: 0;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    z-index: 8000;
    position: fixed;
}

.loading:after {
    content: '';
    position: fixed;
    background: url(images/loading.gif) no-repeat center center;
    width: 80px;
    height: 80px;
    background-size: 100%;
    left: 48%;
    top: 48%;
    z-index: 9000;
}



