SistemaFacturacion/App.config
SistemaFacturacion/bin/
SistemaFacturacion/obj/
.vs*
CapaDatos/App.Config
CapaDatos/bin/
CapaDatos/obj/
CapaEntidad/bin/
CapaEntidad/obj/
CapaLogicaNegocio/bin/
CapaLogicaNegocio/obj/
*.vso
*.sln
bin*
obj*
*.md
.gitignore
.vs/*
*.suo
