/*
CSS: Reset
Description: Codigo para equilibrar valores en diferentes navegadores.
Autor CSS: Dantelin Castro / Amaury Mateo
*/

/*---------- RESET ----------*/
#ContenedorComission  *{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
#ContenedorComission  *,
#ContenedorComission  *::after,
#ContenedorComission  *::before {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    padding: 0 !important;
    margin: 0 !important;
                }
#ContenedorComission  *:focus {outline:0px none transparent;}

#ContenedorComission  html { 
                -webkit-overflow-scrolling : touch; 
                -webkit-tap-highlight-color : rgb(52,158,219); 
                -webkit-text-size-adjust : 100%; 
                -ms-text-size-adjust : 100%; 
                height: 100%;
                }
#ContenedorComission  body {
                line-height:1 !important;
                height: 100% !important;
                -ms-text-size-adjust:100% !important;
                -webkit-text-size-adjust:100% !important;
                background-color: #F4F3F0 !important;
                font-size:16px !important;
                /*-webkit-font-smoothing: antialiased;
                font-family: Arial, Helvetica, sans-serif;*/
                color:#000 !important;
                word-spacing:normal !important;
                background:#F5F4F1 !important;     
                }
#ContenedorComission  body form { height: 100% !important; display: block;}
#ContenedorComission  article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}

#ContenedorComission  .clearfix::before, .clearfix::after { content: " "; display: table; }
#ContenedorComission  .clearfix::after { clear: both; }
#ContenedorComission  article,
#ContenedorComission  aside,
#ContenedorComission  details,
#ContenedorComission  figcaption,
#ContenedorComission  figure,
#ContenedorComission  footer,
#ContenedorComission  header,
#ContenedorComission  hgroup,
#ContenedorComission  menu,
#ContenedorComission  nav,
#ContenedorComission  section {display:block;}
#ContenedorComission  ul, #ContenedorComission   ol{ list-style:none;}
#ContenedorComission  a{text-decoration:none; /*word-wrap: break-word;*/ vertical-align:baseline; background:transparent; color:inherit;}
/* Remove the blue Webkit background when element is tapped */
#ContenedorComission  a, button { -webkit-tap-highlight-color: rgba(0,0,0,0);}
#ContenedorComission  a:focus{outline:0;}a:active,a:hover{outline:0;  text-decoration:none;}
#ContenedorComission  a img{ outline:none; border:0;}
#ContenedorComission  svg:not(:root){overflow:hidden;}
#ContenedorComission  b,strong{font-weight:bold;}
#ContenedorComission  h1 ,#ContenedorComission   h2, #ContenedorComission  h3, #ContenedorComission  h4,#ContenedorComission   h5,#ContenedorComission   h6{color:#222; padding-left:1px; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight:normal;}
#ContenedorComission  p {
                font-size: 13px;
                line-height: 22px;
                text-align: left;
                margin: 5px 0;
                color: #222;
                font-family:Arial, Helvetica, sans-serif;
                -webkit-hyphens : auto; -moz-hyphens : auto;
                }
#ContenedorComission  textarea               { resize:none; width:100%; background:#FFF; font-family:Arial, Helvetica, sans-serif; line-height: 20px; color:#000000; font-size:13px; padding:5px;}
#ContenedorComission  iframe                   { display:block; border:0; width:100%;}
#ContenedorComission  ul,#ContenedorComission   ol                      { list-style:none;}
#ContenedorComission  a                                              { text-decoration:none; vertical-align:baseline; background:transparent; color:inherit;}
#ContenedorComission  a,#ContenedorComission   button             { -webkit-tap-highlight-color: rgba(0,0,0,0);}
#ContenedorComission  a:focus                 { outline:0;}a:active,a:hover{outline:0;  text-decoration:none;}
#ContenedorComission  a img                     { outline:none; border:0;}
#ContenedorComission  b,strong               { font-weight:bold;}
#ContenedorComission  h1 #ContenedorComission  , h2, #ContenedorComission   h3,
#ContenedorComission  h4,#ContenedorComission   h5,  #ContenedorComission  h6           {color:#222; padding-left:1px; /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/ font-weight:normal;}
p {
                font-size: 13px;
                line-height: 22px;
                text-align: left;
                margin: 5px 0;
                color: #222;
                /*font-family:Arial, Helvetica, sans-serif;*/
                -webkit-hyphens : auto; -moz-hyphens : auto;
                }
#ContenedorComission  textarea               { resize:none; width:100%; background:#FFF; /*font-family:Arial, Helvetica, sans-serif;*/ line-height: 16px; color:#002060 ; font-size:13px; overflow:auto;}
#ContenedorComission  button,
#ContenedorComission  html input[type="button"],
#ContenedorComission  input[type="reset"],
#ContenedorComission  input[type="submit"]                    { cursor:pointer; -webkit-appearance: none; outline:none;}
#ContenedorComission  input[type="text"]                      { width:100%; font-size:0.8em; text-align:left; background-color:#FFFFFF; color:#002060 ;}
#ContenedorComission  button[disabled], 
#ContenedorComission  #ContenedorComission  html input[disabled]                    { cursor:default;}
#ContenedorComission  input[type="checkbox"], 
#ContenedorComission  input[type="radio"]                   	{ box-sizing:border-box;padding:0;}
#ContenedorComission  input[type="checkbox"]                	{ margin:0 auto;}
#ContenedorComission  input[disabled], 
#ContenedorComission  textarea[disabled], 
#ContenedorComission  select[disabled]                       	{ background-color:#ECECEC; color:#888 !important; }
#ContenedorComission  input, select                          	{ vertical-align:middle;font-size: 13px;}
#ContenedorComission  select                                	{ width:100%; text-align:left;}
#ContenedorComission  tr a                                  	{ text-decoration:none;vertical-align:middle;}
#ContenedorComission  table                                  	{ clear:both; border-collapse: collapse; border-spacing:0; white-space-collapse:discard; width:100%;}
#ContenedorComission  td, #ContenedorComission   th                                                                                     { border-spacing:0px; vertical-align:middle; border:0; /*font-size: 0.75em*/}

#ContenedorComission  hr {display: block;clear: both;margin: 0.5em auto;border-style: inset;border-width: 1px;width: 100%;border-color: #222;}
#ContenedorComission  input[type="text"],        
#ContenedorComission  select, #ContenedorComission  textarea {-webkit-border-radius: 5px;-moz-border-radius: 5px;-ms-border-radius: 5px;-o-border-radius: 5px;border-radius: 5px;}



/*jquery datepicker*/
#ContenedorComission  .no_border{ border:0 !important}
#ContenedorComission  .ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all{ max-width:198px!important; z-index:999!important}
#ContenedorComission  .ui-datepicker .ui-datepicker-title	span{ font-size:13px!important; font-weight:bold;!important}
#ContenedorComission  .ui-datepicker .ui-datepicker-title{ line-height:1.25em!important; height:28px}
#ContenedorComission  .ui-datepicker .ui-datepicker-prev-hover{ left:2px!important; top:2px!important;}
#ContenedorComission  .ui-datepicker .ui-datepicker-next-hover{ right:2px!important; top:2px!important;}
#ContenedorComission  .datepicker{
	background:#fff url(../images/calendar_icon.png) no-repeat 99% center!important;
}	
#ContenedorComission  .ui-datepicker-month{ width:42%!important}
#ContenedorComission  .ui-datepicker-year{ width:58%!important}
#ContenedorComission  .ui-datepicker-title select{ background:none!important; padding:0!important;  font-size:13px!important;}

