

/*-----------LOADING----------*/

.loading {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    pointer-events: none;
    z-index: 9999;
}

    .loading::before,
    .loading::after {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        border: 12px solid #fff;
        border-radius: 50%;
        content: '';
    }

    .loading::before {
        margin-left: -60px;
        margin-top: -60px;
        width: 120px;
        height: 120px;
        border-right-color: #80BF20;
        border-left-color: #80BF20;
        -webkit-animation: rotation 3s linear infinite;
        animation: rotation 3s linear infinite;
    }

    .loading::after {
        top: 50%;
        left: 50%;
        margin-left: -30px;
        margin-top: -30px;
        width: 60px;
        height: 60px;
        border-top-color: #80BF20;
        border-bottom-color: #80BF20;
        -webkit-animation: rotation 1s linear infinite;
        animation: rotation 1s linear infinite;
    }

@-webkit-keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.calendar_agent .today #spnMonth {
    background-color: #CBCDCF;
    height: 75px;
    position: relative;
    right: 0;
    top: 0;
    color: #FFF;
    font-size: 1em;
    text-transform: capitalize;
}

.calendar_agent .today #spnDay {
    font-size: 2.5em;
    position: absolute;
    right: 20px;
    top: -1px;
    text-align: right;
    display: block;
    width: 100px;
    height: 80px;
}

.content_tabs textarea[disabled] {
    background: none;
}

.content_tabs [disabled], .content_tabs [readonly] {
    color: black;
}

#UpdateProgressLogin div.loading {
    display: inherit;
}

div.loading {
    display: none;
    position: absolute;
}

div.divlistfilter {
    position: absolute;
    background-color: white;
    padding: 3px 15px 3px 10px;
    font-size: 1em;
    overflow-y: auto;
    font-weight: bold;
    max-height: 120px;
}

    div.divlistfilter table td {
        font-size: 1em;
    }

        div.divlistfilter table td span {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

    div.divlistfilter td:nth-child(1) {
        width: 15px;
    }

.miniloading {
    background: #FFF url('../images/miniLoading.gif') right center no-repeat;
}

.perfil .foto_perfil img {
    height: 100%;
}

div.content_calendar .ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
    max-width: 100% !important;
}

td.dxpgArea_DevEx.dxpgFilterArea_DevEx table {
    width: inherit;
}

li.last-child {
    border: 1px solid #c6c6c6;
}

#divPerfil {
    width: 288px;
}

.loadingcontent {
    /*background: rgba(224, 224, 224, 0.5);
    display: table;
    font-size: 18pt;
    height: 100%;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    z-index: 999999;*/
}

    .loadingcontent p {
        text-align: center;
    }

    .loadingcontent img {
        position: relative;
        top: 226px;
        width: inherit;
    }

#UpdateProgressLogin .loading {
    display: inherit;
}

.loading {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 999999;
}

#acordeon_agent_profile td, #acordeon_agent_profile th {
    border-spacing: 0px;
    vertical-align: middle;
    border: 0;
    font-size: 0.75em;
}
/*cabecera principal degradado gris*/
.dxpgColumnFieldValue_DevEx table.tblcancelledinprocess td {
    width: 40px;
    min-width: 40px;
    color: #222;
    text-transform: capitalize;
    height: 28px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    white-space: normal !important;
    vertical-align: middle;
    background: #ededed;
    background: -moz-linear-gradient(top, #ededed 0%, #c6c6c6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#c6c6c6));
    background: -webkit-linear-gradient(top, #ededed 0%,#c6c6c6 100%);
    background: -o-linear-gradient(top, #ededed 0%,#c6c6c6 100%);
    background: -ms-linear-gradient(top, #ededed 0%,#c6c6c6 100%);
    background: linear-gradient(to bottom, #ededed 0%,#c6c6c6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#c6c6c6',GradientType=0 );
    text-shadow: 1px 1px 0px #f4f4f4;
    -moz-box-shadow: inset 0px 1px 0px 0px #f4f4f4;
    -webkit-box-shadow: inset 0px 1px 0px 0px #f4f4f4;
    box-shadow: inset 0px 1px 0px 0px #f4f4f4;
}

td.dxpgColumnFieldValue_DevEx.dxpgColumnTotalFieldValue_DevEx.dxpgColumnGrandTotalFieldValue_DevEx {
    border-top: 0;
    border-right: 0;
    width: 100px;
    min-width: 60px;
    max-width: 70px;
}

.grid_wrap table {
    min-width: 0;
}

.ui-datepicker table {
    font-size: .9em !important;
    width: 100%;
}

    .ui-datepicker table td, .ui-datepicker table th {
        font-size: 0.75em;
    }

select.combo_box {
    background-image: none;
}

img {
    width: auto;
}

.headerforms.de_9.last > div {
    width: 40%;
}

.col-1-3-b:nth-child(1), .col-1-3-b:nth-child(2) {
    width: 50%;
}

div.col100p {
    width: 100%;
}

div.col50p {
    width: 50%;
}

.Div_Popup {
    position: absolute;
    top: 0;
    left: 0;
    background-color: Black;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.gridview tr:nth-child(odd).datagrid td {
    background-color: #E1F0D5;
}

.gridview .datagrid td, tr.totales td, table.totales tr td {
    vertical-align: middle;
    height: 30px;
    max-height: 30px;
    text-align: center;
    font-size: 12px;
    border: solid 1px #c6c6c6;
    font-family: 'Arial', Helvetica, sans-serif;
}

    .gridview tr.datagrid td div, tr.totales td div, table.totales tr td div {
        margin: 0 auto;
        font-size: 12px;
        line-height: 13px;
        color: #000;
        font-family: 'Arial', Helvetica, sans-serif;
        font-weight: 400;
        padding: 2px 8px;
        max-height: 32px;
        overflow: hidden;
        background: none;
        border: 0;
    }

.gridview input[type="text"], .gridview textarea, .gridview .combo_box, .gridview .contenedor_attachments, .gridview .wrap_select {
    display: block;
    padding: 5px;
    color: #669933;
    width: 100%;
    font-size: 13px;
    text-align: left;
    border: none;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
    -webkit-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
    -moz-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
    -o-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
    background-color: #FFF;
    height: 19px;
    max-height: 28px;
}

.gridview .dxeButtonEdit_DevEx {
    border: none;
}

.headgrid th div.headerrenewals {
    margin: 0;
    padding: 0;
}

div.headerrenewals table {
    width: 100%;
}

div.headerrenewals span:nth-child(1) {
    margin: 2px auto 0 auto;
    padding: 0 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
}

div.headerrenewals tr:nth-child(1) td:nth-child(1) {
    border-left: none;
    border-bottom: none;
}

div.headerrenewals tr:nth-child(1) td:nth-child(2) {
    border-right: none;
    border-bottom: none;
}

span.headerrenewals {
    margin: 2px auto 0 auto;
    padding: 0 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
}

.datagrid div.datarenewals {
    margin: 0;
    padding: 0;
}

.datagrid .datarenewals tr td {
    border: none;
}

.bordernone > tbody > tr > td {
    border: none !important;
}

@media (min-width: 1040px) {
    .nav li {
        width: 7.14%;
    }
}

tr td.dxgv td.dxic input[type="text"].dxeEditArea_DevEx.dxeEditAreaSys {
    height: 16px !important;
    max-height: 16px !important;
    border: 0 !important;
    background: #FFF;
    outline: 0px none transparent !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    min-width: 80px !important;
}

.dxeButtonEditSys.dxeButtonEdit_DevEx input {
    height: 29px;
    max-height: 29px;
}

#txtPaymentInstructions {
    height: 188px;
}

#divpaymentinstruction li.last-child {
    border: none;
}

input.boton:disabled {
    color: gray;
}

.dxgvFocusedRow_DevEx {
    background: none;
    background-color: #8CC65E;
}

div.dxpcDropDown_DevEx.dxpclW.dxpc-ddSys {
    width: 200px !important;
}

.icon_container .icon_form_09 {
    background-repeat: repeat;
}

.icon_container .icon_form_25 {
    background-repeat: repeat;
}

.icon_container .icon_form_27 {
    background-repeat: repeat;
}

.contacts {
    background-image: url(../images/icono_virtualoffice_dashboard_contact.svg);
}

.newbusiness {
    background-image: url(../images/icono_virtualoffice_dashboard_new_business.svg);
}

#divadminagent .details_grid tr:nth-child(even) td {
    background-color: #FFF;
}

#divadminagent .details_grid td {
    border: none;
}

.contenido_derecha #divadminagent input[type="text"], .contenido_derecha #divadminagent textarea, #divadminagent .combo_box, #divadminagent .contenedor_attachments, #divadminagent .wrap_select {
    margin: 1px;
}

#divadminagent td.required {
    color: red;
}

.form_option_container a[href='#'] .form_option {
    border: 1px solid #F0F0F0;
    background: #b5b8b9; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #b5b8b9 0%, #e9e9e9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#b5b8b9), color-stop(100%,#e9e9e9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #b5b8b9 0%,#e9e9e9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #b5b8b9 0%,#e9e9e9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #b5b8b9 0%,#e9e9e9 100%); /* IE10+ */
    background: linear-gradient(135deg, #b5b8b9 0%,#e9e9e9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5b8b9', endColorstr='#e9e9e9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#divadminagent .grupos {
    margin-left: 0;
    margin-right: 0;
}

#divadminagent .combo_box {
    padding-left: 0;
    /*top: 180px;*/
    left: 0px;
}


.combo_box_adminagent .dxeEditArea_DevEx.dxeEditAreaSys {
    padding: 0px;
}

.productionlevel .datagrid tr td div {
    max-height: none;
}

.productionlevel .datagrid tr:hover td {
    background-color: transparent;
}

.productionlevel .combo_box_adminagent {
    width: 100%;
}

.productionlevel .datagrid tr:hover td.dxeListBoxItemHover_DevEx {
    color: #201f35;
    background: #e2eafd none;
}

.productionlevel .datagrid tr td.dxeListBoxItem_DevEx, tr.totales td, table.totales tr td {
    vertical-align: middle;
    height: 30px;
    max-height: 30px;
    text-align: center;
    font-size: 12px;
    border: none;
    font-family: 'Arial', Helvetica, sans-serif;
}

.productionlevel .dxpc-mainDiv, .productionlevel .dxpc-contentWrapper {
    padding: 0;
    border: 1px solid !important;
}

#st-container {
    overflow-y: auto;
}

#barButtonAdminAgent input {
    margin-right: 5px;
}

input.show_profile_es {
    background-image: url(../images/btn_perfiles.png);
}

input.toolbar_btn_es {
    background-image: url(../images/toolbar_btn_es.svg);
    width: 38px;
    right: -8px;
    z-index: 1;
}

#Body_PolicyDetail_divPendingCuadroAzul label {
    height: 22px;
}

.de_9.last > div:last-child {
    width: 24%;
}

.boton input[type=submit] {
    display: block;
    cursor: pointer;
    border: 0;
    outline: 0;
    padding: 0;
    text-align: center;
    font-size: 0.9em;
    margin: 0px auto;
    color: #FFF;
    font-size: 18px;
    line-height: 64px;
    height: 65px;
    font-size: 22px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    float: left;
}

.dependencyIcon {
    background: url(../images/dependency.png) no-repeat center center !important;
    padding: 13px;
    background-size: contain;
}

.wrap_select select {
    height: 100%;
}

td.lastHorzCell {
    background: #FDF3CC !important;
}

#divLanguage li.last-child {
    border: none;
}

.displaynone {
    display: none;
}

.c10P {
    width: 10%;
}

.c16P {
    width: 16%;
}

.c8P {
    width: 8%;
}

#grdClientAndPoliciesCoverage .dxgvHeader_DevEx:first-child, #grdClientAndPoliciesCoverage .dxgvDetailButton_DevEx, #grdClientAndPoliciesDrivers .dxgvHeader_DevEx:first-child, #grdClientAndPoliciesDrivers .dxgvDetailButton_DevEx {
    visibility: hidden;
}


#Grid_dv .azul .dxgvHeader_DevEx, #Grid_dv .dxgvHeader_DevEx.gradient_Pill_Pink {
    background: #ff3298 !important; /* Old browsers */
    background: -moz-linear-gradient(top, #ff3298 0%, #ff3099 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3298), color-stop(100%,#ff3099)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ff3298 0%,#ff3099 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ff3298 0%,#ff3099 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ff3298 0%,#ff3099 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom, #ff3298 0%,#ff3099 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3298', endColorstr='#ff3099',GradientType=0 ) !important; /* IE6-9 */
}

#AtlanticaContenedor .icon_alert {
    background: url(../css/images_clientside/New-Alert.png);
}

#AtlanticaContenedor ul.tabs li a {
    /*width:inherit;*/
}

#AtlanticaContenedor .riders_info_L .riders_info_g, #AtlanticaContenedor .riders_info_L article {
    height: 100% !important;
}

#AtlanticaContenedor .auto_cont ul.boton_result li:nth-child(3) a {
    line-height: inherit;
}

#AtlanticaContenedor .auto_cont ul.boton_result li:nth-child(4) a {
    line-height: 40px;
}

#AtlanticaContenedor .auto_cont ul.boton_result li {
    width: 11.42% !important;
}

.dxgvHeader_DevEx * {
    text-align: center;
}

#divPending {
    margin-top: 0px !important;
}

.ui-autocomplete {
    z-index: 999;
    /*width: 10% !important;*/
    width: 23% !important;
    max-height: 100px;
    height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

@media (min-width:762px) and (max-width: 1040px) {
    #divadminagent .col-1-3-b {
        width: 100%;
        float: none;
    }
}

#AtlanticaContenedor .box_2 {
    width: 100%;
}

    #AtlanticaContenedor .box_2 .tbl.data_G {
        height: 100%;
    }

#AtlanticaContenedor .cont_gnl.tab_pane_container.riders_info_L .frontal {
    height: 186px;
    width: 93%;
    overflow-y: none;
    margin: 0;
}

@media handheld, only screen and (max-width: 1280px) {
    .grid-pad {
        padding-left: 0px !important;
    }

    .cdn_agent {
        margin-right: 0px !important;
    }

    #divAgentPeriod {
        margin-left: 0px !important;
    }
}

#AgentContenedor .check_lb label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

td.dxichCellSys {
    width: 1%;
}

#AtlanticaContenedor input[type="text"] {
    width: 59%;
}

#AtlanticaContenedor #txtBuscarMonto {
    text-align: right;
}

#divContactUsDocument table {
    text-align: center;
}

#divContactUsDocument {
    overflow-x: hidden;
}

#Body_wucClientsAndPoliciesSearch_wucClientsPoliciesAtlantica_wucContactUs_fldContact_Browse0 a {
    display: block;
}

#Body_wucClientsAndPoliciesSearch_wucClientsPoliciesAtlantica_wucContactUs_fldContact_TextBox0 {
    width: auto !important;
}

#AtlanticaContenedor .expand_icon2 {
    width: 30px;
    height: 30px;
}

#AgentContenedor #grvLicencias .gradient_azulp {
    min-width: inherit !important;
}

#AgentContenedor #grvLicencias .c1 {
    width: 20%;
}

#AgentContenedor #grvLicencias .c2 {
    width: 20%;
}

#AgentContenedor #grvLicencias .c3 {
    width: 20%;
}

#AgentContenedor #grvLicencias .c4 {
    width: 15%;
}

#AgentContenedor #grvLicencias .c5 {
    width: 15%;
}

#AgentContenedor #grvLicencias .c6 {
    width: 15%;
}


/*JHEIRON DOTEL 01-02-2016*/

.c15P {
    width: 15% !important;
}

.c3P {
    width: 3% !important;
}

.c13P {
    width: 13% !important;
}

.c5P {
    width: 5% !important;
}

.c12P {
    width: 12% !important;
}

.c7P {
    width: 7% !important;
}

.c69P {
    width: 69% !important;
}
/*************************/

#AgentContenedor #divDocumentList {
    overflow-y: auto;
}

#AgentContenedor .jerarq_tbl {
    overflow-x: auto;
}





/*.dependencyIcon02 {
    background: url(../images/Pencil.png) no-repeat center center !important;
    padding: 13px;
    background-size: contain;
}*/


.dependencyIcon02 {
    background-image: url(../images/Pencil.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center center;
    background-size: 24px 24px;
    height: 22px;
    width: 41px;
    display: block;
    border: 0;
    right: 5px;
    top: 8px;
    text-indent: -999px;
    cursor: pointer;
    outline: 0;
}


.dependencyIcon03 {
    background-image: url(../images/process_icon.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center center;
    background-size: 24px 24px;
    height: 22px;
    width: 41px;
    display: block;
    border: 0;
    right: 5px;
    top: 8px;
    text-indent: -999px;
    cursor: pointer;
    outline: 0;
}


.dependencyIcon03Disabled {
    background-image: url(../images/process_icon_disable.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center center;
    background-size: 24px 24px;
    height: 22px;
    width: 41px;
    display: block;
    border: 0;
    right: 5px;
    top: 8px;
    text-indent: -999px;
    cursor: pointer;
    outline: 0;
}
