/*---------- RESET ----------*/
*{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}     
*:focus {outline:0px none transparent;}

html { 
	-webkit-overflow-scrolling : touch; 
	-webkit-tap-highlight-color : rgb(52,158,219); 
	-webkit-text-size-adjust : 100%; 
	-ms-text-size-adjust : 100%; 
	height: 100%;
	overflow:hidden;
}
body {
    line-height:1;
	height: 100%;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	background-color: #F4F3F0;
	font-size:16px;
	/*-webkit-font-smoothing: antialiased;*/
	font-family: Arial, Helvetica, sans-serif;
	color:#000;
	word-spacing:normal;
	background:#F5F4F1;	
}
body form { height: 100% !important; display: block;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
/*.js body {overflow: hidden;}*/
.clearfix::before, .clearfix::after { content: " "; display: table; }
.clearfix::after { clear: both; }
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {display:block;}
ul, ol{ list-style:none;}
a{text-decoration:none; /*word-wrap: break-word;*/ vertical-align:baseline; background:transparent; color:inherit;}
/* Remove the blue Webkit background when element is tapped */
a, button { -webkit-tap-highlight-color: rgba(0,0,0,0);}
a:focus{outline:0;}a:active,a:hover{outline:0;  text-decoration:none;}
a img{ outline:none; border:0}
svg:not(:root){overflow:hidden;}
b,strong{font-weight:bold;}
h1, h2, h3, h4, h5, h6{color:#222; padding-left:1px; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight:normal}
p {
	font-size: 13px;
	line-height: 22px;
	text-align: left;
	margin: 5px 0;
	color: #222;
	font-family:Arial, Helvetica, sans-serif;
	-webkit-hyphens : auto; -moz-hyphens : auto;
}
textarea{ resize:none; width:100%; background:#FFF; font-family:Arial, Helvetica, sans-serif; line-height: 20px; color:#000000; font-size:13px; padding:5px;}


/*---------- MENU SUPERIOR ----------*/
.main_menu {
	width: 100%;
	/*float: left;*/
	/*min-height: 90px;*/
	position:relative; /*height:90px;*/ top:0;
}
.icon-menu {
		background-image:url(../images/menu_toogle.svg);
		background-size:22px 20px;
		background-repeat:no-repeat;
		background-position:32px 0px;
}
a, li {-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}


/*global css aplica para todas las resoluciones*/
.nav ul {
	/*max-width: 1240px;*/
	margin: 0;
	padding: 0;
	list-style: none;
	/*font-size: 1.5em;*/
	font-weight: 300;
}
.nav li span{ display:block;}
.nav li span.icon {
	width:48px;
	height:48px;
	text-align:center;
	margin:0 auto;
	vertical-align:middle;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 60%;
	border-radius:100%;-moz-border-radius:100%;-webkit-border-radius:100%;
	
}

.nav li span {
    display: block;
}

    .nav li span.icon {
        width: 44px;
        height: 44px;
        text-align: center;
        margin: 0 auto;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center center;
    }

/*============| BOTONES MENU PRINCIPAL | =============*/

.ncliente_ico 	{ background-image: url(../images/top-menu-icon/ncliente.png);border: 2px solid #50B33A;}
.ncliente_ico + span { color: #50B33A;}

.dashBoard_n 		{ background-image: url(../images/top-menu-icon/dashboard.png);border: 2px solid #F99A12;}
.dashBoard_n + span { color: #F99A12;}

.abono 			{ background-image: url(../images/top-menu-icon/abono.png);border: 2px solid #E3CC9E;}
.abono + span 	{ color: #E3CC9E;}

.renovacion 	{ background-image: url(../images/top-menu-icon/renovacion.png);border: 2px solid #4383DB;}
.renovacion + span 	{ color: #4383DB;}

.cancelacion 	{ background-image: url(../images/top-menu-icon/cancelacion.png);border: 2px solid #FF1616;}
.cancelacion + span { color: #FF1616;}

.reclamacion { background-image: url(../images/top-menu-icon/voice10.png);border: 2px solid #E9FFC7;}
.reclamacion + span { color: #E9FFC7;}

.cotiza 	{ background-image: url(../images/top-menu-icon/cotizaciones.png);border: 2px solid #73C2BA;}
.cotiza + span { color: #73C2BA;}

.commu 		{ background-image: url(../images/top-menu-icon/communication.png);border: 2px solid #CF7751;}
.commu + span { color: #CF7751;}

.pendiente 			{ background-image: url(../images/top-menu-icon/pending.png);border: 2px solid #F4EADA;}
.pendiente + span 	{ color: #F4EADA;}

.formu 	{ background-image: url(../images/top-menu-icon/form.png);border: 2px solid #40B0C9;}
.formu + span 	{ color: #40B0C9;}

.centretenimiento 	{ background-image: url(../images/top-menu-icon/training.png);border: 2px solid #00AFF1;}
.centretenimiento + span { color: #00AFF1;}

.cpoliza { background-image: url(../images/top-menu-icon/search102.png);border: 2px solid #CDDA60;}
.cpoliza + span { color: #CDDA60;}

.contacto_t { background-image: url(../images/top-menu-icon/contacts13.png);border: 2px solid #B2F3FF;}
.contacto_t + span { color: #B2F3FF;}

.rdinversion { background-image: url(../images/top-menu-icon/rdinversion.png);border: 2px solid #DF07F8;}
.rdinversion + span { color: #DF07F8;}


.icon + span{ font-size:0.75em; text-align:center; margin-top:5px;font-weight: 400;}
.nav a {
                height:90px;
                display: block;    
                color: rgba(255, 255, 255, .9);
                text-decoration: none;
                padding: 0.3em 0.25em;
                text-shadow: 0px 1px 2px rgba(0,0,0, .65);
                text-align:center;
                border-left: 1px solid transparent; /*#001320*/
				
		 /*-webkit-box-shadow: 0 0 2px 1px rgba(13, 46, 77, 0.55) inset;
		 -moz-box-shadow: 0 0 2px 1px rgba(13, 46, 77, 0.55) inset;
		 box-shadow: 0 0 2px 1px rgba(13, 46, 77, 0.55) inset;
		*/
                -webkit-transition: color 0.5s, background 0.5s, height 0.5s;
                -moz-transition: color 0.5s, background 0.5s, height 0.5s;
                -o-transition: color 0.5s, background 0.5s, height 0.5s;
                -ms-transition: color 0.5s, background 0.5s, height 0.5s;
                transition: color 0.5s, background 0.5s, height 0.5s;
                
                  
}

.no-touch .navtoogle a:hover,
.nav li a:hover,
.navtoogle a:active,
.navtoogle a:focus, a.active, .nav li a.active {
                /*height: 10em;*/
                background: #11385b;
		 background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzExMzg1YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMjExMjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		 background: -moz-linear-gradient(top, #11385b 0%, #021122 100%);
		 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#11385b), color-stop(100%,#021122));
		 background: -webkit-linear-gradient(top, #11385b 0%,#021122 100%);
		 background: -o-linear-gradient(top, #11385b 0%,#021122 100%);
		 background: -ms-linear-gradient(top, #11385b 0%,#021122 100%);
		 background: linear-gradient(to bottom, #11385b 0%,#021122 100%);
		 
                
                -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
                -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
                box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
				   border-left:1px solid #0C131F;   
}



.no-touch .nav ul:hover a { color: rgba(255, 255, 255, .5);}
.no-touch .nav ul:hover a:hover {
                color: #FFF;
                background: #11385b;
		 background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzExMzg1YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMjExMjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		 background: -moz-linear-gradient(top, #11385b 0%, #021122 100%);
		 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#11385b), color-stop(100%,#021122));
		 background: -webkit-linear-gradient(top, #11385b 0%,#021122 100%);
		 background: -o-linear-gradient(top, #11385b 0%,#021122 100%);
		 background: -ms-linear-gradient(top, #11385b 0%,#021122 100%);
		 background: linear-gradient(to bottom, #11385b 0%,#021122 100%);
                
                -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
                -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
                box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
				   border-left:1px solid #0C131F;   
}



.no-touch .navtoogle a:hover,
.navtoogle a:active,
.navtoogle a:focus, a.active, .nav li a.active {
                /*height: 10em;*/
                background: #11385b;
		 background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzExMzg1YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMjExMjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		 background: -moz-linear-gradient(top, #11385b 0%, #021122 100%);
		 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#11385b), color-stop(100%,#021122));
		 background: -webkit-linear-gradient(top, #11385b 0%,#021122 100%);
		 background: -o-linear-gradient(top, #11385b 0%,#021122 100%);
		 background: -ms-linear-gradient(top, #11385b 0%,#021122 100%);
		 background: linear-gradient(to bottom, #11385b 0%,#021122 100%);
                
                -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
                -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
                box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
				     
}

/* Styling the toggle menu link and hiding it */
.nav .navtoogle{
                display: none;    
                width: 100%;
                text-align: left;
                color:#FFF;
                font-size: 1em;
                background: none;          
                border: none;
		
                border-top: 1px solid #020e23;
                border-bottom: 4px solid #020e23;
		
                padding-top:2px;
		padding-left: 30px;
                
                cursor: pointer;
                line-height:32px;              
                background:#01254c;
                -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
                -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
                box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}
.navtoogle i{
                z-index:3;
                padding-left:50px;
}
.no-touch .navtoogle a:hover,
.navtoogle a:active,
.navtoogle a:focus, a.active, .nav li a.active {
                /*height: 10em;*/
                
		background: #11385b;
		 background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzExMzg1YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMjExMjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		 background: -moz-linear-gradient(top, #11385b 0%, #021122 100%);
		 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#11385b), color-stop(100%,#021122));
		 background: -webkit-linear-gradient(top, #11385b 0%,#021122 100%);
		 background: -o-linear-gradient(top, #11385b 0%,#021122 100%);
		 background: -ms-linear-gradient(top, #11385b 0%,#021122 100%);
		 background: linear-gradient(to bottom, #11385b 0%,#021122 100%);
		 -webkit-box-shadow: 0 0 2px 1px rgba(13, 46, 77, 0.55) inset;
		-moz-box-shadow: 0 0 2px 1px rgba(13, 46, 77, 0.55) inset;
		box-shadow: 0 0 2px 1px rgba(13, 46, 77, 0.55) inset;
}


.main_menu a.active, 
.nav li a.active
{color:#FFF !important}
.main_menu{ height:auto;}

/*==================================*\
	HEADER
\*==================================*/

.main_menu {width: 35%;min-height: 90px;/*float: left;*/min-width: 410px;}
.main_menu {
	width: 100%; 
	float: left !important;
	background-color: #001B2B;
	background-image: -moz-linear-gradient(top,#001B2B,#001320);  
	background-image: -webkit-linear-gradient(top,#001B2B,#001320);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#001B2B), color-stop(100%,#001320));
	background-image: -o-linear-gradient(top,#001B2B,#001320);
	background-image: linear-gradient(to bottom,#001B2B,#001320);
}

/* Sub menu ATLANTICA PV -------------------- */


.drop-nav {
  background: #2c3e50;
}
.name_dd {
	width: 100%;
	height: 105px;
	color: #fff;
	font-weight: normal;
	z-index: 1;
	top: 33px;
	left: 0;
  	line-height: 150px;
	text-shadow: 1px 1px 5px #001827;
	-webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	
	  background: #11385b;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #11385b 0%, #021122 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#11385b), color-stop(100%,#021122));
  background: -webkit-linear-gradient(top, #11385b 0%,#021122 100%);
  background: -o-linear-gradient(top, #11385b 0%,#021122 100%);
  background: -ms-linear-gradient(top, #11385b 0%,#021122 100%);
  background: linear-gradient(to bottom, #11385b 0%,#021122 100%);
  -webkit-box-shadow: 0 0 2px 1px rgba(13, 46, 77, 0.55) inset;
  -moz-box-shadow: 0 0 2px 1px rgba(13, 46, 77, 0.55) inset;
  box-shadow: 0 0 2px 1px rgba(13, 46, 77, 0.55) inset;
	font-size: 0.9em;
}
.dropdown > a {z-index: 99;  background: none !important;}
.dropdown,
.flyout {
  position: relative;
}
/*.dropdown:after {
  content: "\25BC";
  font-size: .5em;
  display: block;
  position: absolute;
  top: 38%;
  right: 12%;
}*/
.drop-nav,
.flyout-nav,
.name_dd {
  position: absolute;
  display: none;
}
.drop-nav 					{ padding-top: 10px !important;color: #fff;z-index: 9999;background: #001827;top: 138px;min-width: 200px;left: -42px;-webkit-border-radius: 10px;border-radius: 10px;font-size: 0.9em; }
.drop-nav li				{ position: relative;float: left;height: 35px;width: 100% !important;white-space: nowrap;}
.drop-nav li:nth-child(1) > a,
ul.flyout-nav li.flyout:nth-child(1) a {-webkit-border-radius: 10px 10px 0 0;border-radius: 10px 10px 0 0;}
.drop-nav li a {
    color: #fff !important;
    display: block;
    padding: 10px 30px 10px 60px;
    text-decoration: none;
	text-align: left;
	height: 35px;
	text-shadow: none;
	font-weight: normal;
	
  }
.drop-nav li:last-child 	{ height: 50px;}
	
	
.drop-nav li a:hover 		{ background: #0099FF !important; border: 0px !important;}
.flyout-nav li.hg50 a:hover { height: 50px !important;}
.dropdown:hover a span 		{ position: absolute;z-index: 9;}
.dropdown:hover span.icon 	{ margin: 0 29.1%;}
.dropdown:hover span.txt_lb { margin: 39.1% 29.1%;}
.dropdown:hover a .name_dd,
.dropdown:hover > .drop-nav,
.flyout:hover > .flyout-nav {  display: block;}

.flyout-nav {  left: 100%; top: 0;}

/*.flyout:hover a,*/
.flyout-nav 		{  background: #fff;text-align: center;-webkit-border-radius: 10px;border-radius: 10px; overflow: hidden;}
.drop-nav,
.flyout-nav 		{ -webkit-box-shadow: 2px 2px 10px 0 #555;box-shadow: 2px 2px 10px 0 #555;}

.flyout-nav li:nth-child(even) 	{ background-color: #E5E5E5;}
.flyout-nav li:nth-child(odd) 	{ background-color: #fff;}
.flyout-nav li  				{ float: left; min-width: 200px;}
.flyout-nav li a 				{ text-align: center;color: #001827 !important;padding: 10px 30px;}
.flyout-nav li a:hover 			{ color: #fff !important;}

.flyout:hover { background: #0099FF;}

/*ICONOS SUB MENU*/
.ico19 				{ width: 19px;height: 26px;}
.ico28 				{ width: 28px;height: 26px;}
.ico30 				{ width: 30px;height: 26px;}
.ico40 				{ width: 40px;height: 26px;}


.mn_auto,
.mn_vida, 
.mn_salud,
.mn_pers,
.mn_prop,
.mn_trans,
.mn_fianza,
.mn_rcivil 			{ position: absolute;top: 5px;left: 10px;}

a b.mn_auto 		{ background:url(../images/ico_PV_menu.png) no-repeat 0px 0px; }
a:hover b.mn_auto,
.flyout:hover b.mn_auto		{ background-position: 0px -26px; }

a b.mn_vida 		{ position: absolute;top: 5px;left: 10px;background:url(../images/ico_PV_menu.png) no-repeat -31px 0px; }
a:hover b.mn_vida,
.flyout:hover b.mn_vida		{ background-position: -31px -26px; }

a b.mn_salud 		{ position: absolute;top: 5px;left: 10px;background:url(../images/ico_PV_menu.png) no-repeat -61px 0px; }
a:hover b.mn_salud,
.flyout:hover b.mn_salud	{ background-position: -61px -26px; }

a b.mn_pers 		{ position: absolute;top: 5px;left: 10px;background:url(../images/ico_PV_menu.png) no-repeat -92px 0px; }
a:hover b.mn_pers,
.flyout:hover b.mn_pers		{ background-position: -91px -26px; }

a b.mn_prop 		{ position: absolute;top: 5px;left: 10px;background:url(../images/ico_PV_menu.png) no-repeat -123px 0px; }
a:hover b.mn_prop,
.flyout:hover b.mn_prop		{ background-position: -123px -26px; }

a b.mn_trans 		{ position: absolute;top: 5px;left: 10px;background:url(../images/ico_PV_menu.png) no-repeat -152px 0px; }
a:hover b.mn_trans,
.flyout:hover b.mn_trans{ background-position: -152px -26px; }

a b.mn_fianza 		{ position: absolute;top: 5px;left: 10px;background:url(../images/ico_PV_menu.png) no-repeat -193px 0px; }
a:hover b.mn_fianza,
.flyout:hover b.mn_fianza{ background-position: -193px -26px; }

a b.mn_rcivil 		{ position: absolute;top: 5px;left: 10px;background:url(../images/ico_PV_menu.png) no-repeat -213px 0px; }



/* Para pantallas mas grandes de 800px */
@media (min-width: 50em) {
	
	.nav li {
		float: left;
		width: 7.1%;
		
		text-align: center;
	}
	/*.nav li:nth-child(11) {width: 10%;}*/
	
	.nav a {
		display: block;
		width: auto;
	}
	.nav i {
		position: relative;
		display: inline-block;
		margin: 0 auto;
		padding: 0.4em;
	}	
	.icon + span { padding-top:0.2em; line-height:1.2em}
	
}

@media (min-width:47.6em) and (max-width: 65em) {
    /*.main_menu {
        max-height: 135px;
    }*/
	/* aqui se divide en 2 filas*/
	.nav li {
		display: block;
		float: left;
		width: 20%;
	}
	.nav a {
		padding: 0.625em 0;
		vertical-align:middle;
		height:2.8125em;
		text-align:left;
		position: relative;
	}
	.nav li span, 
	.nav li span.icon {
		display: inline-block;
	}
	/*iconos cuando se collapsa el menu*/
	.nav li span.icon {
		width: 32px;
		height:32px;
		position:absolute;
		left:2px;	
		top: 4px;
	}
	.icon + span {
		font-size: 0.625em;
		margin-left:40px;
		position:static;
		text-align:left;
		margin-right:5px;
		margin-top:3px;
	}
	.nav li i {display: inline-block;}	
}	

@media (max-width: 47.5em) {
	
	/*MENU SE COLAPSA EN DROP DOWN*/
	.nav .navtoogle{
		margin: 0;
		display: block;
	}
	
	/* Cuando JavaScript esta deshabilitado, escondemos el menu */
	.no-js .nav ul {
		max-height: 35em;
		overflow: hidden;
	}
	
	/* Cuando JavaScript esta activado, escondemos el menu */
	.js .nav ul {
		max-height: 0em;
		overflow: hidden;
	}
	
	/* Visualizacion del menu cuando el usuario ha hecho clic en el boton*/
	.js .nav .active + ul {		
		max-height: 35em;
		overflow: hidden;
		-webkit-transition: max-height .4s;
		-moz-transition: max-height .4s;
		-o-transition: max-height .4s;
		-ms-transition: max-height .4s;
		transition: max-height .4s;
	}
	.nav li span {
		display: inline-block;
		height: 100%;		
	}
	.nav li a{ text-align:left;}
	.nav li a > span { margin-left:36px;}
	.nav li a > span.icon{ width:30px; height:30px; padding-top:4px; margin-left:32px;}
	.nav li a > span.icon + span {
		font-size: 0.6875em;
		margin-left:2px;
	}
	/*degradado menu colapsa*/	
	 .nav li a {
		  height:38px;
		  padding:0;
		  line-height:25px;
		  
		  background: #06263f;
		  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzA2MjYzZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNjE1MjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		  background: -moz-linear-gradient(top, #06263f 1%, #061524 100%);
		  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#06263f), color-stop(100%,#061524));
		  background: -webkit-linear-gradient(top, #06263f 1%,#061524 100%);
		  background: -o-linear-gradient(top, #06263f 1%,#061524 100%);
		  background: -ms-linear-gradient(top, #06263f 1%,#061524 100%);
		  background: linear-gradient(to bottom, #06263f 1%,#061524 100%);
		  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06263f', endColorstr='#061524',GradientType=0 );
		  
		  -webkit-box-shadow: 0 0 2px 1px rgba(13, 46, 77, 0.55) inset;
		  -moz-box-shadow: 0 0 2px 1px rgba(13, 46, 77, 0.55) inset;
		  box-shadow: 0 0 2px 1px rgba(13, 46, 77, 0.55) inset; 

		 }

			
}
@media (min-width: 1040px) and (max-width: 1280px) {
	/*Nav*/
	.icon + span 				{ font-size: 0.7em;margin-top: 0px;}
	.nav li span.icon 			{ width: 60px;height: 60px;}
	.nav a 						{ height: 72px;padding: 0.6em 0.25em;}
    .st-pusher::after           { content: none !important;}
    .logo                       { height: 100px;}	
    #scroll_1 .accordion        {  border-right: 1px solid #555;}
}
@media screen and (max-width: 768px), (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) {
	.nav li {  min-width: 190px;}
}
.filter_by_period2 .dxeButtonEditSys.dxeButtonEdit_DevEx input {
   
    max-height: 18px !important;
    height: 18px!important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.filter_by_period2 .dxeButtonEdit_DevEx td.dxic, 
.filter_by_period2 .dxFirefox .dxeButtonEdit_DevEx td.dxic {
    padding: 3px 3px 2px 3px;
    height: 24px !important;
}


.p-info {
    color: #f9f9f9;
    background-color: #217677;
    padding: 8px 8px 8px 21.33333px;
    position: relative;
    border-radius: 3px;
}

    .p-info:before {
        content: "\f129";
        background-color: #175354;
        font-style: normal;
        font-weight: 400;
        speak: none;
        display: block;
        position: absolute;
        top: 8px;
        left: 0;
        margin-left: -16px;
        width: 32px;
        height: 32px;
        border-radius: 16px;
        text-decoration: inherit;
        text-align: center;
        font-variant: normal;
        text-transform: none;
        line-height: 32px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
