/*
CSS: Grid DevexEpress
Autor CSS: Joan Jaquez
*/

/*=========| ESTILOS GRID |===========*/

#Grid_dv table {
    border: none;
}

#AtlanticaContenedor .plus {
    margin-right: 0px !important;
}


#Grid_dv {
    width: 100%;
    overflow-x: auto;
    max-width: 1728;
    /*min-width: 900px;*/
}

    #Grid_dv td {
        font-size: 0.9em !important;

        /*Agregado por Jheiron 14-01-16*/
        text-align: center;
        /*******************************/
    }

    #Grid_dv .azul .dxgvHeader_DevEx, #Grid_dv .dxgvHeader_DevEx {
        border-radius: 12px;
        height: 50px;
        border-right: solid 1px #ffffff;
        border-left: solid 1px #ffffff !important;
        background: #5d82cb;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+) !important;
        background: -moz-linear-gradient(top, #5d82cb 0%, #3e70ca 35%, #2f62bb 100%) !important;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5d82cb), color-stop(35%,#3e70ca), color-stop(100%,#2f62bb)) !important;
        background: -webkit-linear-gradient(top, #5d82cb 0%,#3e70ca 35%,#2f62bb 100%) !important;
        background: -o-linear-gradient(top, #5d82cb 0%,#3e70ca 35%,#2f62bb 100%) !important;
        background: -ms-linear-gradient(top, #5d82cb 0%,#3e70ca 35%,#2f62bb 100%) !important;
        background: linear-gradient(to bottom, #5d82cb 0%,#3e70ca 35%,#2f62bb 100%) !important;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d82cb', endColorstr='#2f62bb',GradientType=0 ) !important;
    }

    #Grid_dv tr.dxgvDataRow_DevEx:nth-child(even) td.dxgv {
        background-color: #ffffff;
    }

    #Grid_dv tr.dxgvDataRow_DevEx:nth-child(odd) td.dxgv {
        background-color: #DDEBF7;
    }

    #Grid_dv tr.dxgvDataRow_DevEx:hover td.dxgv {
        background-color: #bddaf4 !important;
        cursor: pointer;
    }

/*=========| APLICAR ESTOS ESTILOS CUANDO ESTE SELECCIONADO |===========*/

/* #Grid_dv .dxgvFocusedRow {
    background-color: #94c5f1 !important;
    color: #002060;
    font-weight: bold;
    font-size: 0.95em;
}
    }*/
.dxgvHeader {
    border: 1.7px Solid #ffffff;
}

.dxgvHeader {
    padding: 3px;
}

.dxpc-collapseBtnChecked .dxWeb_pcCollapseButton, .dxpc-maximizeBtnChecked .dxWeb_pcMaximizeButton, .dxpc-pinBtnChecked .dxWeb_pcPinButton, .dxpnl-btnPressed .dxWeb_pnlExpand, .dxpnl-btnPressed .dxWeb_pnlExpandArrowBottom, .dxpnl-btnPressed .dxWeb_pnlExpandArrowLeft, .dxpnl-btnPressed .dxWeb_pnlExpandArrowRight, .dxpnl-btnPressed .dxWeb_pnlExpandArrowTop, .dxpnl-btnSelected .dxWeb_pnlExpand, .dxpnl-btnSelected .dxWeb_pnlExpandArrowBottom, .dxpnl-btnSelected .dxWeb_pnlExpandArrowLeft, .dxpnl-btnSelected .dxWeb_pnlExpandArrowRight, .dxpnl-btnSelected .dxWeb_pnlExpandArrowTop, .dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpand, .dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpandArrowBottom, .dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpandArrowLeft, .dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpandArrowRight, .dxpnl-btnSelected.dxpnl-btnPressed .dxWeb_pnlExpandArrowTop, .dxrpCollapsed .dxWeb_rpCollapseButton, .dxTouchUI .dxWeb_igCloseButton, .dxTouchUI .dxWeb_igPauseButton, .dxTouchUI .dxWeb_igPlayButton, .dxWeb_edtCheckBoxChecked, .dxWeb_edtCheckBoxCheckedDisabled, .dxWeb_edtCheckBoxGrayed, .dxWeb_edtCheckBoxGrayedDisabled, .dxWeb_edtCheckBoxUnchecked, .dxWeb_edtCheckBoxUncheckedDisabled, .dxWeb_fmCopyButton, .dxWeb_fmCopyButtonDisabled, .dxWeb_fmCreateButton, .dxWeb_fmCreateButtonDisabled, .dxWeb_fmDeleteButton, .dxWeb_fmDeleteButtonDisabled, .dxWeb_fmDwnlButton, .dxWeb_fmDwnlButtonDisabled, .dxWeb_fmFolder, .dxWeb_fmFolderLocked, .dxWeb_fmMoveButton, .dxWeb_fmMoveButtonDisabled, .dxWeb_fmRefreshButton, .dxWeb_fmRefreshButtonDisabled, .dxWeb_fmRenameButton, .dxWeb_fmRenameButtonDisabled, .dxWeb_fmThumbnailCheck, .dxWeb_igCloseButton, .dxWeb_igNavigationBarMarker, .dxWeb_igNextButton, .dxWeb_igNextButtonDisabled, .dxWeb_igNextButtonHover, .dxWeb_igNextButtonPressed, .dxWeb_igPauseButton, .dxWeb_igPlayButton, .dxWeb_igPrevButton, .dxWeb_igPrevButtonDisabled, .dxWeb_igPrevButtonHover, .dxWeb_igPrevButtonPressed, .dxWeb_isDot, .dxWeb_isDotDisabled, .dxWeb_isDotPressed, .dxWeb_isDotSelected, .dxWeb_isNextBtnHor, .dxWeb_isNextBtnHorDisabled, .dxWeb_isNextBtnVert, .dxWeb_isNextBtnVertDisabled, .dxWeb_isNextPageBtnHor, .dxWeb_isNextPageBtnHorDisabled, .dxWeb_isNextPageBtnHorOutside, .dxWeb_isNextPageBtnHorOutsideDisabled, .dxWeb_isNextPageBtnVert, .dxWeb_isNextPageBtnVertDisabled, .dxWeb_isNextPageBtnVertOutside, .dxWeb_isNextPageBtnVertOutsideDisabled, .dxWeb_isPauseBtn, .dxWeb_isPlayBtn, .dxWeb_isPrevBtnHor, .dxWeb_isPrevBtnHorDisabled, .dxWeb_isPrevBtnVert, .dxWeb_isPrevBtnVertDisabled, .dxWeb_isPrevPageBtnHor, .dxWeb_isPrevPageBtnHorDisabled, .dxWeb_isPrevPageBtnHorOutside, .dxWeb_isPrevPageBtnHorOutsideDisabled, .dxWeb_isPrevPageBtnVert, .dxWeb_isPrevPageBtnVertDisabled, .dxWeb_isPrevPageBtnVertOutside, .dxWeb_isPrevPageBtnVertOutsideDisabled, .dxWeb_izEWCloseButton, .dxWeb_izHint, .dxWeb_mHorizontalPopOut, .dxWeb_mScrollDown, .dxWeb_mScrollUp, .dxWeb_mSubMenuItem, .dxWeb_mSubMenuItemChecked, .dxWeb_mVerticalPopOut, .dxWeb_mVerticalPopOutRtl, .dxWeb_nbCollapse, .dxWeb_nbExpand, .dxWeb_pAll, .dxWeb_pAllDisabled, .dxWeb_pcCloseButton, .dxWeb_pcCollapseButton, .dxWeb_pcMaximizeButton, .dxWeb_pcPinButton, .dxWeb_pcRefreshButton, .dxWeb_pcSizeGrip, .dxWeb_pcSizeGripRtl, .dxWeb_pFirst, .dxWeb_pFirstDisabled, .dxWeb_pLast, .dxWeb_pLastDisabled, .dxWeb_pNext, .dxWeb_pNextDisabled, .dxWeb_pnlExpand, .dxWeb_pnlExpandArrowBottom, .dxWeb_pnlExpandArrowLeft, .dxWeb_pnlExpandArrowRight, .dxWeb_pnlExpandArrowTop, .dxWeb_pPopOut, .dxWeb_pPopOutDisabled, .dxWeb_pPrev, .dxWeb_pPrevDisabled, .dxWeb_rDialogBoxLauncher, .dxWeb_rDialogBoxLauncherDisabled, .dxWeb_rDialogBoxLauncherHover, .dxWeb_rDialogBoxLauncherPressed, .dxWeb_rMinBtn, .dxWeb_rMinBtnChecked.dxWeb_rMinBtn, .dxWeb_rMinBtnChecked.dxWeb_rMinBtnDisabled, .dxWeb_rMinBtnChecked.dxWeb_rMinBtnHover, .dxWeb_rMinBtnChecked.dxWeb_rMinBtnPressed, .dxWeb_rMinBtnDisabled, .dxWeb_rMinBtnHover, .dxWeb_rMinBtnPressed, .dxWeb_rpCollapseButton, .dxWeb_rPopOut, .dxWeb_splHCollapseBackwardButton, .dxWeb_splHCollapseBackwardButtonHover, .dxWeb_splHCollapseForwardButton, .dxWeb_splHCollapseForwardButtonHover, .dxWeb_splHSeparator, .dxWeb_splHSeparatorHover, .dxWeb_splVCollapseBackwardButton, .dxWeb_splVCollapseBackwardButtonHover, .dxWeb_splVCollapseForwardButton, .dxWeb_splVCollapseForwardButtonHover, .dxWeb_splVSeparator, .dxWeb_splVSeparatorHover, .dxWeb_tcScrollLeft, .dxWeb_tcScrollLeftDisabled, .dxWeb_tcScrollLeftHover, .dxWeb_tcScrollLeftPressed, .dxWeb_tcScrollRight, .dxWeb_tcScrollRightDisabled, .dxWeb_tcScrollRightHover, .dxWeb_tcScrollRightPressed, .dxWeb_tvColBtn, .dxWeb_tvColBtnRtl, .dxWeb_tvExpBtn, .dxWeb_tvExpBtnRtl, .dxWeb_ucClearButton, .dxWeb_ucClearButtonDisabled {
    background-image: url('../images/DXR_Check.png') !important;
    background-repeat: no-repeat;
    background-color: transparent;
}

.dxWeb_edtCheckBoxUnchecked {
    background-position: -81px -422px !important;
    width: 20px !important;
    height: 20px !important;
}

.dxWeb_edtCheckBoxChecked {
    background-position: -59px -422px !important;
    width: 20px !important;
    height: 20px !important;
}

#AtlanticaContenedor .cont_gnl.tab_pane_container .data_G.tbl table table th, .cont_gnl.tab_pane_container .data_G.tbl table table td {
    padding-right: 3px;
}


/*=========| FIN ESTILOS GRID |===========*/
