 <!-- Image Header -->
<div id="dvHeaderOption" class="head-image mdl-card mt-3">
    <!-- mdl-shadow--2dp -->
    <div class="mdl-card__title mdl-card--expand">
        <h1 id="TitleView" class="bnn_ttl">@ViewBag.TitlePage</h1>
    </div>
    <div class="mdl-card__actions blue p-0" id="HideInHistory">
        <span class="head-image__filename">
            @if (ViewBag.onlyLoggedUsers == false)
            {
                <!--<button id="call_btn" class="mdl-button mdl-color-text--white mdl-button--raised mdl-js-button bg-success mr-1 mt-2 ml-2" type="button">
                    <i class="fa fa-volume-control-phone fa-2x fa-fw float-left" aria-hidden="true"></i>
                    <strong class="x-hide float-left">Llamame</strong>
                </button>
                -->

                <!--<button id="chat_btn" type="button" class="mdl-button mdl-color-text--white mdl-button--raised mdl-js-button bg-info mr-1 mt-2">
                    <i class="fa fa-commenting fa-2x fa-fw float-left" aria-hidden="true"></i>
                    <strong class="x-hide float-left">Chat en linea</strong>
                </button>-->
            }
        </span>
        <button data-toggle="modal" data-target="#nProcuctos" type="button"
                class="mdl-button mdl-button--raised mdl-js-button mb-1 mdl-js-ripple-effect mdl-color-text--white float-right mt-2 mr-2 nProcuctosbtn">
            <i class="material-icons  float-left mt-2 mr-2">shop</i>
            <span class="x-hide  float-left">Nuestros </span>&nbsp;Productos
        </button>
    </div>
    <div class="mdl-card__actions blue p-0 mt-2" id="HideInHistory2">
        @if (ViewBag.onlyLoggedUsers == false)
        {
            <!--<div class="mdl-cell float-left continueWithAgent" style="display:none;">
                <button class="mdl-button w-100 mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color-text--white text-capitalize p-0 mb-md-0 ">
                    <i class="material-icons">arrow_forward</i>Continuar con un Agente
                </button>
            </div>-->
        }
        else
        {
            <a href="#" class="btn btn-danger float-left ml-2 mt-1" style="display:none;" id="btnDissmisPayment">
                <strong class=" float-left mt-1 text-uppercase">Omitir Pago </strong> <i class="material-icons ml-3 float-right">&#xE044;</i>
            </a>
        }
        <div class="badge cNumber p-2 mr-2 float-right"><strong class="x-hide">Cotización Auto </strong> No. <span id="spQuotationNumber"></span></div>
    </div>
</div>