<div class="boxes_step col-9 fl">
    <div class="boxes" data-bind="css: { boxes_1: currentStepId() < 4, boxes_2: currentStepId() >= 4 }" >
        <!-- ko foreach: _.filter(steps(), function(item) { return item.mainVisible();}) -->
        <!-- ko if: !isBuyStep -->
        <div class="box_btn" data-bind="css: { activo_ck: status() == stepStatuses.COMPLETED, activo: $parent.currentStepId() == order(), completo: status() == stepStatuses.COMPLETED, bigger : order() == 4 || order() == 5  }">
            <b class="numbPS"><span data-bind="text: ($index() + 1)"></span></b>
            <span class="stepText" data-bind="text: title"></span>
            <i class="arr_ico"></i>
        </div>
        <!-- /ko -->
        <!-- ko if: isBuyStep && $parent.currentStepId() == 6 -->
        <div class="box_btn bigger finish">
            @*<b class="numbPS"><span data-bind="text: ($index() + 1)"></span></b>*@
            <span class="stepText" data-bind="text: title"></span>
        </div>
        <!-- /ko -->
        <!-- /ko -->

        <!-- ko if: currentStepId() < 6 -->
        <div class="box_btn icon_car"><i></i></div>
        <!-- /ko -->

        @*<div class=" box_btn activo"><b class="numbPS"><!--ck_ico -->1</b>Agregar<br>Conductor<i class="arr_ico"></i></div><!--activo_ck-->
            <div class="box_btn "><b class="numbPS">2</b>Agregar<br> Veh&iacute;culo<i class="arr_ico"></i></div>
            <div class="box_btn "><b class="numbPS">3</b>Seleccionar<br> Cobertura<i class="arr_ico"></i></div>
            <div class="box_btn icon_car"><i></i></div>*@
    </div>
</div>

