/*Media Queries - Tablet - Portrait 601x964, Landscape 964x601*/

/* 
  ##Device = Low Resolution Tablets (portrait)
  ##Screen = B/w 601px to 964px
*/

@media (max-width: 964px) and (min-width: 601px) and (orientation: portrait) {
	
	/*Campos Información de Cotización, Inspección y Vehículo*/
	.InformacionesG table tbody tr td .grupos {
	    width: 50% !important;
	    float:left;
	    padding: 5px;
	    padding-right: 0px !important;
	    margin-right:0px !important;
	}

	.InformacionesG .de_4 > div {
        width: 100% !important;
    }

	.InformacionesG .label_plus_input.par {
        height: 40px !important;
	}

	.InformacionesG .label_plus_input.par span, .label_plus_input.par input {
        height: 42px;
        line-height: 36px !important;
        padding-top: 3px !important;
    }

    .InformacionesG .grupos.de_1 > div:nth-child(1) table tbody tr td .grupos.de_4:nth-child(1) div:nth-child(1) span,
	.InformacionesG .grupos.de_1 > div:nth-child(1) table tbody tr td .grupos.de_4:nth-child(2) div:nth-child(2) span,
	.InformacionesG .grupos.de_1 > div:nth-child(2) table tbody tr td .grupos.de_4:nth-child(2) div:nth-child(2) span,
	.InformacionesG .grupos.de_1 > div:nth-child(3) table tbody tr td .grupos.de_4:nth-child(4) div:nth-child(2) span,
	.InformacionesG .grupos.de_1 > div:nth-child(3) table tbody tr td .grupos.de_4:nth-child(4) div:nth-child(4) span{ 
	    line-height: 12px !important;
        padding-top: 8px !important;
	 }

    .InformacionesG .grupos.de_1 > div:nth-child(1) table tbody tr td .grupos.de_4:nth-child(2) div:nth-child(3) span{ 
	    line-height: 12px !important;
        padding-top: 3px !important;
	 }

	 .InformacionesG .grupos.de_1 > div:nth-child(3) table tbody tr td .grupos.de_4:nth-child(5) div:nth-child(1) span{ 
	    line-height: 12px !important;
        padding-top: 3px !important;
	 }

     .contenido_derecha .InformacionesG input[type="text"] {
        height: 28px;
        max-height: 42px;
     }
	
	 .contenido_derecha .InformacionesG input[type="text"], .InformacionesG .combo_box, .InformacionesG .wrap_select {
        height: 42px!important;
        max-height: 42px!important;
     }

     .InformacionesG .grupos.de_1 > div:nth-child(3) table tbody tr td .grupos.de_4:nth-child(5) div:nth-child(1) table tbody tr td{
        height: 42px!important;
        max-height: 42px!important;
        padding-top: 6px;
     }

     .InformacionesG .grupos table tbody tr td table tr td {
        padding: 2px 2px 2px 0px;
     }
	
	 .InformacionesG .grupos.de_1 > div:nth-child(4) table tbody tr td:nth-child(1){ 
	    width:50% !important;
	 }

	 .InformacionesG .grupos.de_1 > div:nth-child(4) div.inspection_radio_table:nth-child(2) table{
	    margin-top: 10px !important;
	    float:none !important;
	 }

	 .InformacionesG .grupos.de_1 > div:nth-child(4) div.inspection_radio_table:nth-child(1){
        float:none !important;
        height: 260px;
      }

      .btnFunc div:nth-child(1) input[type="submit"],
      .btnFunc div:nth-child(2) input[type="submit"]{width:100% !important; margin-top: 5px !important;}
      .btnFunc div:nth-child(2) input[type="submit"]:nth-child(4){color:#FFFFFF !important;}

      .wrapper-fixed, .wrapper-fluid {
          padding:0px !important;
      }
      [class*=col-], [class^=col-] {
          margin-left: 0px !important;
      }

      .InformacionesG .fondo_gris {padding-right:0px !important;}
}

/* 
  ##Device = Low Resolution Tablets (landscape)
  ##Screen = B/w 962px to 1024px
*/

@media (min-width: 962px) and (max-width: 1024px) and (orientation: landscape) {
  
	/*Campos Información de Cotización, Inspección y Vehículo*/
	.InformacionesG table tbody tr td .grupos {
	    width: 50% !important;
	    float:left;
	    padding: 5px;
	    padding-right: 0px !important;
	    margin-right:0px !important;
	}

	.InformacionesG .grupos.de_1 > div:nth-child(1) table tbody tr td .grupos.de_4:nth-child(1) div:nth-child(1) span,
	.InformacionesG .grupos.de_1 > div:nth-child(1) table tbody tr td .grupos.de_4:nth-child(2) div:nth-child(2) span{ 
	    height: 42px;
        line-height: 42px !important;
        padding-top: 1px !important;
	 }

	 .InformacionesG .grupos.de_1 > div:nth-child(3) table tbody tr td .grupos.de_4:nth-child(5) div:nth-child(1) span{ 
	    height: 42px;
        line-height: 12px !important;
        padding-top: 10px !important;
	 }

	 .InformacionesG .grupos.de_1 > div:nth-child(3) table tbody tr td .grupos.de_4:nth-child(5) div:nth-child(1) table tbody tr td{
        height: 42px!important;
        max-height: 42px!important;
        padding-top: 6px;
     }

	.de_4 > div {
        width: 100% !important;
    }

	.InformacionesG .label_plus_input.par {
        height: 40px !important;
	}

	.InformacionesG .label_plus_input.par span, .label_plus_input.par input {
        height: 42px;
        line-height: 36px !important;
        padding-top: 3px !important;
    }

    .contenido_derecha .InformacionesG input[type="text"] {
        height: 28px;
        max-height: 42px;
    }
	
	.contenido_derecha .InformacionesG input[type="text"], .InformacionesG .combo_box, .InformacionesG .wrap_select {
        height: 42px!important;
        max-height: 42px!important;
    }

} 


/* 
  ##Device = Tablets (landscape)
  ##Screen = B/w 962px to 1024px
*/

@media (min-width: 962px) and (max-width: 1024px) and (orientation: landscape) {
  
  //CSS
  
}