<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="STG.DLL.KwikTag.Library.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <STG.DLL.KwikTag.Library.Properties.Settings>
            <setting name="STG_DLL_KwikTag_Library_ktBarcode_Barcode" serializeAs="String">
                <value>http://atl-srv41.atlantica.do/KwikTagWS/Barcode.asmx</value>
            </setting>
            <setting name="STG_DLL_KwikTag_Library_ktDocument_Document" serializeAs="String">
                <value>http://atl-srv41.atlantica.do/KwikTagWS/Document.asmx</value>
            </setting>
        </STG.DLL.KwikTag.Library.Properties.Settings>
    </applicationSettings>
</configuration>