<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="Declarative_InvoicesEntities" connectionString="metadata=res://*/EdmxModel.DeclarativeInvoicesDataModel.csdl|res://*/EdmxModel.DeclarativeInvoicesDataModel.ssdl|res://*/EdmxModel.DeclarativeInvoicesDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=atl-dev05.atlantica.do;initial catalog=Declarative_Invoices;persist security info=True;user id=Developer05;password=Developer05;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Statetrust.Framework.SecurityConnectionString" connectionString="Data Source=172.16.193.14;Initial Catalog=Security;User ID=Developer05;Password=Developer05" />    
    <add name="STFGlobalEntities" connectionString="metadata=res://*/STFGlobalEntities.csdl|res://*/STFGlobalEntities.ssdl|res://*/STFGlobalEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.193.14;initial catalog=Global;persist security info=True;user id=Developer05;password=Developer05;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GlobalLogger" connectionString="data source=172.16.193.14;initial catalog=Global;user id=Developer05;password=Developer05"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <add key="ThUsername" value="dev\THServices" />
    <add key="ThPassword" value="" />
    <add key="THProjectID" value="1335500027" />
    <add key="THBatchConfigResID" value="1335501440" />
    <add key="DocumentIdSysFlexInvoice" value="1335504157" />

    <!--configuraciones Modulo Seguridad-->
    <add key="AppID" value="DEINV" />
    <add key="NewBusinessAppId" value="NB" />
    <add key="PuntodeVentaAppId" value="POSAT" />
    <add key="SecurityMenuBar" value="true" />
    <add key="ApplySecurity" value="false" />
    <add key="appTitle" value="Facturacion Declarativa" />
    <add key="ApplicationLogin" value="true" />
    <add key="SecurityLogin" value="http://atlanticasecurity.qa.atlantica.local/Index.aspx" />
    <add key="logoCompany" value="logo_atl" />
    <add key="STFIncludeKnockout" value="true" />
    <add key="STFIncludeJquery" value="false" />
    <add key="STFIncludeJqueryUI" value="false" />
    <add key="STFIncludeJqueryForm" value="true" />
    <add key="STFJqueryVersion" value="jQuery_v1_11_3" />
    <add key="STFShowAvailableApps" value="true" />
    <add key="STFSessionNotification" value="true" />
    <add key="STFSessionTimeWarning" value="1" />
    <add key="STFEditAgentProfile" value="false" />
    <add key="STFAddResetCss" value="false" />
    <add key="STFShowChangeCompany" value="true" />
    <add key="STFShowLogo" value="false" />
    <add key="STFEmailHost" value="statetrustlife-com.mail.protection.outlook.com" />
    <add key="STFEmailFrom" value="jdotel@statetrustlife.com" />
    <add key="STFApplySecurityScript" value="true" />
    <!--configuraciones Modulo Seguridad-->
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="1048576" maxQueryStringLength="1048576" />
    <customErrors mode="Off" />
    <sessionState timeout="200" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>


        <binding name="secureHttpsBinding_SysFlexService" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" openTimeout="00:10:00" closeTimeout="00:10:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport" />
        </binding>

        <binding name="BasicHttpBinding_IWCFService" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" openTimeout="00:10:00" closeTimeout="00:10:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>


      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://atl-dev02.dev.atlantica.local/ThunderheadWSWrapper/ThunderheadWSWrapper.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCFService" contract="THServices.IWCFService" name="BasicHttpBinding_IWCFService" />
      <endpoint address="https://devsysflexservice.statetrustlife.com/SysFlexService.svc/SysFlexService.svc" binding="basicHttpBinding" bindingConfiguration="secureHttpsBinding_SysFlexService" contract="SysflexServices.ISysFlexService" name="secureHttpsBinding_SysFlexService" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>