@charset "utf-8";
/* CSS Document */

/*=============== Menu Izquierda ================== */

.st-effect-2.st-menu-open .st-effect-2.st-menu {
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}
.st-effect-2.st-menu {
    z-index: 1;
}
.st-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;
    width: 290px;
    height: 99.43%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    background: #F5F4F1;
    overflow-y: auto;
    overflow-x: hidden;
}
.st-menu::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    content: '';
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.st-menu-open .st-menu::after {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.accordion {
    margin: 0 1px;
    background-color: #F5F4F1;
}

.show_profile, .show_profile_es {
    width: 24px;
    height: 241px;
    position: absolute;
    left: -1px;
    top: 45%;
    background-color: transparent;
    background-image: url(../images/perfil_menu.png);
    background-repeat: no-repeat;
    background-position: center top;
    cursor: pointer;
    margin-top: -120px;
    overflow: hidden;
}

.st-menu-open .st-pusher::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.st-effect-2.st-menu-open .st-pusher {
    -webkit-transform: translate3d(290px, 0, 0);
    transform: translate3d(290px, 0, 0);
}
.st-pusher {
    position: relative;
    left: 0;
    z-index: 99;
    height: 100%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.st-container, .st-pusher, .st-content {
    height: 100%;
}
.st-content, .st-content-inner {
    position: relative;
    height: 100%;
}
.st-content {
    background: #F5F4F1;
    float: left;
    width: 100%;
}

.st-content-inner {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    bottom: 90px;
    margin-top: 90px;
    margin-left: 30px;
    /* margin-right: 28px; */
    float: left;
    width: 98.4%;
}

.st-pusher::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: rgba(0,0,0,0.2);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}


/*Bmarroquin 08-05-2017 Comento este Css*/
/*
#upSTFLeftMenu .accordion .perfil, #upSTFLeftMenu .accordion .content_calendar {   
    padding-bottom: 1px !important;
}
*/

/*Bmarroquin 08-05-2017 este Css lo modifique*/
.accordion, .content_calendar {   
    padding-bottom: 1px !important;
}


.btn_logout input[type=submit] {

    background-color: transparent !important;
    padding: 0 !important;
    border: none !important;
}

#upSTFLeftMenu .add_option, .delete_option {
    display: none !important;
}

#upSTFLeftMenu .perfil .info a { 
    margin-top: 1px !important;
}

#upSTFLeftMenu .perfil .info h2 {
    height: auto !important;
}

#upSTFLeftMenu h2, #upSTFLeftMenu h3 {
    margin-bottom: 0 !important;
}

#upSTFLeftMenu .content_tabs h2, #upSTFLeftMenu .content_tabs h2 {
    font-size: 100% !important;
}

#upSTFLeftMenu .content_tabs h2 {
    margin-bottom: 5px !important;
  
}


/*
   Bmarroquin 08-05-2017
   El CSS del kickstart.min.css estaba interfiriendo para que el efecto 
   DropDownList del UL se mostrara correctamente, agrego un nuevo Css 
*/

/*------------idiomas---------------*/
.idiomas ul {
   line-height: 1rem !important; 
}

.idiomas_label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #111;
    font-weight: bold;
    margin-left: 6px;
    margin-top: 10px;
    display: block;
}

.idiomas {
    color: #000;
    text-align: left !important;
    cursor: pointer;
    border: 0;
    outline: 0;
    position: relative;
    padding-left: 26px;
    height: 26px;
    border: solid 1px #c6c6c6;
    width: 120px;
    display: block;
    margin: 5px;
    margin-bottom: 35px;
    float: left;
}

    .idiomas:hover ul, .idiomas:active ul {
        display: block;
        cursor: default;
    }

        .idiomas:hover ul li, .idiomas:active ul li {
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            color: #000;
            padding: 2px 5px 2px 26px;
        }

    .idiomas:after {
        content: '▼';
        font: 12px "Consolas", monospace;
        font-weight: bold;
        color: #484848;
        text-align: center;
        right: 1px;
        top: 1px;
        padding: 0;
        position: absolute;
        pointer-events: none;
        width: 20px;
        line-height: 22px;
    }

    .idiomas > label {
        font-size: 12px;
        color: #111;
        margin: 0;
        padding: 0;
        line-height: 26px;
        font-weight: normal;
        font-family: Arial, Helvetica, sans-serif;
    }

    .idiomas ul {
        display: none;
        width: 120px;
        position: absolute;
        top: 24px;
        left: -1px;
        z-index: 1001;
        background: #FFFFFF;
        text-align: left;
        background-color: #fff;
        border: 1px solid #c6c6c6;
        padding-top: 8px;
        padding-bottom: 5px;
    }
/************    Fin Bmarroquin 08-05-2017    *************/
