 <div class="row row-eq">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 row-eq">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb20">
            <div class="row col-eq">
                <div class="panel panel-info col-eq">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-briefcase fa-fw"></i>Pagos
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="table-responsive mb20">
                                    <table class="table table-striped car">
                                        <thead>
                                            <tr class="header-table">
                                                <th class="text-center">PERIÓDICA</th>
                                                <th class="text-center">FECHA LÍMITE PAGO</th>
                                                <th class="text-center">MONTO PAGADO</th>
                                                <th class="text-center">FECHA PAGO</th>
                                                <th class="text-center">CUOTA</th>
                                                <th class="text-center">BALANCE PENDIENTE</th>
                                                <th class="text-center">PAGO COMPLETO</th>
                                                <th class="text-center">PAGO DOP</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center">-</td>
                                                <td class="text-center">-</td>
                                                <td class="text-center">-</td>
                                                <td class="text-center">-</td>
                                                <td class="text-center">-</td>
                                                <td class="text-center">-</td>
                                                <td class="text-center">-</td>
                                                <td class="text-center">-</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div><!--row-->

                        <div class="row mb20">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <button class="btn btn-success btn-block" type="submit" data-toggle="modal" data-target="#myModal">
                                            <i class="fa fa-cog" aria-hidden="true"></i>
                                            Procesar Pago
                                        </button>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <button class="btn btn-default btn-block">
                                            <i class="fa fa-undo" aria-hidden="true"></i>
                                            Limpiar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row col-eq">
                <div class="panel panel-info col-eq">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-file-text-o fa-fw"></i>Información Pago Periódico
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="table-responsive mb20">
                                    <table class="table table-striped car">
                                        <thead>
                                            <tr class="header-table">
                                                <th class="text-center">TIPO</th>
                                                <th class="text-center">ESTADO</th>
                                                <th class="text-center">MONTO</th>
                                                <th class="text-center">FRECUENCIA</th>
                                                <th class="text-center">FECHA INICIO</th>
                                                <th class="text-center">PRÓXIMO COBRO</th>
                                                <th class="text-center">FECHA FIN</th>
                                                <th class="text-center">NÚMERO TARJETA</th>
                                                <th class="text-center">EXPIRADA</th>
                                                <th class="text-center">ACT./INAC.</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center">-</td>
                                                <td class="text-center">-</td>
                                                <td class="text-center">-</td>
                                                <td class="text-center">-</td>
                                                <td class="text-center">-</td>
                                                <td class="text-center">-</td>
                                                <td class="text-center">-</td>
                                                <td class="text-center">-</td>
                                                <td class="text-center">-</td>
                                                <td class="text-center">-</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div><!--row-->

                        <div class="row mb20">
                            <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12"></div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <button class="btn btn-success btn-block" type="submit" data-toggle="modal" data-target="#myModal2">
                                            <i class="fa fa-cog" aria-hidden="true"></i>
                                            Domiciliar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 row-eq">
        <div class="panel panel-info col-eq">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-file-text-o fa-fw"></i>HISTORIAL DE PAGO
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CompanyID">Monto Pagado:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Data" disabled="">
                        </div>
                    </div>
                </div><!--row-->

                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CommissionTableName">Deuda Desde:</label>
                            <div class="form-group input-group buscar">
                                <input type="text" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CommissionTableName">Deuda Hasta:</label>
                            <div class="form-group input-group buscar">
                                <input type="text" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CommissionTableName">Pago Desde:</label>
                            <div class="form-group input-group buscar">
                                <input type="text" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CommissionTableName">Pago Hasta:</label>
                            <div class="form-group input-group buscar">
                                <input type="text" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb20">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <button id="btnNuevo" class="btn btn-success btn-block">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                    Buscar
                                </button>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <button class="btn btn-default btn-block">
                                    <i class="fa fa-undo" aria-hidden="true"></i>
                                    Limpiar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-striped car">
                                <thead>
                                    <tr class="header-table">
                                        <th class="text-center">FECHA DE PAGO</th>
                                        <th class="text-center">MONTO ADEUDADO</th>
                                        <th class="text-center">FECHA EN QUE PAGÓ</th>
                                        <th class="text-center">MONTO PAGADO</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">-</td>
                                        <td class="text-center">-</td>
                                        <td class="text-center">-</td>
                                        <td class="text-center">-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!--row-->
            </div>
        </div>
    </div>
</div>