<div class="row  row-eq mb20">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 row-eq">
        <div class="panel panel-info col-eq">
            <div class="panel-heading">
                <h3 class="panel-title">
                    SELECCIONAR NO. DE CASO
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CompanyID">No. de Caso:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Data" disabled="">
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CompanyID">No. de Préstamo:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Data" disabled="">
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CommissionTableName">Tipo de Producto:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Data" disabled="">
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CompanyID">Tipo de Caso:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Data" disabled="">
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CompanyID">Departamento:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Data" disabled="">
                        </div>
                    </div>

                </div><!--row-->
            </div>
        </div>

        <div class="panel panel-info col-eq">
            <div class="panel-heading">
                <h3 class="panel-title">
                    SELECCIONAR TEMPLATE
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-striped car">
                                <thead>
                                    <tr class="header-table">
                                        <th class="text-center">NOMBRE DEL DOCUMENTO</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!--row-->
            </div>
        </div>

        <div class="panel panel-info col-eq">
            <div class="panel-heading">
                <h3 class="panel-title">
                    PARÁMETROS
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CommissionTableName">Saldo al Día:</label>
                            <div class="form-group input-group buscar">
                                <input type="text" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                </div><!--row-->
            </div>
        </div>

        <div class="panel panel-info col-eq">
            <div class="panel-heading">
                <h3 class="panel-title">
                    INFORMACIÓN DEL CORREO
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group checkbox">
                            <label for="CompanyID" class="textb"><input type="checkbox" value="">Cliente Primario:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Data" disabled="">
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group checkbox">
                            <label for="CompanyID" class="textb"><input type="checkbox" value="">Cliente Secundario:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Data" disabled="">
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group checkbox">
                            <label for="CompanyID" class="textb"><input type="checkbox" value="">Agente Primario:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Data" disabled="">
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group checkbox">
                            <label for="CompanyID" class="textb"><input type="checkbox" value="">Oficina:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Data" disabled="">
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group checkbox">
                            <label for="CompanyID" class="textb"><input type="checkbox" value="">Proveedor:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Data" disabled="">
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group checkbox">
                            <label for="CompanyID" class="textb"><input type="checkbox" value="">Extra:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Data" disabled="">
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group checkbox">
                            <label for="CompanyID" class="textb"><input type="checkbox" value="">Departamento:</label>
                            <select class="form-control">
                                <option value="">Seleccione un...</option>
                                <option value="1">-</option>
                                <option value="2">-</option>
                                <option value="3">-</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CompanyID">Asunto:</label>
                            <select class="form-control">
                                <option value="">Seleccione un...</option>
                                <option value="1">-</option>
                                <option value="2">-</option>
                                <option value="3">-</option>
                            </select>
                        </div>
                    </div>

                </div><!--row-->
            </div>
        </div>

        <div class="panel panel-info col-eq">
            <div class="panel-heading">
                <h3 class="panel-title">
                    SELECCIONAR PRINCIPAL
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group radio">
                            <label for="CompanyID" class="textb">
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                Cliente:
                            </label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Data" disabled="">
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group radio">
                            <label for="CompanyID" class="textb">
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                Agente:
                            </label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Data" disabled="">
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group radio">
                            <label for="CompanyID" class="textb">
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                Oficina:
                            </label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Data" disabled="">
                        </div>
                    </div>

                </div><!--row-->
            </div>
        </div>

        <div class="panel panel-info col-eq">
            <div class="panel-heading">
                <h3 class="panel-title">
                    SEGUIMIENTO
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="checkbox ">
                                <label class="textb">
                                    <input type="checkbox" value="">Agregar el Seguimiento
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CompanyID">Asignar Seguimiento:</label>
                            <select class="form-control">
                                <option value="">Seleccione un...</option>
                                <option value="1">-</option>
                                <option value="2">-</option>
                                <option value="3">-</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CompanyID">Fecha de Seguimiento:</label>
                            <div class="form-group input-group buscar">
                                <input type="text" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CommissionTableName">Hora de Seguimiento:</label>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Data" disabled="">
                        </div>
                    </div>
                </div><!--row-->
            </div>
        </div>

        <div class="panel panel-info col-eq">
            <div class="panel-heading">
                <h3 class="panel-title">
                    ADJUNTAR DOCUMENTO
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CompanyID">Grupos de Documentos:</label>
                            <select class="form-control">
                                <option value="">Seleccione un...</option>
                                <option value="1">-</option>
                                <option value="2">-</option>
                                <option value="3">-</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="CompanyID">Tipos de Documentos:</label>
                            <select class="form-control">
                                <option value="">Seleccione un...</option>
                                <option value="1">-</option>
                                <option value="2">-</option>
                                <option value="3">-</option>
                            </select>
                        </div>
                    </div>
                </div><!--row-->

                <div class="row mb20">
                    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                        <button id="btnNuevo" class="btn btn-primary-st btn-block">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                            Seleccionar Archivo
                        </button>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                        <button class="btn btn-success btn-block">
                            <i class="fa fa-upload" aria-hidden="true"></i>
                            Cargar
                        </button>
                    </div>
                </div><!--row-->

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-striped car">
                                <thead>
                                    <tr class="header-table">
                                        <td class="text-center">TIPO DE DOCUMENTO</th>
                                        <td class="text-center">NOMBRE ARCHIVO</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>-</td>
                                        <td>-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!--row-->   
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 row-eq ">
        <div class="panel panel-info col-eq">

        </div>
    </div>
</div><!--row-->

<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12"></div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <button id="btnNuevo" class="btn btn-danger btn-block">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    Cancelar
                </button>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <button class="btn btn-info btn-block">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    Enviar Template
                </button>
            </div>
        </div>
    </div>
</div><!--row-->
