@model List<ShipLogs.Entity.Entity.ShipmentDetailEntity>


    <table id="tblShipmentDetails" class="table table-responsive"  style="overflow:auto;">
        <thead>
            <tr>
                <th width="25%"><label>Assigned To</label></th>
                <th width="62%"><label>Item Detail</label></th>
                <th width="50px"><label>Acción</label></th>
            </tr>
        </thead>
        <tbody>
            <tr id="trShipmentDetails">
                <td>
                    <input class="form-control" type="text" id="txtAssignedTo" name="" placeholder="Assigned To...">
                </td>
                <td>
                    <input class="form-control" type="text" id="txtTypethedetails" name="" placeholder="Type the details">
                </td>
                <td>
                    <button id="btnNextShiDet" title="Next Shipment Details" type="button" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i></button>
                    <button id="btndeleteShipDet" title="Delete Shipment Details" type="button" class="btn btn-danger deleteShipDet"><i class="glyphicon glyphicon-minus"></i></button>
                </td>
            </tr>
        </tbody>
    </table>

