
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="" class="contenedor_tabs">
    <ul class="tabs_ttle dvddo_in_3">
        <li class="dos_lineas active">
            <i class="fa fa-table fa-15x" aria-hidden="true"></i>
            Emisiones por Agente
        </li>
        <li class="dos_lineas">
            <i class="fa fa-table fa-15x" aria-hidden="true"></i>
            Indice de Cancelación/ Ventas
        </li>
    </ul>
</div>
<div class="clear"></div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class="fa fa-table" aria-hidden="true"></i>
                    Reportes
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div class="accordion-body">
                    <div>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#5-3-18" aria-controls="5-3-18" role="tab" data-toggle="tab">
                                    5.3.18 Reporte de transacciones BD
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#5-3-21" aria-controls="5-3-21" role="tab" data-toggle="tab">
                                    5.3.21 Reporte de transacciones DB - Agente
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#5-3-22" aria-controls="5-3-22" role="tab" data-toggle="tab">
                                    5.3.22 Reporte de transacciones BD - Intermediario
                                </a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="5-3-18">
                                <br />
                                <h4>5.3.18 Reporte de transacciones BD</h4>
                                <div class="table-responsive">
                                    <table class="table table-striped table-light text-center">
                                        <thead>
                                            <tr>
                                                <th rowspan="2"></th>
                                                <th rowspan="2">BD Name</th>
                                                <th colspan="5">April 2019</th>
                                                <th colspan="5">March 2019</th>
                                                <th colspan="5">February 2019</th>
                                            </tr>
                                            <tr>
                                                <th>Full Semi Full</th>
                                                <th>LEY</th>
                                                <th>Propiedad</th>
                                                <th>Salud</th>
                                                <th>Funeral</th>

                                                <th>Full Semi Full</th>
                                                <th>LEY</th>
                                                <th>Propiedad</th>
                                                <th>Salud</th>
                                                <th>Funeral</th>

                                                <th>Full Semi Full</th>
                                                <th>LEY</th>
                                                <th>Propiedad</th>
                                                <th>Salud</th>
                                                <th>Funeral</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td></td>

                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td></td>

                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td></td>

                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <br />
                            </div>
                            <div role="tabpanel" class="tab-pane" id="5-3-21">
                                <br />
                                <h4>5.3.21 Reporte de transacciones DB - Agente</h4>
                                <div class="table-responsive">
                                    <table class="table table-striped table-light text-center">
                                        <thead>
                                            <tr>
                                                <th>Agente</th>
                                                <th>Oficina Agente</th>
                                                <th>Cartera</th>
                                                <th>Intermediarios con cobranza (4M)</th>
                                                <th>Consolidado 12 MESES</th>
                                                <th>April</th>
                                                <th>March</th>
                                                <th>February</th>
                                                <th>January</th>
                                                <th>December</th>
                                                <th>November</th>
                                                <th>October</th>
                                                <th>September</th>
                                                <th>August</th>
                                                <th>July</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Andrea Perez</td>
                                                <td>SIRENA LUPERON</td>
                                                <td>582</td>
                                                <td>16</td>
                                                <td>10,719,862</td>
                                                <td>90,861</td>
                                                <td>1,524,462</td>
                                                <td>1,044,158</td>
                                                <td>1,155,253</td>
                                                <td>1,214,291</td>
                                                <td>928,187</td>
                                                <td>913,996</td>
                                                <td>753,241</td>
                                                <td>722,337</td>
                                                <td>425,751</td>
                                            </tr>
                                            <tr>
                                                <td>Andrea Perez</td>
                                                <td>SIRENA LUPERON</td>
                                                <td>582</td>
                                                <td>16</td>
                                                <td>10,719,862</td>
                                                <td>90,861</td>
                                                <td>1,524,462</td>
                                                <td>1,044,158</td>
                                                <td>1,155,253</td>
                                                <td>1,214,291</td>
                                                <td>928,187</td>
                                                <td>913,996</td>
                                                <td>753,241</td>
                                                <td>722,337</td>
                                                <td>425,751</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <br />
                            </div>
                            <div role="tabpanel" class="tab-pane" id="5-3-22">
                                <br />
                                <h4>5.3.22 Reporte de transacciones BD - Intermediario</h4>
                                <div class="table-responsive">
                                    <table class="table table-striped table-light text-center">
                                        <thead>
                                            <tr>
                                                <th rowspan="2">Intermediario</th>
                                                <th colspan="2" rowspan="1">Consolidado</th>
                                                <th colspan="4" rowspan="1">2019</th>
                                                <th colspan="2" rowspan="1">2018</th>
                                            </tr>
                                            <tr>
                                                <th>12 MESES</th>
                                                <th>YID</th>
                                                <th>April</th>
                                                <th>March</th>
                                                <th>February</th>
                                                <th>January</th>
                                                <th>December</th>
                                                <th>November</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Grand Total</td>
                                                <td>5,788,479</td>
                                                <td>3,762,710</td>
                                                <td>90,861</td>
                                                <td>1,509,815</td>
                                                <td>1,024,874</td>
                                                <td>1,137,161</td>
                                                <td>1,199,644</td>
                                                <td>916,986</td>
                                            </tr>
                                            <tr>
                                                <td>Carlos Alberto Vera Villavicencio</td>
                                                <td>106,726</td>
                                                <td>28,434</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>28,434</td>
                                                <td>65,202</td>
                                                <td>13,090</td>
                                            </tr>
                                            <tr>
                                                <td>Dortmond Investment Company Srl</td>
                                                <td>82,813</td>
                                                <td>82,813</td>
                                                <td></td>
                                                <td>18,672</td>
                                                <td>64,142</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>