<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="LoansEntities" connectionString="metadata=res://*/EFModel.CobranzaModel.csdl|res://*/EFModel.CobranzaModel.ssdl|res://*/EFModel.CobranzaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ksi-dev03.ksi-dev.do;initial catalog=Loans;persist security info=True;user id=ralvarez;password=Este0520;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Statetrust.Framework.SecurityConnectionString" connectionString="Data Source=172.16.193.14;Initial Catalog=Security;User ID=Developer05;Password=Developer05" />
    <!--<add name="STFGlobalEntities" connectionString="metadata=res://*/STFGlobalEntities.csdl|res://*/STFGlobalEntities.ssdl|res://*/STFGlobalEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.193.14;initial catalog=Global;persist security info=True;user id=Developer05;password=Developer05;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="GlobalEntities" connectionString="metadata=res://*/Global.GlobalEntities.csdl|res://*/Global.GlobalEntities.ssdl|res://*/Global.GlobalEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KSI-DEV03.KSI-DEV.DO;initial catalog=Global;persist security info=True;user id=jgomez;password=jgomez@2017;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="EncriptionKey" value="$t@teTru$t" />
    <!--configuraciones Modulo Seguridad-->
    <add key="AppID" value="COBRA" />
    <add key="NewBusinessAppId" value="NBDEV" />
    <add key="SecurityMenuBar" value="true" />
    <add key="ApplySecurity" value="false" />
    <add key="appTitle" value="Recaudo" />
    <add key="ApplicationLogin" value="true" />
    <add key="SecurityLogin" value="http://singlesignin.ksi-dev.do/" />
    <add key="logoCompany" value="logo_atl" />
    <add key="STFIncludeKnockout" value="true" />
    <add key="STFIncludeJquery" value="false" />
    <add key="STFIncludeJqueryUI" value="false" />
    <add key="STFIncludeJqueryForm" value="true" />
    <add key="STFJqueryVersion" value="jQuery_v1_11_3" />
    <add key="STFShowAvailableApps" value="true" />
    <add key="STFSessionNotification" value="true" />
    <add key="STFSessionTimeWarning" value="1" />
    <add key="STFEditAgentProfile" value="false" />
    <add key="STFAddResetCss" value="false" />
    <add key="STFShowChangeCompany" value="true" />
    <add key="STFShowLogo" value="true" />
    <add key="STFEmailHost" value="statetrustlife-com.mail.protection.outlook.com" />
    <add key="STFEmailFrom" value="mvasquez@statetrustlife.com" />
    <add key="STFApplySecurityScript" value="true" />
    <add key="HideVaribleURL" value="false"/>
    <add key="HttpProtocol" value="http"/>

    <!--Th configuration Key-->
    <!--<add key="UrlServiceTH" value="http://ksi-srv13.kredisi.do:8080/thunderhead/services/JobAPIWebWrapped?wsdl"/>-->
    <add key="UrlServiceTH" value="http://KSI-DEV07.ksi-dev.do:8080/thunderhead/services/JobAPIWebWrapped?wsdl"/>
    <add key="batchName" value="KrediSiIntegrationDEV" />
    <add key="Username" value="KSI-DEV\THServices" />
    <add key="Password" value="" />
    <add key="batchCollect" value="8"/>
    <add key="finOption" value="0"/>
    <add key="jobType" value="0"/>
    <add key="batchConfigResID" value="1335505280"/>
    <add key="projectID" value="1335500043"/>
    <!--End Th Configuraton-->

    <add key="FileFolderDocs" value="UploadsFiles"/>
    <add key="QuantityUploadDocs" value="5"/>
    <add key="LimitUploadDocsInMb" value="5"/>
    <add key="PathAttachmentTHKSI" value="\\ksi-dev02.ksi-dev.do\DipProcess\attachKSITH"/>
    <add key="CallRexPath" value="\\172.16.25.17\Call Recordings"/>
    <add key="IsDebug" value="true"/>
    
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <!--<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />-->
    </httpModules>
    <httpHandlers>

    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <!--<remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />-->
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWsKCO" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomBinding_IClientService">          
          <binaryMessageEncoding />
          <httpTransport  maxReceivedMessageSize="2147483647"/>
        </binding>
        <binding name="CardNet_PaymentsSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://cardnetservice.kredisi.do/CardNet_Payments.asmx" binding="customBinding" bindingConfiguration="CardNet_PaymentsSoap12" contract="cardnetservice.CardNet_PaymentsSoap" name="CardNet_PaymentsSoap12" />
      <endpoint address="http://wskco.ksi-qa.do/WsKCO.svc" binding="basicHttpBinding"  bindingConfiguration="BasicHttpBinding_IWsKCO" contract="EasyBank.IWsKCO"  name="BasicHttpBinding_IWsKCO" />
      <!--CallRex-->
      <endpoint address="http://callrex.statetrustgroup.com:8002/ClientService" binding="customBinding"
                bindingConfiguration="CustomBinding_IClientService" contract="CallRexReference.IClientService" name="CustomBinding_IClientService" />
    </client>
  </system.serviceModel>
</configuration>