@*<footer class="footer_cotiza_atl mdl-mega-footer  mt-3 bg-primary fixed-bottom p-2">
    <div class="container">
        <div class="mdl-mega-footer__top-section">
            <div class="mdl-mega-footer__left-section float-left">
                <a href="#" target="_blank" id="uptocall-mini" class="float-left ml-2 mr-4"><i class="uptocall-mini-phone"></i></a>
                <!-- <button id="call_btn" class="btn btn-outline-success mr-1" type="button">
                     <i class="fa fa-volume-control-phone fa-2x fa-fw" aria-hidden="true"></i>
                     <strong class="x-hide">Llamar a un Agente</strong>
                 </button> -->
                <button id="chat_btn" type="button" class="btn btn-outline-info mr-1">
                    <i class="fa fa-commenting fa-2x fa-fw" aria-hidden="true"></i>
                    <strong class="x-hide">Iniciar Chat</strong>
                </button>
                <button id="mail_btn" type="button" class="btn btn-outline-warning hide">
                    <i class="fa fa-envelope fa-2x fa-fw" aria-hidden="true"></i>
                    <strong class="x-hide">Enviar un Correo</strong>
                </button>
            </div>
            <div class="mdl-mega-footer__right-section float-right">
                <ul class="mdl-mega-footer__link-list mdl-color-text--white d-flex justify-content-center x-hide mb-0 mt-2 float-left">
                    <li><!-- <i class="fa fa-phone float-left mr-3"></i> --><strong>Tel: </strong> (809) 565-5591 &nbsp•&nbsp</li>
                    <li class="mr-3"> <!-- <i class="fa fa-envelope float-left mr-3" aria-hidden="true"></i> --> <strong> Email:</strong> ventas@atlantica.do</li>
                </ul>
                <a id="DisplayPepFormr" class="mdl-button mdl-button--raised mdl-js-button mb-1 mdl-js-ripple-effect mdl-color-text--white bg-success" style="display:none">
                    <strong class="x-hide">Continuar</strong>
                    <i class="material-icons">arrow_forward</i>
                </a>
                <a id="SaveAditionalInfoDriver" href="InfoAddVehicle" class="mdl-button mdl-button--raised mdl-js-button mb-1 mdl-js-ripple-effect mdl-color-text--white bg-success">
                    <strong class="x-hide">Continuar</strong>
                    <i class="material-icons">arrow_forward</i>
                </a>
            </div>
        </div>
    </div>
</footer>*@
