/**
***
	Archivo: atlantica-menu.css
	Description: archivo que brinda el look and feel de Atlantica Seguros
	Fecha: 20/11/2017
	Autor: Luis Enrique Garcia Orellana.
	email: lgarcia@statetrust.sv
***
**/
.main_menu.menu2 a.active,
.main_menu.menu2 .nav li a.active{
    color:#0b456e;
}

.main_menu.menu2.nav {
    width: 100%;
}

.main_menu.menu2 {
    background-color: #fff;
    min-width: 300px;
    min-height:140px;
    float: left;
    position: relative;
    width: 100%;
}
.main_menu.menu2 ul.nav.navbar-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 300;
    float:right;
    width:100%;
}
.main_menu.menu2 .nav li {
    float: left;
    height: 125px;
    width:100%;
    position: relative;
    text-align: left;
}

/******************************************************************************************/
/********  AQUI DEFINIMOS EL ANCHO DE LOS ELEMENTOS LI PARA EL NUMERO DE OPCIONES  ********/
/******************************************************************************************/
.main_menu.menu2 .nav li {
    float: left;
    width:10%;
    position:relative;
    text-align: center;
}
/******************************************************************************************/
/******************************************************************************************/

.main_menu.menu2 > .st-menu-sv > .nav li:nth-child(11) {width: 10%;}
.main_menu.menu2 .nav a {
    display: block;
    width: auto;
}
.main_menu.menu2 .nav > li > a:hover {
    color: #cb4d79;
    border-bottom: 5px solid #cb4d79;
}
.nav i {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 0.4em;
}
.main_menu.menu2 .icon + span { padding-top:0.1em; line-height:1.1em}

.main_menu.menu2 .dropdown:hover > .drop-nav,
.main_menu.menu2 .flyout:hover > .flyout-nav {display:block; z-index:999; width:100%; }

.drop-nav {
    color:#fff;
    z-index:99;
    background:#001827;
    top:90px;
    min-width:150px;
    width:100%;
    left:0px;
    -webkit-border-radius:10px;
    border-radius:10px;
    font-size:0.75em;
}
.drop-nav li {
    position:relative;
    float:left;
    height:35px;
    width:100%;
    white-space:nowrap;
}
/*
.nav li:nth-child(11) {
width: 10%;
}
*/
.main_menu.menu2 .nav li span{
    display:block;
    z-index:5;
    /*float:left;*/
}
.main_menu.menu2 .nav li span.icon {
    width: 80px;
    height: 80px;
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90%;
    z-index: 999;
    margin-top: 4px;
    margin: auto;
    display: block;
}
/**
.main_menu.menu2 a.active, .main_menu.menu2 .nav li a.active, .main_menu.menu2 .nav li a:hover {
background-image:url(Images/bg-active.png);
background-repeat:no-repeat;
background-size:100px 100px;
background-position:center center;
border-left: none;
border-top:none;
border-bottom:none;
width:100%;
}
**/

.main_menu.menu2 .nav .navtoogle {
    display: none;
    width: 100%;
    text-align: left;
    color:#FFF;
    font-size: 1em;
    background: none;
    border: none;

    border-top:none!important;
    border-bottom:none !important;

    padding-top:2px;
    padding-left: 30px;

    cursor: pointer;
    line-height:32px;
    background:#01254c;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}

/*=| BOTONES MENU SUPERIOR | =============*/
.dashboard { background-image: url(/Content/images/ico-dashboard.png);}
.clients { background-image: url(/Content/images/ico-clients.png);}
.comisiones { background-image: url(/Content/images/ico-commissions.png);}
.pagos { background-image: url(/Content/images/ico-payouts.png);}
.cancelaciones { background-image: url(/Content/images/ico-cancelaciones.png);}
.formas { background-image: url(/Content/images/ico-formas.png);}
.entretenimiento { background-image: url(/Content/images/ico-entretenimiento.png);}
.contactos { background-image: url(/Content/images/ico-contactos.png);}
.ventas { background-image: url(/Content/images/ico-cotizar.png);}
.mainteince { background-image: url(/Content/images/ico-manteint.png);}
.queue { background-image: url(/Content/images/ico-queue.png);}
.history { background-image: url(/Content/images/ico-history.png);}
.add-claims { background-image: url(/Content/images/ico-addclaims.png);}
.search { background-image: url(/Content/images/ico-search.png);}
.myClaims { background-image: url(/Content/images/myClaims.png);}
.infoPiezas { background-image: url(/Content/images/ico-infopieza.png);}
.inventory { background-image: url(/Content/images/Inventory.png);}
.sellers { background-image: url(/Content/images/sellers-icon.png);}
.informe { background-image: url(/Content/images/informe-icon.png);}
.indice { background-image: url(/Content/images/indice-icon.png);}
.calendar { background-image: url(/Content/images/calendar-icon.png);}

.ContainerLoading { 
    background-image: url(/Content/images/loading.gif);
}

.icon + span {
    font-size:0.9em;
    text-align:center;
    margin-top:0px;
    font-weight: normal;
    color:#000
}
span.txt_lb {
    color: #0b456e;
}
.nav a {
    /*height:90px;*/
    display: block;
    /*color: rgba(255, 255, 255, .9);*/
    text-decoration: none;
    padding: 0.3em 0.25em;
    /*text-shadow: 0px 1px 2px rgba(0,0,0, .65);*/
    text-align:left;
    /*border-left: 1px solid transparent; #001320*/
}

/**
Dropdown de Bootstrap
**/
.dropdown.open .dropdown-menu li {
    height: 28px;
    width: 100%;
}
.dropdown.open .dropdown-menu li span {
    text-align: left;
    width: 100%;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #04395d;
    color: white;
}
.dropdown-menu > li > a:hover span, .dropdown-menu > li > a:focus span {
    color: white;
}

@media screen and (min-width:768px) and (max-width:1520px) {
    .navbar-nav {
        width: 100%;
    }
    /* aqui se divide en 2 filas*/
    .nav li {
        display: block;
        float: left;
        width: 20%;
        line-height:12px !important;
    }
    .nav a {
        padding: 0.625em 0;
        vertical-align:middle;
        height: 50px;
        text-align:left;
        position: relative;
    }
    .nav li span,
    .nav li span.icon {
        display: inline-block;
    }
    /*iconos cuando se collapsa el menu*/
    .nav li span.icon {
        width: 38px;
        height:38px;
        position:absolute !important;
        left:2px;
        top: 4px;
        margin:auto;
    }
    .dropdown:hover span.icon {
        width: 32px;
        height:32px;
        position:absolute !important;
        left:2px;
        top: 4px;
        margin:auto;
        z-index:999;
    }
    .dropdown:hover > .drop-nav,
    .flyout:hover > .flyout-nav {display:block; z-index:999; width:100%; }

    .drop-nav { color:#fff; z-index:99; background:#001827; top:90px; min-width:150px; width:100%; left:0px; -webkit-border-radius:10px; border-radius:10px; font-size:0.75em;}
    .drop-nav li { position:relative; float:left; height:35px; width:100%; white-space:nowrap;}
    .icon + span {
        font-size: 0.9em;
        margin-left:40px;
        position:static;
        text-align:left;
        margin-right:5px;
        margin-top:0px;
    }
    .nav li i {display: inline-block;}
    .dropdown:hover li  		{  display: block; z-index:1; }
    .dropdown:hover li span  	{  display: block; z-index:1; }
    .dropdown:hover a .name_dd  {  display: block; z-index:999; }
    .nav li span.icon	{ z-index:0;}
    .dropdown > a		{ z-index: auto;}


    .main_menu.menu2 .nav li span.icon 	{ width: 38px; height: 38px; margin-top: 0px !important;}

    .main_menu.menu2 a.active,
    .main_menu.menu2 .nav li a.active,
    .main_menu.menu2 .nav li a:hover 	{ background-size: 38px 38px !important; background-position: 0px 0px !important; height: 28px;}
    .main_menu.menu2 .nav li 			{ width: 33%; height: 50px;}
    .nav li span.icon 					{ left: 4px;}
    .main_menu.menu2 .box_logo .logo 	{ margin-top: 0px !important;}

    .dropdown.open .dropdown-menu li {
        height: 28px;
        width: 100%;
    }
    .dropdown.open .dropdown-menu li span {
        margin-top: 5px;
        text-align: left;
        width: 100%;
    }
    .item-blanco {
        display: none !important;
     }
}
@media screen and (min-width:321px) and (max-width:767px) {
    .navbar-nav {
          height: auto;
          width: auto;
     }
     .main_menu > div {
          float: left;
     }
     .main_menu.menu2 .nav li {
         height: 50px;
     }
     .main_menu.menu2 .nav li.dropdown.open {
         height: auto !important;
     }
     .main_menu.menu2 .nav ul,
     .main_menu.menu2 .nav li {
        float: none;
        width: 100%;
     }
     .main_menu.menu2 .nav li:hover {
         background-color: #a60743;
     }
     .js .nav ul	{
          overflow: visible !important;
     }
     .main_menu.menu2 {
          min-height: 130px !important;
          overflow: visible;
     }
     .main_menu.menu2 a.active,
     .main_menu.menu2 .nav li a.active,
     .main_menu.menu2 .nav li a:hover {
          background-size: 38px 38px;
          background-position: 7px 1px!important;
     }
     .main_menu.menu2 .nav li span {
          background-repeat: no-repeat;
          background-position: center center;
          float: left;
          text-align:center;
          vertical-align:middle;
          width:auto;
          z-index:1;
          margin-top:10px;
     }
     .main_menu.menu2 .nav li span.icon {
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 90%;
          float: left;
          height:38px;
          text-align:center;
          vertical-align:middle;
          width:38px;
          z-index:10;
          /*margin-top:4px;*/
     }
     .dropdown.open .dropdown-menu li {
         float: none;
         height: 30px;
         width: 100%;
     }
     .dropdown.open .dropdown-menu li span {
          text-align: left;
          width: 100%;
     }

     .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
          height: 40px;
          padding-bottom: 5px;
          padding-top: 0;
          padding-bottom: 0;
     }
     .navbar-default .navbar-nav .open .dropdown-menu > li > a {
          color: white;
     }
     .navbar-default .navbar-nav .open .dropdown-menu > li > a > span {
          margin-top: 5px;
          margin-bottom: 5px;
     }
     .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
     .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
         color: white;
     }
     .navbar-default .navbar-nav .open .dropdown-menu > li:hover {
          background-color: #a60743;
     }
     .navbar-default .navbar-nav .open .dropdown-menu > li:hover > a > span {
          color: white;
     }
     .item-blanco {
        display: none !important;
     }
}
@media screen and (max-width:320px) {
    .navbar-nav {
          height: auto;
          width: auto;
     }
     .main_menu > div {
          float: left;
     }
     .main_menu.menu2 .nav ul,
     .main_menu.menu2 .nav li {
          width: 100%;
     }
     .js .nav ul	{
          overflow: visible !important;
     }
     .main_menu.menu2 {
          min-height: 130px !important;
          overflow: visible;
     }
     .main_menu.menu2 a.active,
     .main_menu.menu2 .nav li a.active,
     .main_menu.menu2 .nav li a:hover {
          background-size: 38px 38px;
          background-position: 7px 1px!important;
     }
     .main_menu.menu2 .nav li span {
          background-repeat: no-repeat;
          background-position: center center;
          float: left;
          text-align:center;
          vertical-align:middle;
          width:auto;
          z-index:1;
          margin-top:10px;
     }
     .main_menu.menu2 .nav li span.icon {
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 90%;
          float: left;
          height:38px;
          text-align:center;
          vertical-align:middle;
          width:38px;
          z-index:10;
          /*margin-top:4px;*/
     }
     .main_menu.menu2 .nav li:hover {
         background-color: #a60743;
     }
     .dropdown.open .dropdown-menu li {
         height: 28px;
         width: 100%;
     }
     .dropdown.open .dropdown-menu li span {
          text-align: left;
          width: 100%;
     }

     .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
          height: 40px;
          padding-bottom: 5px;
          padding-top: 0;
          padding-bottom: 0;
     }
     .navbar-default .navbar-nav .open .dropdown-menu > li > a {
          color: white;
     }
     .navbar-default .navbar-nav .open .dropdown-menu > li > a > span {
          margin-top: 5px;
          margin-bottom: 5px;
     }
     .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
     .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
         color: white;
     }
     .navbar-default .navbar-nav .open .dropdown-menu > li:hover {
          background-color: #a60743;
     }
     .navbar-default .navbar-nav .open .dropdown-menu > li:hover > a > span {
          color: white;
     }
     .item-blanco {
        display: none !important;
     }
     .st-logo {
        display: block;
        float: left;
        margin-top: 10px;
        width: 100%;
     }
     .st-menu-sv {
        display: block;
        float: left;
        width: 100%;
     }
}
