.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alertas .alert {
    margin-bottom: 0px !important;
    border:0 !important;
    border-radius: 0px !important;
}


/*.vendedores { padding:10px!important; margin-top:70px !important;}*/
.vendedores ul{ display:block; }
.vendedores ul li { float:left !important; }
.vendedores ul li + li {
    padding-left:20px;
}
/*
.vendedores ul li h4 { margin-top: 24px!important; }
.vendedores ul li h5 { margin-top: 26px!important; }
*/
.vendedores a.btn{margin-top: 5px!important; float:right!important;}

.mt-5 {margin-top:5px!important;
}

/**
------------------------------------------------------------------------------
-------------              lgarcia 06/04/2019               ------------------
------------------------------------------------------------------------------
**/

html, body {
    height: 100%;
}
header {
    background-color: #fff;
    height: auto;
    min-height: 120px;
    width: 100%;
}
.clear {
    clear: both;
}
.st-logo {
    display: block;
    float: left;
    margin-top: 10px;
    width: 30%;
}

.st-menu-sv {
    display: block;
    float: left;
    width: 70%;
}
#st-logo {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 310px;
    position: relative;
}
#st-container {
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: 0.5s;
}
.st-content-sv {
    background-color: #f5f5f5;
    height: 100%;
    position: absolute;
    overflow-y: auto;
    transition: 0.5s;
    width: 100%;
}
.navbar {
    margin-bottom: 0;
}
.navbar.navbar-default {
    background: none;
    border: none;
}
.panel-group > .panel.panel-default > .panel-heading {
    background: #135787;
    background: -moz-linear-gradient(top, #135787 0%, #0c466f 100%);
    background: -webkit-linear-gradient(top, #135787 0%,#0c466f 100%);
    background: linear-gradient(to bottom, #135787 0%,#0c466f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#135787', endColorstr='#0c466f',GradientType=0 );
    -webkit-box-shadow: 0 0 2px 1px rgba(13, 46, 77, 0.58) inset;
    -moz-box-shadow: 0 0 2px 1px rgba(13, 46, 77, 0.58) inset;
    box-shadow: 0 0 2px 1px rgba(13, 46, 77, 0.58) inset;
    border-color: #0C131F;
    color: #fff;
}
.panel-group .panel-title > a {
    color: #fff;
}
.st-content-st-sv {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 96%;
}
.fa-15x {
    font-size: 1.5em;
}
.table-striped > thead > tr:first-child > th {
    background: #135787;
    background: -moz-linear-gradient(top, #135787 0%, #0c466f 100%);
    background: -webkit-linear-gradient(top, #135787 0%,#0c466f 100%);
    background: linear-gradient(to bottom, #135787 0%,#0c466f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#135787', endColorstr='#0c466f',GradientType=0 );
    border-color: #0C131F;
    color: #fff;
    text-align: center;
}
.table-striped > thead > tr:nth-child(2) > th {
    background: #ebecef;
}
span.letter {
    bottom: -10px;
    color: #000;
    font-size: 1em;
    font-weight: 500;
    position: absolute;
    right: 25px;
    text-align: left;
    text-shadow: none;
}
/**
----------------------------------------------------------------------------------
--------------------------   BTN STATETRUST SV BOOT  -----------------------------
----------------------------------------------------------------------------------
**/
.btn-primary-st {
    color: #fff;
    background: #508db9;
	background: -moz-linear-gradient(45deg, #508db9 5%, #b55884 100%);
	background: -webkit-linear-gradient(45deg, #508db9 5%,#b55884 100%);
	background: linear-gradient(45deg, #508db9 5%,#b55884 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#508db9', endColorstr='#b55884',GradientType=1 );
    border-color: #dc3f7a;
}
.btn-primary-st:hover {
    color: #fff;
    background-color: #830937;
    border-color: #830937;
}
.btn-primary-st:focus, .btn-primary-st.focus {
    box-shadow: 0 0 0 3px rgba(131, 9, 55, 0.5);
}
.btn-primary-st.disabled, .btn-primary-st:disabled {
    background-color: #f6b2cc;
    border-color: #f6b2cc;
}
.btn-primary-st:active, .btn-primary-st.active,
.show > .btn-primary-st.dropdown-toggle {
    background-color: #830937;
    background-image: none;
    border-color: #830937;
}


.btn-secundary-st {
    background: #135787;
    background: -moz-linear-gradient(top, #135787 0%, #0c466f 100%);
    background: -webkit-linear-gradient(top, #135787 0%,#0c466f 100%);
    background: linear-gradient(to bottom, #135787 0%,#0c466f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#135787', endColorstr='#0c466f',GradientType=0 );
    border-color: #415464;
    color: #fff;
}
.btn-secundary-st:hover {
    color: #fff;
    background-color: #415464;
    border-color: #091f40;
}
.btn-secundary-st:focus, .btn-secundary-st.focus {
    box-shadow: 0 0 0 3px rgba(65, 84, 100, 0.5);
    color: #fff;
}
.btn-secundary-st.disabled, .btn-secundary-st:disabled {
    background-color: #94add1;
    border-color: #091f40;
}
.btn-secundary-st:active, .btn-secundary-st.active,
.show > .btn-secundary-st.dropdown-toggle {
    background-color: #091f40;
    background-image: none;
    border-color: #415464;
}
/**
---------------------------------------------------------------------------
----------------------           TABS            --------------------------
---------------------------------------------------------------------------
**/
.contenedor_tabs {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    border: 1px solid #c6c6c6;
    margin-bottom: 2px;
}
.contenedor_tabs ul.tabs_ttle {
    display: table;
    width: 100%;
    margin: 0;
    border: 0;
    background: #CCCCCC;
    border-left: 1px solid #FFF;
    padding: 0;
}
.contenedor_tabs ul.tabs_ttle li {
    display: block;
    width: 8.33%;
}
.contenedor_tabs ul.tabs_ttle li a {
    color: #000;
    display: block;
    height: 100%;
    padding-top: 10px;
    width: 100%;
}
.contenedor_tabs ul.tabs_ttle li a:hover {
    text-decoration: none;
}
.contenedor_tabs ul.tabs_ttle li.active a {
    color: #fff;
    display: block;
    height: 100%;
    padding-top: 15px;
    width: 100%;
}
.contenedor_tabs ul.tabs_ttle li {
    background: #f2f2f2;
    background: -moz-linear-gradient(top, #f2f2f2 0%, #afafaf 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#afafaf));
    background: -webkit-linear-gradient(top, #f2f2f2 0%,#afafaf 100%);
    background: -o-linear-gradient(top, #f2f2f2 0%,#afafaf 100%);
    background: -ms-linear-gradient(top, #f2f2f2 0%,#afafaf 100%);
    background: linear-gradient(to bottom, #f2f2f2 0%,#afafaf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#afafaf',GradientType=0 );
    border-right: 1px solid #FFF;
    border-top: 1px solid #FFF;
    cursor: pointer;
    display: table-cell;
    height: 50px;
    text-align: center;
    overflow: hidden;
    text-shadow: 1px 1px 0px #e8e8e8;
    vertical-align: middle;
    position: relative;
}
.contenedor_tabs ul.tabs_ttle li.disable {
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(60%, #e9ecef), to(#dde2e6));
    background-image: linear-gradient(white, #e9ecef 60%, #dde2e6);
    background-repeat: no-repeat;
}
.contenedor_tabs ul.tabs_ttle li.disable a {
    color: #ccc;
}
.contenedor_tabs ul.tabs_ttle li.active,
.contenedor_tabs ul.tabs_ttle li.active:hover {
    background: #135787;
    background: -moz-linear-gradient(top, #135787 0%, #0c466f 100%);
    background: -webkit-linear-gradient(top, #135787 0%,#0c466f 100%);
    background: linear-gradient(to bottom, #135787 0%,#0c466f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#135787', endColorstr='#0c466f',GradientType=0 );
    color: #fff;
    text-shadow: none;
    box-shadow: none;
}
/************************************************************************************************/
/************************************************************************************************/
.contenedor_tabs ul.tabs_ttle2 {
    background: #f2f2f2;
    display: table;
    width: 100%;
    margin: 0;
    border: 0;
    border-left: 1px solid #FFF;
    padding: 0;
}
.contenedor_tabs ul.tabs_ttle2 li {
    display: block;
    width: 8%;
}
.contenedor_tabs ul.tabs_ttle2 li.active a {
    color: white;
}
.contenedor_tabs ul.tabs_ttle2 li {
    border-top: 1px solid #FFF;
    cursor: pointer;
    display: table-cell;
    height: 50px;
    text-align: center;
    overflow: hidden;
    text-shadow: 1px 1px 0px #e8e8e8;
    vertical-align: middle;
    position: relative;
    transform: skew(-8deg);
}
.contenedor_tabs ul.tabs_ttle2 li.active:first-child {
    background: rgba(3,74,107,1);
}

.contenedor_tabs ul.tabs_ttle2 li:after {
    content: "";
    position: absolute;
    left: -5px;
    top: 0;
    width: 0;
    height: 0px;
    border-width: 25px;
    border-style: solid;
    border-color: transparent transparent transparent #f2f2f2;
}
.contenedor_tabs ul.tabs_ttle2 li:first-child:after {
    border-color: transparent transparent transparent transparent;
}
.contenedor_tabs ul.tabs_ttle2 li:last-child {
    transform: skew(0deg);
}
.contenedor_tabs ul.tabs_ttle2 li.disable {
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(60%, #e9ecef), to(#dde2e6));
    background-image: linear-gradient(white, #e9ecef 60%, #dde2e6);
    background-repeat: no-repeat;
}
.contenedor_tabs ul.tabs_ttle2 li.disable a {
    color: #ccc;
}
.contenedor_tabs ul.tabs_ttle2 li.active,
.contenedor_tabs ul.tabs_ttle2 li.active:hover {
    background: rgba(3,74,107,1);
    text-shadow: 1px 1px 0px #000;
}
.contenedor_tabs ul.tabs_ttle2 li.active + li:after {
    border-color: transparent transparent transparent rgba(3,74,107,1);
}

.num_cases {
    background: #fceabb;
    background: -moz-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
    background: -webkit-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
    background: linear-gradient(to bottom, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 );
    border: 2px solid #f8b500;
    border-radius: 50%;
    box-shadow: 1px 1px 5px #000;
    color: #222;
    line-height: 25px;
    font-size: 12px;
    font-weight: bold;
    display: block;
    height: 30px;
    min-width: 30px;
    right: 5px;
    position: absolute;
    top: 8px;
    width: auto;
}

ul.tabs_ttle2 .num_cases {
    transform: skew(8deg);
}

.contenedor_tabs ul.tabs_ttle2 li:last-child .num_cases {
    transform: skew(0deg);
}

ul.atlantica_steps {
    height: 50px;
    margin-bottom: 0;
    padding-left: 0;
    width: 100%;
}
ul.atlantica_steps li {
    background-image: url(/Content/images/steps.png);
    display: block;
    border-radius: 8px;
    margin-left: 0px;
    margin-right: -19px;
    height: 50px;
    float: left;
    position: relative;
    width: 180px;
}
ul.atlantica_steps li a {
    display: block;
    color: white;
    font-size: 11px;
    margin-left: 15px;
    margin-right: auto;
    margin-top: 8px;
    text-align: center;
    width: 70%;
}
ul.atlantica_steps.dashboard_atlantica li a {
    display: block;
    color: white;
    font-size: 11px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    width: 80%;
}
ul.atlantica_steps li.active {
    background-image: url(/Content/images/steps_active.png);
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
ul.atlantica_steps li.disable {
    background-image: url(/Content/images/steps_disable.png);
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.num_cases2 {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
    border: 2px solid #3589c0;
    border-radius: 50%;
    display: block;
    line-height: 25px;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 8px;
    text-align: center;
    width: 30px;
    z-index: 10;
}

ul.atlantica_steps li.active a {
    color: white;
}

ul.atlantica_steps li.disable a {
    color: gray;
}

ul.atlantica_steps li.active .num_cases2 {
    background: #fceabb;
    background: -moz-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
    background: -webkit-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
    background: linear-gradient(to bottom, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 );
}
.WebGridCheckAndBtn {
    width: 10%;
}
tfoot > tr > td > a[data-swhglnk] {
    background: #ffffff;
    background: -moz-linear-gradient(-45deg, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
    background: -webkit-linear-gradient(-45deg, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
    background: linear-gradient(135deg, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
    border: 1px solid #ececec;
    border-bottom: 1px solid #c3c3c3;
    color: #333;
    border-radius: 3px;
    padding: 4px 8px 4px;
    height: 30px;
    text-decoration: none;
    width: auto;
}
tfoot > tr > td > a[data-swhglnk]:hover {
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom: 2px solid #c3c3c3;
    color: #333;
    border-radius: 3px;
    padding: 4px 8px 4px;
    height: 30px;
    text-decoration: none;
    width: auto;
}

@media screen and (min-width:768px) and (max-width:1520px) {
}
@media screen and (min-width:321px) and (max-width:767px) {
    .contenedor_tabs ul.tabs_ttle li {
        float: left;
        padding-top: 10px;
        width: 50%;
    }
    .st-logo {
        display: block;
        float: left;
        margin-top: 10px;
        width: 100%;
     }
     .st-menu-sv {
        display: block;
        float: left;
        width: 100%;
     }
}
@media screen and (max-width:320px) {
    .contenedor_tabs ul.tabs_ttle li {
        float: left;
        padding-top: 10px;
        width: 100%;
    }
    .st-logo {
        display: block;
        float: left;
        margin-top: 10px;
        width: 100%;
     }
     .st-menu-sv {
        display: block;
        float: left;
        width: 100%;
     }
}