/**
    Archivo: Site.css
    Description: archivo que brinda el look and feel de StateTrust
    Fecha: 15/02/2019
    Autor: Luis Enrique Garcia O.
    email: lgarcia@statetrust.sv
**/

/**
----------------------------------------------------------------------------------
------------------------   HTML ELEMENTS BY APP WEB   ----------------------------
----------------------------------------------------------------------------------
**/
html {
}
body {
    background-color: #fbfbfb;
}
html, body {
    height: 100%;
}
header {
    /*background-color: rgba(241, 238, 228, 0.3);*/
    background-color: rgba(255, 255, 255, 1);
    height: auto;
    width: 100%;
}

/**
----------------------------------------------------------------------------------
--------------------------   BTN STATETRUST SV BOOT  -----------------------------
----------------------------------------------------------------------------------
**/
.btn-primary-st {
    color: #fff;
    background-color: #dc3f7a;
    border-color: #dc3f7a;
}
.btn-primary-st:hover {
    color: #fff;
    background-color: #830937;
    border-color: #830937;
}
.btn-primary-st:focus, .btn-primary-st.focus {
    box-shadow: 0 0 0 3px rgba(131, 9, 55, 0.5);
}
.btn-primary-st.disabled, .btn-primary-st:disabled {
    background-color: #f6b2cc;
    border-color: #f6b2cc;
}
.btn-primary-st:active, .btn-primary-st.active,
.show > .btn-primary-st.dropdown-toggle {
    background-color: #830937;
    background-image: none;
    border-color: #830937;
}


.btn-secundary-st {
    background: #135787;
    background: -moz-linear-gradient(top, #135787 0%, #0c466f 100%);
    background: -webkit-linear-gradient(top, #135787 0%,#0c466f 100%);
    background: linear-gradient(to bottom, #135787 0%,#0c466f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#135787', endColorstr='#0c466f',GradientType=0 );
    border-color: #415464;
    color: #fff;
}
.btn-secundary-st:hover {
    color: #fff;
    background-color: #415464;
    border-color: #091f40;
}
.btn-secundary-st:focus, .btn-secundary-st.focus {
    box-shadow: 0 0 0 3px rgba(65, 84, 100, 0.5);
    color: #fff;
}
.btn-secundary-st.disabled, .btn-secundary-st:disabled {
    background-color: #94add1;
    border-color: #091f40;
}
.btn-secundary-st:active, .btn-secundary-st.active,
.show > .btn-secundary-st.dropdown-toggle {
    background-color: #091f40;
    background-image: none;
    border-color: #415464;
}
/**
----------------------------------------------------------------------------------
----------------------      CLASE DE CSS DE LA APP WEB    ------------------------
----------------------------------------------------------------------------------
**/
.card-statetrust > .card-header {
    background: #135787;
    background: -moz-linear-gradient(top, #135787 0%, #0c466f 100%);
    background: -webkit-linear-gradient(top, #135787 0%,#0c466f 100%);
    background: linear-gradient(to bottom, #135787 0%,#0c466f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#135787', endColorstr='#0c466f',GradientType=0 );
    color: #FFF;
}
.card-statetrust + .card-statetrust {
    margin-top: 2px;
}
.clear {
    clear: both;
}
.st-container {
    background-color: #f5f5f5;
    height: 100%;
    position: absolute;
    width: 100%;
    transition: 0.5s;
}
.st-container-body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}
.fa-15x {
    font-size: 1.5em;
}
.mt-bottom {
    margin-top: 30px;
}
.container-st {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
}
.modal-header {
    background: #135787;
    background: -moz-linear-gradient(top, #135787 0%, #0c466f 100%);
    background: -webkit-linear-gradient(top, #135787 0%,#0c466f 100%);
    background: linear-gradient(to bottom, #135787 0%,#0c466f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#135787', endColorstr='#0c466f',GradientType=0 );
}

.modal-header-danger {
    background: #dc3545;
    background: -moz-linear-gradient(top, #dc3545 0%, #0c466f 100%);
    background: -webkit-linear-gradient(top, #dc3545 0%,#0c466f 100%);
    background: linear-gradient(to bottom, #dc3545 0%,#0c466f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc3545', endColorstr='#0c466f',GradientType=0 );
}

.modal-title,
.close {
    color: #fff;
}
/*.loading {
    background-color: rgba(255, 255, 255, 0.4);
    display: none;
    height: 100%;
    position: fixed;
    transition: 0.5s;
    width: 100%;
    z-index: 1100;
}
.imgloading {
    display: block;
    max-width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}*/
.logo {
    max-width: 300px;
    position: relative;
}
span.letter {
    bottom: 5px;
    color: #000;
    font-size: 1em;
    font-weight: 500;
    position: absolute;
    right: 10px;
    text-align: left;
    text-shadow: none;
}
/**
----------------------------------------------------------------------------------
----------------------       CLASES DE CSS BOOTSTRAP      ------------------------
----------------------------------------------------------------------------------
**/
.dropdown-toggle::after {
    display: none;
}
.accordion > .card > .card-header {
    background: #135787;
    background: -moz-linear-gradient(top, #135787 0%, #0c466f 100%);
    background: -webkit-linear-gradient(top, #135787 0%,#0c466f 100%);
    background: linear-gradient(to bottom, #135787 0%,#0c466f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#135787', endColorstr='#0c466f',GradientType=0 );
    box-shadow: 0 0 2px 1px rgba(13, 46, 77, 0.58) inset;
    border-color: #0C131F;
    color: white;
    padding: 0;
}
.accordion > .card > .card-header > h2.mb-0 {
    font-size: 1em;
}
.accordion > .card > .card-header > h2.mb-0 > button.btn.btn-link {
    color: #fff;
}
.card-header {
    padding: 0.5rem;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #92e0fd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 173, 238, 0.25);
}
.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #bdb382;
    background-color: #bdb382;
}
.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(189, 179, 130, 0.25);
}
/**
----------------------------------------------------------------------------------
----------------------         TABLAS DE BOOTSTRAP        ------------------------
----------------------------------------------------------------------------------
**/
.table-striped2 > thead > tr {
    background-color: #efefef;
}
.table-striped2 > thead > tr > th {
    padding: 0.5rem;
}
.table-striped2 > thead > tr input.form-control {
    height: 25px;
    padding: 3px 6px;
}
.table-striped2 > thead > tr:first-child {
    background: #135787;
    background: -moz-linear-gradient(top, #135787 0%, #0c466f 100%);
    background: -webkit-linear-gradient(top, #135787 0%,#0c466f 100%);
    background: linear-gradient(to bottom, #135787 0%,#0c466f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#135787', endColorstr='#0c466f',GradientType=0 );
    box-shadow: 0 0 2px 1px rgba(13, 46, 77, 0.58) inset;
    border-color: #0C131F;
}
.table-striped2 > thead > tr:first-child th,
.table-striped2 > thead > tr:first-child td {
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    vertical-align: middle;
}
.table-striped2 > tbody > tr:nth-of-type(odd) {
    background-color: #fbfbfb;
}
.table-striped2 > tbody > tr:hover,
.table-striped2 > tbody > tr:nth-of-type(odd):hover {
    background: #e4edf7 !important;
}
.table-striped2 > tbody > tr > td {
    border-left: 1px solid #fafafa;
    border-right: 1px solid #fafafa;
    padding: 5px;
}
tr.header-table {
}
tr.header-table th {
    background: #135787;
    background: -moz-linear-gradient(top, #135787 0%, #0c466f 100%);
    background: -webkit-linear-gradient(top, #135787 0%,#0c466f 100%);
    background: linear-gradient(to bottom, #135787 0%,#0c466f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#135787', endColorstr='#0c466f',GradientType=0 );
    box-shadow: 0 0 2px 1px rgba(13, 46, 77, 0.58) inset;
    border-color: #0C131F;
    color: white;
    text-align: center;
}


/**
----------------------------------------------------------------------------------
--------------         TABS PRINCIPALES DE LA APLICACION        ------------------
----------------------------------------------------------------------------------
**/
.contenedor_tabs {
    text-transform: uppercase;
    font-size: 12px;
    border: 1px solid #c6c6c6;
    margin-bottom: 2px;
}
.contenedor_tabs ul.tabs_ttle {
    display: table;
    width: 100%;
    margin: 0;
    border: 0;
    background: #CCCCCC;
    border-left: 1px solid #FFF;
    padding: 0;
}
.contenedor_tabs ul.tabs_ttle li {
    display: block;
    width: 10%;
}
.contenedor_tabs ul.tabs_ttle li a {
    color: black;
    display: block;
    height: 100%;
    padding-top: 10px;
    width: 100%;
}
.contenedor_tabs ul.tabs_ttle li a:hover {
    text-decoration: none;
}
.contenedor_tabs ul.tabs_ttle li.active a {
    color: white;
    display: block;
    height: 100%;
    padding-top: 15px;
    width: 100%;
}
.contenedor_tabs ul.tabs_ttle li {
    background: #f2f2f2;
    background: -moz-linear-gradient(top, #f2f2f2 0%, #afafaf 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#afafaf));
    background: -webkit-linear-gradient(top, #f2f2f2 0%,#afafaf 100%);
    background: -o-linear-gradient(top, #f2f2f2 0%,#afafaf 100%);
    background: -ms-linear-gradient(top, #f2f2f2 0%,#afafaf 100%);
    background: linear-gradient(to bottom, #f2f2f2 0%,#afafaf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#afafaf',GradientType=0 );
    border-right: 1px solid #FFF;
    border-top: 1px solid #FFF;
    cursor: pointer;
    display: table-cell;
    height: 50px;
    position: relative;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
}
.contenedor_tabs ul.tabs_ttle li.disable {
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(60%, #e9ecef), to(#dde2e6));
    background-image: linear-gradient(white, #e9ecef 60%, #dde2e6);
    background-repeat: no-repeat;
}
.contenedor_tabs ul.tabs_ttle li.disable a {
    color: #ccc;
}
.contenedor_tabs ul.tabs_ttle li.active,
.contenedor_tabs ul.tabs_ttle li.active:hover {
    background: rgba(136,127,101,1);
	background: -moz-linear-gradient(top, rgba(136,127,101,1) 0%, rgba(67,51,21,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(136,127,101,1)), color-stop(100%, rgba(67,51,21,1)));
	background: -webkit-linear-gradient(top, rgba(136,127,101,1) 0%, rgba(67,51,21,1) 100%);
	background: -o-linear-gradient(top, rgba(136,127,101,1) 0%, rgba(67,51,21,1) 100%);
	background: -ms-linear-gradient(top, rgba(136,127,101,1) 0%, rgba(67,51,21,1) 100%);
	background: linear-gradient(to bottom, rgba(136,127,101,1) 0%, rgba(67,51,21,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#887f65', endColorstr='#433315', GradientType=0 );
    color: #FFF;
}

/**
----------------------------------------------------------------------------------
----------------------           FONDOS WEB APP           ------------------------
----------------------------------------------------------------------------------
**/
.back02 {
    background-color: #fbfbfb;
}

/**
----------------------------------------------------------------------------------
----------------------         MEDIA QUERYS WEBAPP        ------------------------
----------------------------------------------------------------------------------
**/
@media screen and (min-width:993px) and (max-width:1400px) {
    header {
        background-color: rgba(255, 255, 255, 1);
        height: auto;
        min-height: 100px;
        width: 100%;
    }
    .logo {
        margin-top: 10px;
    }
}
@media screen and (min-width:768px) and (max-width:992px) {
    header {
        background-color: rgba(255, 255, 255, 1);
        height: auto;
        min-height: 100px;
        width: 100%;
    }
    .logo {
        margin-top: 10px;
    }
}
@media screen and (min-width:321px) and (max-width:767px) {
    header {
        background-color: rgba(255, 255, 255, 1);
        height: auto;
        min-height: 100px;
        width: 100%;
    }
    .logo {
        margin-top: 10px;
    }
}
@media screen and (max-width:320px) {
    header {
        background-color: rgba(255, 255, 255, 1);
        height: auto;
        min-height: 100px;
        width: 100%;
    }
    .logo {
        margin-top: 10px;
    }
}



.dataTables_filter, .dataTables_info {
    display: none;
}

.loading:before {
    content: '';
    background-color: #fff;
    left: 0;
    top: 0;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    z-index: 8000;
    position: fixed;
}

.loading:after {
    content: '';
    position: fixed;
    background: url(/Content/images/loading.gif) no-repeat center center;
    width: 80px;
    height: 80px;
    background-size: 100%;
    left: 48%;
    top: 48%;
    z-index: 9000;
}

.ui-widget-header {
    border: 1px solid #868e96 !important;
    background: #868e96 url("images/ui-bg_flat_75_5d82cb_40x100.png") 50% 50% repeat-x !important;
    color: #FFFFFF !important;
}

@media (min-width: 576px) {
    .modal-notification {
        max-width: 500px;
    }
}