@using STL.POS.Data;

<style type="text/css">
    .grayscale {
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%); /* For Webkit browsers */
        filter: gray; /* For IE 6 - 9 */
        -webkit-transition: all .6s ease; /* Transition for Webkit browsers */
    }

    .rgbscale {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
        filter: none;
    }
</style>

<div class="reset wrapp contGnl cpc wrapp contGnl cpc modal" id="brochurePopup" style="margin-left: auto;margin-right: auto;">
    <div class="labelAZ mB">Comparativo de Productos y Coberturas</div>
    <div class="row_A blue">
        <div class="row_A cont_tabs mB">
            <ul class="tabs" data-ks-tabs>
                @{Html.RenderPartial("FamilyTypes", (object)Model); }
                <li class=""><a href="#tCom">Tabla comparativos</a></li>
            </ul>

            <div class="cont_gnl tab_pane_container">
                @{int i = 0; }
                @foreach (var p in (ProductTypeFamilyBrochure[])Model)
                {
                    <article id="family_@i">
                            @{Html.RenderPartial("NoProductLeyTypes", (object)p); }
                    </article>
                    i++;
                }
                <article id="tCom">
                    @{Html.RenderPartial("TablaComparativos", (ProductTypeFamilyBrochure[])Model);}
                </article>
            </div><!--// END .tab_pane_container-->
        </div>
    </div>
</div>

