/*-- MENU SUPERIOR ----------*/
#AgentContenedor .main_menu.menu2{
	width: 100%;
	float: left;
	/*min-height: 90px;*/
	position:relative; /*height:90px;*/ top:0;
	font-family:Arial, Helvetica, sans-serif;
	}
#AgentContenedor .main_menu.menu2 > div{ float:left;}
#AgentContenedor .main_menu.menu2 > div:first-child { width:290px; position:absolute; left:0; top:0;}
#AgentContenedor .main_menu.menu2 > div:last-child { width:100%; padding-left:290px;}

#AgentContenedor .main_menu.menu2 a.active, 
#AgentContenedor .main_menu.menu2 .nav li a.active{color:#FFF !important}



#AgentContenedor .main_menu.menu2 {
	width: 100%;
	min-width: 320px;
	height:128px;
	float: left;
	background: url(../images2/bg-top-menu.png) no-repeat top left;
	background-size:100%;
		
	}

#AgentContenedor .main_menu.menu2 .box_logo .logo{
	display:block;
	height:100px;
	background-image: url(../images2/logo-02.png);
	background-repeat: no-repeat;
	background-position: center center;	
	background-size: 90%;
	background-color: transparent;
	width:320px;
	margin-top:4px;
	}

#AgentContenedor .main_menu.menu2 .nav ul {
	width:95%;
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight: 300;
	float:right;
	}
#AgentContenedor .main_menu.menu2 .nav li {
	float: left;
	width:10%;
	position:relative;
	text-align: center;
	}
/*.nav li:nth-child(11) {width: 10%;}*/

#AgentContenedor .main_menu.menu2 .nav li span{ display:block; z-index:99;}
#AgentContenedor .main_menu.menu2 .nav li span.icon {
	width:80px;
	height:80px;
	text-align:center;
	margin:0 auto;
	vertical-align:middle;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 90%;
	z-index:500;
	margin-top:4px;
	position:relative;
	}
	
	
#AgentContenedor .main_menu.menu2 a.active, .main_menu.menu2 .nav li a.active, .main_menu.menu2 .nav li a:hover {
	background-image:url(../images/bg-active.png);
	background-repeat:no-repeat;
	background-size:100px 100px;
	background-position:center center;
	border-left: none!important;
	border-top:none!important;
	border-bottom:none!important;
	width:100%;
	height:98px;
	z-index:99;
	position:relative;
	}
	



/* Styling the toggle menu link and hiding it */
#AgentContenedor .main_menu.menu2 .nav .navtoogle{
	display: none;    
	width: 100%;
	text-align: left;
	color:#FFF;
	font-size: 1em;
	background: none;          
	border: none;

	border-top:none!important;
	border-bottom:none !important;

	padding-top:2px;
	padding-left: 30px;
	
	cursor: pointer;
	line-height:32px;              
	background:#01254c;
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	}
	

/*=| BOTONES MENU SUPERIOR | =============*/
#AgentContenedor .dashboard 			{ background-image: url(../images2/ico-dashboard.png);}
#AgentContenedor .clients 			{ background-image: url(../images2/ico-clients.png);}
#AgentContenedor .reclamos 			{ background-image: url(../images2/ico-reclamos.png);}
#AgentContenedor .comisiones 		{ background-image: url(../images2/ico-commissions.png);}
#AgentContenedor .pagos 	{ background-image: url(../images/ico-payouts.png);}
#AgentContenedor .cancelaciones 	{ background-image: url(../images/ico-cancelaciones.png);}
#AgentContenedor .formas		{ background-image: url(../images2/ico-formas.png);}
#AgentContenedor .entretenimiento 		{ background-image: url(../images/ico-entretenimiento.png);}
#AgentContenedor .contactos 		{ background-image: url(../images2/ico-contactos.png);}
#AgentContenedor .ventas 		{ background-image: url(../images2/ico-cotizar.png);}
#AgentContenedor .main_menu.menu2 .icon + span{ font-size:0.75em; text-align:center; margin-top:0px;font-weight: 600; color:#FFFFFF}
#AgentContenedor .main_menu.menu2 .nav a {
	height:90px;
	display: block;    
	color: rgba(255, 255, 255, .9);
	text-decoration: none;
	padding: 0.3em 0.25em;
	/*text-shadow: 0px 1px 2px rgba(0,0,0, .65);*/
	text-align:center;
	/*border-left: 1px solid transparent; #001320*/
	}



/* SUB MENU MENU SUPERIOR-------------------- */
#AgentContenedor .name_dd {
	width: 100%;
	height:70px;
	color: #fff;
	font-weight: normal;
	top: 60px;
	left: 0;
  	line-height: 70px;
	text-shadow: 1px 1px 5px #001827;
	-webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	
	background: #11385b;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #11385b 0%, #021122 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#11385b), color-stop(100%,#021122));
	background: -webkit-linear-gradient(top, #11385b 0%,#021122 100%);
	background: -o-linear-gradient(top, #11385b 0%,#021122 100%);
	background: -ms-linear-gradient(top, #11385b 0%,#021122 100%);
	background: linear-gradient(to bottom, #11385b 0%,#021122 100%);
	-webkit-box-shadow: 0 0 2px 1px rgba(13, 46, 77, 0.55) inset;
	-moz-box-shadow: 0 0 2px 1px rgba(13, 46, 77, 0.55) inset;
	box-shadow: 0 0 2px 1px rgba(13, 46, 77, 0.55) inset;
	font-size: 0.9em;
	z-index:-1;
	}

#AgentContenedor .main_menu.menu2 .nav li.dropdown .drop-nav li.flyout a:hover {z-index: 0;  background-image: none !important; background-size: auto !important; width:100%; height:35px !important;}

#AgentContenedor .dropdown .drop-nav li,
#AgentContenedor .flyout 					{position: relative;}

#AgentContenedor .drop-nav,
#AgentContenedor .flyout-nav,
#AgentContenedor .name_dd 					{position: absolute;display: none;z-index:1;}
	
#AgentContenedor .drop-nav 					{ color:#fff; z-index:99; background:#001827; top:125px; min-width:100px; width:100%; left:0px; -webkit-border-radius:10px; border-radius:10px; font-size:0.75em;}
#AgentContenedor .main_menu.menu2 .nav .drop-nav li				{ position:relative; float:none; height:35px; width:100%; white-space:nowrap;}


#AgentContenedor .drop-nav li a {
    color: #fff !important;
    display: block;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
	text-align: center;
	height: 35px;
	text-shadow: none;
	font-weight: normal;
	}
#AgentContenedor .drop-nav li:last-child 		{ height: 40px;}
#AgentContenedor .drop-nav li:nth-child(even) 	{ background-color: #E5E5E5;}
#AgentContenedor .drop-nav li:nth-child(odd) 	{ background-color: #fff;}
#AgentContenedor .drop-nav li a 					{ text-align: center;color: #001827 !important;}
#AgentContenedor .drop-nav li a:hover 			{ color: #fff !important; background-color: #0099FF;}
	
#AgentContenedor .dropdown span.txt_lb 			{ margin:55px auto 0 auto;  display:block; text-align:center; width:100%; margin-top:0 !important; position:relative;}
#AgentContenedor .dropdown:hover span.txt_lb 	{ margin:55px auto 0 auto;  display:block; text-align:center; width:100%; margin-top:0px !important; position:relative;}

#AgentContenedor .dropdown:hover > .drop-nav,
#AgentContenedor .flyout:hover > .flyout-nav 	{ display:block; z-index:999; width:100%; }

#AgentContenedor .dropdown:hover li span  		{ display: block; z-index:999; }
#AgentContenedor .dropdown:hover .name_dd  		{ display: block; z-index:0; }

#AgentContenedor .flyout-nav {left:0; top:35px;}

/*.flyout:hover a,*/
#AgentContenedor .flyout-nav 		{  background: #fff;text-align: center;-webkit-border-radius: 10px;border-radius: 10px; overflow: hidden;}
#AgentContenedor .drop-nav,
#AgentContenedor .flyout-nav 		{ -webkit-box-shadow: 2px 2px 10px 0 #555;box-shadow: 2px 2px 10px 0 #555;}

#AgentContenedor .flyout-nav li:nth-child(even) 	{ background-color: #E5E5E5;}
#AgentContenedor .flyout-nav li:nth-child(odd) 	{ background-color: #fff;}
#AgentContenedor .flyout-nav li  				{ float: left; min-width: 200px;}
#AgentContenedor .flyout-nav li a 				{ text-align: center;color: #001827 !important;padding: 10px 30px;}
#AgentContenedor .flyout-nav li a:hover 			{ color: #fff !important; background: #0099FF;}



#AgentContenedor .navbar nav>ul>li.menu-item {
    padding: 9px 12px;
    cursor: pointer;
    border-left: 0!important;
    border-right: 0!important;
    color: rgba(0,0,0,.5);
}


/*-- MEDIA QUERIES BOTONES MENU SUPERIOR ------------------------------*/
@media (max-width:80em){
	#AgentContenedor .btn_expand{ display:none}
	#AgentContenedor .barra1{ padding-right:0px}	
}

/* Para pantallas mas grandes de 800px */
@media (min-width: 50em) {
	#AgentContenedor .main_menu.menu2 .nav li {
		float: left;
		width:10%;
		position:relative;
		text-align: center;
		}

    #AgentContenedor 	.main_menu.menu2 .nav a {
		display: block;
		width: auto;
		}
	.main_menu.menu2 .nav i {
		position: relative;
		display: inline-block;
		margin: 0 auto;
		padding: 0.4em;
		}	
	#AgentContenedor .main_menu.menu2 .icon + span { padding-top:0.1em; line-height:1.1em}
	
	#AgentContenedor .main_menu.menu2 .dropdown:hover > .drop-nav,
	#AgentContenedor .main_menu.menu2 .flyout:hover > .flyout-nav {display:block; z-index:999; width:100%; }
	
	#AgentContenedor .main_menu.menu2 .nav .drop-nav li		{ position:relative; float:left; height:35px; width:100%; white-space:nowrap;}
}


/* The "tablet" and "mobile" version */


@media (min-width:47.6em) and (max-width: 65em) {
	/* aqui se divide en 2 filas*/
	#AgentContenedor .main_menu.menu2 .nav li {
		display: block;
		float: left;
		width: 20%;
		line-height:12px !important;
		}
	#AgentContenedor .main_menu.menu2 .nav a {
		padding: 0.625em 0;
		vertical-align:middle;
		height:2.8125em;
		text-align:left;
		position: relative;
		}
	#AgentContenedor .main_menu.menu2 .nav li span, 
	#AgentContenedor .main_menu.menu2 .nav li span.icon {
		display: inline-block;
		}
		
	/*iconos cuando se collapsa el menu*/
	#AgentContenedor .main_menu.menu2 .nav li span.icon {
		width: 32px;
		height:32px;
		position:absolute !important;
		left:2px;	
		top: 4px;
		margin:auto;
		}
	#AgentContenedor .main_menu.menu2 a.active, .main_menu.menu2 .nav li a.active, .main_menu.menu2 .nav li a:hover {
		background-image: url(../images/bg-active.png);
		background-repeat: no-repeat;
		background-size: 38px 38px;
		background-position: -1px 1px;
		border-left: none!important;
		border-top: none!important;
		border-bottom: none!important;
		width: 100%;
		height:2.8125em;
		z-index: 99;
		position: relative;
		left: 2px;
		top: 4px;
		}
	}	
/*------------------------------ FINAL MEDIA QUERIES BOTONES MENU SUPERIOR --*/


/*Menu Mobile*/
#AgentContenedor .navbar 							{ display: none;   background:#082956;}
#AgentContenedor li.active.menu-item 				{ font-weight: bold; color: #fff !important;}
#AgentContenedor nav>ul>li.menu-item:active 			{ background:#082956 !important; border-color: #001B2B !important;}
#AgentContenedor .navbar nav>ul>li.menu-item.open 	{ color: #222 !important;}
#AgentContenedor .navbar nav>ul>li.menu-item ul,
#AgentContenedor .navbar nav>ul>li.menu-item ul li	{ }
#AgentContenedor nav>ul>li.menu-item ul li a 		{ background-color: #001B2B !important; color:#FFFFFF;}
#AgentContenedor nav>ul>li.menu-item ul li a span 	{ margin: 0px !important; padding: 0px !important; line-height: 30px;display: block; height: 30px;float: left;}

#AgentContenedor .navbar nav>ul>li.menu-item ul a {
   padding-top: 5px !important; 
   padding-bottom: 5px !important; 
}

#AgentContenedor .navbar							 	{display: none;background: #082956!important;}
#AgentContenedor .navbar:hover 						{background: #082956!important;}
#AgentContenedor .main_menu.menu2					{margin-bottom: 20px;}

#AgentContenedor .navbar nav>ul>li.menu-item:hover 	{background:none!important; border-color:#082956!important;}
#AgentContenedor .navbar nav>ul>li.menu-item.open 	{color:#FFF!important;background:none!important;border-color: #082956!important;}


/* aqui se divide en 2 filas*/
@media (min-width:1350px) and (max-width: 1600px){
	#AgentContenedor .main_menu.menu2 .nav a 				{height: 90px;}
	#AgentContenedor .main_menu.menu2 .nav li span.icon 		{width: 60px;height: 60px;background-size: 90%;}
	#AgentContenedor .main_menu.menu2 .icon + span 			{font-size: 0.8em;font-weight: 300;}
	
	#AgentContenedor .main_menu.menu2 a.active, .main_menu.menu2 .nav li a.active, .main_menu.menu2 .nav li a:hover {
		background-size: 80px 80px;
		background-position: center center;
		height: 78px;
	}
	#AgentContenedor .drop-nav 				{ color:#fff; z-index:99; background:#001827; top:100px; min-width:150px; width:100%; left:0px; -webkit-border-radius:10px; border-radius:10px; font-size:0.75em;}
}


@media (min-width:1300px) and (max-width: 1350px){
	#AgentContenedor .main_menu.menu2 .nav a 				{height: 80px;}
	#AgentContenedor .main_menu.menu2 .nav li span.icon 		{width: 50px;height: 50px;background-size: 90%;}
	#AgentContenedor .main_menu.menu2 .icon + span 			{font-size: 0.75em;	font-weight: 300;}
	
	#AgentContenedor .main_menu.menu2 a.active, .main_menu.menu2 .nav li a.active, .main_menu.menu2 .nav li a:hover {
		background-size: 70px 70px;
		background-position: center center;
		height: 68px;
	}
	
	#AgentContenedor .name_dd {top: 0;}
}


@media (min-width:1020px) and (max-width: 1300px) {
	#AgentContenedor .main_menu.menu2 .nav li {
		display: block;
		float: left;
		width: 20%;
		line-height:12px !important;
		}
	#AgentContenedor .main_menu.menu2 .nav a {
		padding: 0.625em 0;
		vertical-align:middle;
		height:2.8125em;
		text-align:left;
		position: relative;
		}
	#AgentContenedor .main_menu.menu2 .nav li span, 
	#AgentContenedor .main_menu.menu2 .nav li span.icon 		{display: inline-block;}
		
	#AgentContenedor .main_menu.menu2 .nav li span.icon {
		width: 32px;
		height:32px;
		position:absolute !important;
		left:2px;	
		top: 4px;
		margin:auto;
		}
	#AgentContenedor .main_menu.menu2 a.active, .main_menu.menu2 .nav li a.active, .main_menu.menu2 .nav li a:hover {
		background-image: url(../images/bg-active.png);
		background-repeat: no-repeat;
		background-size: 38px 38px;
		background-position: -1px 1px;
		border-left: none!important;
		border-top: none!important;
		border-bottom: none!important;
		width: 80%;
		height:2.8125em;
		z-index: 99;
		position: relative;
		left: 2px;
		top: 4px;
		}
	#AgentContenedor .dropdown:hover span.icon {
		width: 32px;
		height:32px;
		position:absolute !important;
		left:2px;	
		top: 4px;
		margin:auto;
		z-index:999;
		}
	
	#AgentContenedor .dropdown:hover > .drop-nav,
	#AgentContenedor .flyout:hover > .flyout-nav {display:block; z-index:999; width:100%; }
	
	#AgentContenedor .drop-nav 			{ color:#fff; z-index:99; background:#001827; top:90px; min-width:150px; width:100%; left:0px; -webkit-border-radius:10px; border-radius:10px; font-size:0.75em;}
	#AgentContenedor .drop-nav li		{ position:relative; float:left; height:35px; width:100%; white-space:nowrap;}
	
	#AgentContenedor .main_menu.menu2 .icon + span {
		font-size: 0.7em;
		margin-left:40px;
		position:static;
		text-align:left;
		margin-right:5px;
		margin-top:0px;
		}
		
	#AgentContenedor .main_menu.menu2 .nav li i {display: inline-block;}	
	
	#AgentContenedor .dropdown:hover li  		{  display: block; z-index:1; }
	#AgentContenedor .dropdown:hover li span  	{  display: block; z-index:1; }
	#AgentContenedor .dropdown:hover a .name_dd  {  display: block; z-index:999; }
	
	#AgentContenedor .name_dd {top: 0;}
	
	#AgentContenedor .nav li span.icon			{ z-index:0;}
	#AgentContenedor .dropdown > a				{ z-index: auto;}
	
	#AgentContenedor .dropdown span.txt_lb {
		margin: 55px auto 0 auto;
		display: block;
		text-align: center;
		width: 80%;
		margin-top: 0 !important;
		position: relative;
	}
	
	#AgentContenedor .main_menu.menu2 .nav .drop-nav {
		color: #fff;
		z-index: 99;
		background: #001827;
		top: 50px;
		min-width: 100px;
		width: 100%;
		left: 0px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		font-size: 0.75em;
	}
	
	#AgentContenedor .main_menu.menu2 .nav .drop-nav li a	{text-align:center;}
}

/*media quary cuando collapsa*/
@media screen and (max-width: 1020px){
	#AgentContenedor .main_menu > div:first-child 	{width: 290px;position: relative !important;}
	#AgentContenedor .main_menu.menu2 				{max-height: 130px !important;background-size: cover !important;}
	
	#AgentContenedor .navbar 						{display: block;margin: 0px;width: 100%;}
	
	#AgentContenedor .main_menu > div 				{float: none !important;}
	#menu							{display: none !important;}
	
	#AgentContenedor .main_menu.menu2 .nav li {
		display: block;
		float: left;
		width: 100%;
		line-height:12px !important;
		/*height:46px;*/
	}
	#AgentContenedor .main_menu.menu2 .nav li span.icon {
		width: 32px;
		height: 32px;
		position: relative !important;
		float:left;
		margin: auto;
		left: 2px;
    	top: 4px;
	}
	#AgentContenedor .main_menu.menu2 .nav li span, .main_menu.menu2 .nav li span.icon {display: inline-block;}
	#AgentContenedor .main_menu.menu2 .icon + span {
		font-size: 0.7em;
		margin-left: 40px;
		position: static;
		text-align: left;
		margin-right: 5px;
		margin-top: 0px;
	}
	#AgentContenedor .main_menu.menu2 .nav li span:nth-child(2) {
		width: 80%;
		height: 45px;
		position: relative !important;
		float:left;
		margin-left:6px;
		line-height:40px;
		padding:0 10px!important;
	}
	#AgentContenedor .main_menu.menu2 .nav ul {
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
		font-weight: 300;
		float: right;
	}
	#AgentContenedor .main_menu.menu2 a.active, .main_menu.menu2 .nav li a.active, .main_menu.menu2 .nav li a:hover {
		background-image: url(../images/bg-active.png);
		background-repeat: no-repeat;
		background-size: 38px 38px;
		background-position: -1px 1px;
		border-left: none!important;
		border-top: none!important;
		border-bottom: none!important;
		width: 100%;
		height: 2.8125em;
		z-index: 99;
		position: relative;
		left: 0px;
		top: 0px;
	}
	
	#AgentContenedor .menu-item ul li a:not([role=button]) {
		padding: 0px 12px; 
		line-height: 1.45rem;
		color: #555;
		display: block;
		margin-bottom: 0;
		border-radius: 0;
		background: #fff;
		border-color: #fff;
		font-size: 16px;
	}
	#AgentContenedor .main_menu.menu2 .nav a {
		padding: 0; 
		vertical-align: middle;
		height: 2.8125em;
		text-align: left;
		position: relative;
	}
	#AgentContenedor .navbar nav>ul>li.menu-item ul a {
		padding-top: 1px !important;
		padding-bottom: 1px !important;
	}
	
	#AgentContenedor .menu-item ul 										{border-radius: 0px;}
	
	#AgentContenedor .menu-item ul li:first-child, 
	#AgentContenedor .menu-item ul li:first-child a:not([role=button]) 	{border-top-right-radius: 0px!important;border-top-left-radius: 0px!important;}
	#AgentContenedor .menu-item.open ul .drop-nav{display: none !important;}
	
	#AgentContenedor .main_menu.menu2 .dropdown:hover > .drop-nav, 
	#AgentContenedor .main_menu.menu2 .flyout:hover > .flyout-nav 		{display: block!important;z-index: 999;width: 100%;}
	
	#AgentContenedor nav>ul>li.menu-item ul li .drop-nav {
		color: #001827;
		z-index: 99;
		background: #001827;
		top: 30px;
		min-width: 100px;
		width: 90%!important;
		left: auto !important;
		right: 0px !important;
		-webkit-border-radius: 0px;
		border-radius: 0px;
	}
	#AgentContenedor nav>ul>li.menu-item ul li .drop-nav li {
		position: relative;
		float: left;
		height: 35px;
		width: 100%;
		white-space: nowrap;
	}
	#AgentContenedor nav>ul>li.menu-item ul li .drop-nav li.flyout a:hover {
		z-index: 0;
		background-image: none !important;
		background-size: auto !important;
		width: 100%;
		height: 35px !important;
	}
	#AgentContenedor nav>ul>li.menu-item ul li .drop-nav li a:hover {
		color: #fff !important;
		background-color: #0099FF!important;
	}
	#AgentContenedor nav>ul>li.menu-item ul li .drop-nav li a {
    color: #001827 !important;
    display: block;
    padding-left:10px!important;
    text-decoration: none;
    text-align: center;
    height: 35px;
    text-shadow: none;
    font-weight: 600;
	font-size:12px !important;
	line-height:34px !important;
	}
	
	
	
	#AgentContenedor nav>ul>li.menu-item ul li .drop-nav li a:hover 			{color: #fff !important;background-color: #0099FF!important;}
	#AgentContenedor nav>ul>li.menu-item ul li .drop-nav li:nth-child(odd) 	{background-color: #fff!important;}
	#AgentContenedor nav>ul>li.menu-item ul li .drop-nav li:nth-child(even) 	{background-color: #E5E5E5!important;}

	#AgentContenedor .menu-item ul li .drop-nav li a:not([role=button]) 		{background:none!important;}
	
	
	#AgentContenedor .navbar nav {
		/* display: -webkit-flex; */
		/*display: -ms-flexbox;*/
		display: flex;
		/* -webkit-align-items: center; */
		/*-ms-flex-align: center;*/
		align-items: center;
		/* -webkit-flex-wrap: wrap; */
		/*-ms-flex-wrap: wrap;*/
		flex-wrap: wrap;
		/* -webkit-justify-content: space-between; */
		/*-ms-flex-pack: justify;*/
		justify-content: space-between;
		/* -webkit-align-content: space-between; */
		/*-ms-flex-line-pack: justify;*/
		align-content: space-between;
	}
	
}	

/*@media screen and (min-width: 960px){
.wrapper {max-width: 100% !important;}
}*/

@media (max-width: 1280px) and (min-width: 1025px){
	#AgentContenedor .nav a, .main_menu {
		 min-height: 45px !important; 
	}
}