@model List<APP_Concurso.Models.ConcursoEntity>
@using APP_Concurso
@{
    ViewBag.Title = "Home Page";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

 
<style>
    .my-custom-scrollbar {
        position: relative;
        height: 200px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }

    .lbltotal-default {
        background-color: #1198c5;
    }

    .lbltotal {
        display: inline;
        padding: 0.12em 0.6em 0.3em;
        font-size: 150%;
        font-weight: 700;
        line-height: 1;
        color: #ffffff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.30em;
    }
</style>

<br />
<div class="jumbotron">
    <div class="container">
        <div class="container">
            <img src="~/Content/Imagen/atlantica-seguros-logo.png" />
            <img src="~/Content/Imagen/loading30.gif" id="loading" style=" display: none;  width: 100px;" /><br />

        </div>

        <hr />
        <div class="row">
            <table>
                <tr>
                    <td>
                        <a href="https://www.atlantica.do/" class="btn btn-primary btn-lg">Participa y gana &raquo;</a>
                    </td>
                    <td>
                        @using (Ajax.BeginForm("GeneralRandom", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "Contenedor",
                            LoadingElementId = "loading",
                            OnComplete = "OnSuccess",
                            OnFailure = "OnFailure",
                            
                        }))
                        {
                            <input type="submit" name="generar" class="btn btn-success btn-lg" value="Generar un ganador" &raquo; />
                        }
                    </td>

                </tr>
            </table>
        </div>
    </div>
</div>
<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0">
        <thead>
            <tr>
                <th scope="col">Nombre Cliente</th>
                <th scope="col">Poliza</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model)
            {
                <tr>
                    <td>@c.NombreCliente</td>
                    <td>@c.Poliza</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<br />

<span class="lbltotal lbltotal-default">Total de Participantes: @ViewBag.enviarCantidad</span>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModal-label">Cliente ganador</h4>
            </div>
            <div class="modal-body" id="headMensseger">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Volver a Generar</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/ScriptsApp/Index.js"></script>
}