@model List<Declarative.Invoicing.Models.DeclarativeInvoicingViewModel.InvoicingHistoric>
<div class="card card-statetrust">
    <div class="card-header">
        <i class="fas fa-file-invoice-dollar"></i>
        Facturación
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="tbltblPolicyDetailInvoicing" class="table table-striped2" style="border-collapse: collapse !important;">
                <thead>
                    <tr>
                        <th></th>
                        <th>Num factura</th>
                        <th>Fecha</th>
                        <th>Monto</th>
                        <th>Items facturados</th>
                    </tr>
                </thead>
                <tbody id="tblPolicyDetailInvoicingBody">                    
                </tbody>
            </table>
        </div>
    </div>
</div>