<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CreateTag.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="apiURL" value="http://atl-srv41.atlantica.do/APIV2"/>
    <add key="companyID" value="SC968512"/>
    <add key="callingID" value="2f1e4fc0-81fd-11da-9156-00036a0f8111"/>
    <add key="siteName" value="Atlantica Insurance S.A."/>
    <add key="company" value="Atlantica Insurance S.A."/>
    <add key="adminUser" value="Administrator"/>
    <add key="adminPass" value="system"/>
    <add key="defaultDrawer" value="Sales Cash Receipts Entry"/>
    <add key="DEF::Testing" value="1"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <applicationSettings>
    <CreateTag.Properties.Settings>
      <setting name="CreateTag_ktService_Document" serializeAs="String">
        <value>http://atl-srv41.atlantica.do/KwikTagWS/Document.asmx</value>
      </setting>
      <setting name="CreateTag_ktBarcode_Barcode" serializeAs="String">
        <value>http://atl-srv41.atlantica.do/KwikTagWS/Barcode.asmx</value>
      </setting>
    </CreateTag.Properties.Settings>
  </applicationSettings>
</configuration>
