
    <div class="services">
        <div class="container">


            <div class="row">

                <!-- Service - 1 -->
                <div class="col-lg-4 text-center">
                    <div class="service-item">
                        <a class="service-icon fa fa-file-text-o"></a>
                        <h4>Log Shipment</h4>
                    </div>
                </div>

                <!-- Service - 2 -->
                <div class="col-lg-4 text-center">
                    <div class="service-item">
                        <a class="service-icon fa fa-clipboard"></a>
                        <h4>Shipment Reports</h4>
                    </div>
                </div>

                <!-- Service - 3 -->
                <div class="col-lg-4 text-center">
                    <div class="service-item">
                        <a class="service-icon fa fa-book"></a>
                        <h4>Address Book</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>