<!DOCTYPE html>
<html style="" class=" js csstransforms3d">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="titles">@ViewBag.Title </title>

 

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/jquery-ui-1.9.2.custom.css" />
    <link href="~/Content/alertifyjs/themes/default.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/alertify.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap-switch.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/sb-admin-2.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/flag-icon.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap-select.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/menu.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/morris.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/dataTables.bootstrap.css" />
    <link href="~/Content/dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/vue.js"></script>



    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add custom CSS here -->


</head>
<body>

    <header>
        <nav class="navbar navbar-default navbar-static-top bg-navbar" role="navigation" style="margin-bottom: 0">
            <div class="col-lg-12">
                <a class="navbar-brand mr-0 mr-md-2 logo" href="#">
                    <img src="~/Content/images/img-logo.png" alt="" width="100%">
                </a>
                <hr>
            </div>
            <div class="clearfix"></div>
        </nav>
    </header>
    <div class="services">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <!-- Footer Content -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright text-center medium">Copyright © <a href="#"></a> 2019. StateTrust Investments , Inc. Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Content -->
    <!-- JavaScript -->
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>*@

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script> 
    <script src="~/Scripts/jquery-ui-1.10.2.min.js"></script> 
    <script src="~/Content/js/bootstrap.js"></script>
    <script src="~/Scripts/Table/dataTables.min.js"></script>
    <script src="~/Scripts/Table/global.js"></script>
   

</body>
</html>
