/** {
    margin: 0; padding:0px;
}*/
 .editar{
            background-image:url('/img/edit_grids.png');
            background-size:100%;
            background-position-x:center;
            background-position-y:center;
        }
        .Agregar{
            background-image:url('/img/add_icon.png');
            background-size:100%;
            background-position-x:center;
            background-position-y:center;
        }
        .Activar {
            background-image:url('/img/cotejo.png');
            background-size:100%;
            background-position-x:center;
            background-position-y:center;
        }
        .Inactivar {
            background-image:url('/img/equis.png');
            background-size:100%;
            background-position-x:center;
            background-position-y:center;
        }
        div .margen{
            margin:20px;
            height:80px;
            width:80px;
        }
/*div .nav {
    
    height: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    /*background-color: #001B2B;*/
   /* width: 320px;
}
div > ul > li {
    display:inline;
    padding:10px;
}*/
.menu {

    background-image:url('/img/bg-top-menu.png');
    margin-top:0px;
}
/*.Selected:hover {
    background-image: url(/img/bg-active.png);
    background-repeat: no-repeat;
    background-size: 38px 38px;
    background-position: -1px 1px;
    border-left: none !important;
    border-top: none !important;
    border-bottom: none !important;
    width: 100%;
    height: 2.8125em;
    z-index: 99;
    position: relative;
    left: 2px;
    top: 4px;
}*/
.logo{
     display: block;
    height: 100px;
    float:left;
    background-image:url('/img/logo-02.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    /*background-color: #001B2B;*/
    width: 320px;
    margin-right:90px;
   margin-top:5px;
   padding-top:5px;
   padding-right:10px;
    
}
.contenido{
    margin : 30px;
}
.contenido .view{
    margin:30px;
}

.boton{
    display:block; 
    margin-left:15px;
    margin-right:15px;
}
.textbox{
    display:block;
    width:350px;
    margin:15px 15px;
    border-color:white;
    border-bottom-color:black;
    
}
.etiqueta{
    display:inline-block;
    font-size:large;
    font-weight:bold;
    margin:15px 15px;   
}

/*.lblsystem {
    font-size: 15px !important;
    color: white;
    text-align: right;
    margin-top: -10px !important;
    width: 316px !important;
    font-weight: 600;
    right: 10px !important;
    align-content: right !important;
    display: block;*/
}
.linea {
    display:inline;
    margin-top:10px;
}

.direccion{
    margin:20px;
}
.btnAtras{
    /*margin:30px;*/
    background:url('/img/back.png'); /*no-repeat scroll 0 0 transparent;*/
    background-position:bottom left;
    background-repeat:no-repeat;
    /*width:110px;
    height:71px;*/
}

.btnSiguiente{
    /*margin:30px;*/
    background:url('/img/next.png'); /*no-repeat scroll 0 0 transparent;*/
    background-position:bottom left;
    background-repeat:no-repeat;
    /*width:110px;
    height:71px;*/
}
.boton{
    /*margin:30px;*/
    margin-left:30px;
    margin-right:30px;
    margin-bottom:0;
    display:inline;
    }
.boton2{
    margin:15px;
    display:inline;
}
.fboton{
background: rgba(105,194,15,1);
background: -moz-linear-gradient(top, rgba(105,194,15,1) 0%, rgba(4,97,27,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(105,194,15,1)), color-stop(100%, rgba(4,97,27,1)));
background: -webkit-linear-gradient(top, rgba(105,194,15,1) 0%, rgba(4,97,27,1) 100%);
background: -o-linear-gradient(top, rgba(105,194,15,1) 0%, rgba(4,97,27,1) 100%);
background: -ms-linear-gradient(top, rgba(105,194,15,1) 0%, rgba(4,97,27,1) 100%);
background: linear-gradient(to bottom, rgba(105,194,15,1) 0%, rgba(4,97,27,1) 100%);
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69c20f', endColorstr='#04611b', GradientType=0 );*/

color:transparent ; 
}


.texto222 {
  /*background: linear-gradient(yellow,red);*/
  background: rgba(187, 251, 72, 0.82);
  /*background:-webkit-gradient(left top, left bottom, color-stop(0%, rgba(105,194,15,1)), color-stop(100%, rgba(4,97,27,1)));*/
  background: -webkit-linear-gradient(top, rgba(187, 251, 72, 0.82) 0%, rgba(4,97,27,1) 100%);
  -webkit-background-clip:text;
  color: transparent;
  font-size:30px;  
}