@model  IEnumerable<KSI.Cobranza.Web.Models.ViewModels.paymentProjection>
@{
    var webGrid = new WebGrid(source: Model, ajaxUpdateContainerId: "dvProjectedStatementGrid", canPage: false);
}

<div id="dvProjectedStatementGrid">
    @webGrid.GetHtml(tableStyle: "table table-striped car PhoneMail",
                                    headerStyle: "header-table",
                                            htmlAttributes: new { @id = "gvProjectedStatementGrid" },
                                    columns: webGrid.Columns(webGrid.Column("Description", "Descripción"),
                                                        webGrid.Column("Value", "Monto")
                                )
                            )
    @Html.Hidden("hdnTotalCalculate", (object)@ViewBag.OutStandingBalance)
</div>
