<div class="row">
    <input type="hidden" value="STMPROJECTADO"/>  
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="form-group">
            <label for="BusinessLine">Proyección por:</label>
            <select class="form-control" id="ProjectedFilterBy">
                <option value="">Seleccione un...</option>
                <option value="1">Pago cuotas</option>
                <option value="3">Pago Total</option>
                <option value="4">Pago Parcial Disminución de cuotas</option>
                @*<option value="5">Pago Parcial Disminución de plazo</option>*@
            </select>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="form-group">
            <label for="CommissionTableName">Saldo al Día:</label>
            <div class="form-group input-group buscar">
                <input type="text" class="form-control datepicker" id="txtSaldoAlDia">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-9">
                <div class="form-group">
                    <label for="CompanyID">Monto a Pagar:</label>
                    <input class="form-control" type="text" decimal="decimal" disabled="" id="txtMontoAPagar">
                </div>
            </div>           
        </div>
    </div>
</div>