<script type="text/html" id="stepBenefit">
    <div data-bind="with: stepData">
        <form data-bind="submit: saveCurrentBenefit" id="saveBenefitForm">
            <div class="select_cober">
                <div class="col-6">
                    <div class="label_plus_input par">
                        <span>Tipo de Plan</span>
                        <select data-bind="options: saludPlanTypeList, optionsText: 'name', optionsValue: 'id', value: planTypeSelected, optionsCaption: 'Seleccione', event:{ change: function(){$('#planesTab')[0].click();} }"></select>
                    </div>
                </div>

                <!--TABS -->

                <ul class="tabs" id="planTabs" data-ks-tabs>
                    <li class="open"><a id="planesTab" href="#tb1-1">Seleccionar Plan</a></li>
                    <li class="" data-bind="visible: planTypeSelected() == 0"><a href="#tb1-2">Seleccionar Coberturas Adicionales</a></li>
                </ul>
                <div class="cont_gnl tab_pane_container">
                    <article id="tb1-1">
                        <div class="Conetent_SelectPlan01">
                            <div class="tbl data_G SelectPlan">
                                <table>
                                    <thead>
                                        <tr class="gradient_azul">
                                            <th align="center"><span>Solicitante</span></th>
                                            <th align="center"><span>Plan</span></th>
                                            <th align="center"><span>Deducible</span></th>
                                            <th align="center"><span>Moneda</span></th>
                                            <th align="center"><span>Suma <br />Asegurada</span></th>
                                            <th align="center"><span class="bg_grd_vd">Prima</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td align="left">
                                                <table>
                                                    <tbody data-bind="foreach: persons">
                                                        <tr>
                                                            <td align="left" data-bind="text: toString"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td align="right">
                                                <select data-bind="options: saludPlanList, optionsText: 'name', optionsValue: 'id', value: planSelected, optionsCaption: 'Seleccione'"></select>
                                            </td>
                                            <td align="right">
                                                <select data-bind="options: deducibleList, optionsText: 'name', optionsValue: 'id', value: deducibleSelected, optionsCaption: 'Seleccione'"></select>
                                            </td>
                                            <td align="right">
                                                <input type="text" value="USD" class=" alignC" readonly="readonly">
                                            </td>
                                            <td align="right">
                                                <table>
                                                    <tbody data-bind="foreach: persons">
                                                        <tr>
                                                            <td align="right">$2,200,000</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td align="right">
                                                <table>
                                                    <tbody data-bind="foreach: persons">
                                                        <tr>
                                                            <td align="right" data-bind="text: totalPrime.formatted"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="label_plus_input3 mT10">
                                <span>Prima</span>
                                <input type="text" data-bind="value: currentRate.formatted" readonly="readonly">
                            </div>
                            <div class="label_plus_input3 mT10">
                                <button class="button button-red embossed" data-bind="click: getRates" value="Cotizar">Cotizar</button>
                            </div>

                            <br clear="all" />

                        </div><!--Conetent_SelectPlan01-->

                        <div class="Conetent_SelectPlan02 mT10">

                            <div class="box_SP">

                                <div class=" tbl data_G SelectPlan">
                                    <table>
                                        <thead>
                                            <tr class="gradient_azul">
                                                <th align="center" class="c1" width="40%"><span>Beneficios</span></th>
                                                <th align="center" class="c2" width="15%"><span>Suma Asegurada</span></th>
                                                <th align="center" class="c3" width="15%"><span>Deducible</span></th>
                                                <th align="center" class="c4" width="15%"><span>Cobertura Global</span></th>
                                                <th align="center" class="c5" width="15%"><span>Hospitalización</span></th>
                                                <th align="center" class="c6" width="15%"><span>Servicios Ambulatorios</span></th>
                                                <th align="center" class="c7" width="15%"><span>Maternidad</span></th>
                                                <th align="center" class="c8" width="15%"><span>Servicio de Emergencia</span></th>
                                                <th align="center" class="c9" width="15%"><span>Ambulancia</span></th>
                                                <th align="center" class="c10" width="15%"><span>Asistencia Viajes</span></th>
                                                <th align="center" class="c11" width="15%"><span>Trasplante</span></th>
                                                <th align="center" class="c12" width="15%"><span>VIH/SIDA</span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td align="left" class="c1">Select</td>
                                                <td align="center" class="c2">$2,200,000.00</td>
                                                @*<td align="center" class="c3" data-bind="text: $.map($root.saludDeducibleList(), function(val) {return val.name;}).join('/')"></td>*@
                                                <td align="center" class="c4"><a class="grid_icons cotejo" href="#"></a></td>
                                                <td align="center" class="c5"><a class="grid_icons cotejo" href="#"></a></td>
                                                <td align="center" class="c6"><a class="grid_icons cotejo" href="#"></a></td>
                                                <td align="center" class="c7"><a class="grid_icons cotejo" href="#"></a></td>
                                                <td align="center" class="c8"><a class="grid_icons cotejo" href="#"></a></td>
                                                <td align="center" class="c9"><a class="grid_icons cotejo" href="#"></a></td>
                                                <td align="center" class="c10"><a class="grid_icons cotejo" href="#"></a></td>
                                                <td align="center" class="c11"></td>
                                                <td align="center" class="c12"></td>
                                            </tr>
                                            <tr>
                                                <td align="left" class="c1">Elite</td>
                                                <td align="center" class="c2">$3,200,000.00</td>
                                                @*<td align="center" class="c3" data-bind="text: $.map($root.saludDeducibleList(), function(val) {return val.name;}).join('/')"></td>*@
                                                <td align="center" class="c4"><a class="grid_icons cotejo" href="#"></a></td>
                                                <td align="center" class="c5"><a class="grid_icons cotejo" href="#"></a></td>
                                                <td align="center" class="c6"><a class="grid_icons cotejo" href="#"></a></td>
                                                <td align="center" class="c7"><a class="grid_icons cotejo" href="#"></a></td>
                                                <td align="center" class="c8"><a class="grid_icons cotejo" href="#"></a></td>
                                                <td align="center" class="c9"><a class="grid_icons cotejo" href="#"></a></td>
                                                <td align="center" class="c10"><a class="grid_icons cotejo" href="#"></a></td>
                                                <td align="center" class="c11"><a class="grid_icons cotejo" href="#"></a></td>
                                                <td align="center" class="c12"><a class="grid_icons cotejo" href="#"></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div><!--tbl data_G-->

                            </div><!--box_SP-->

                        </div><!--Conetent_SelectPlan02-->

                        <br clear="all" />

                        <div class="row_A mT10 mB pdL10">
                            <div class=" col-8 fl txt_guia">
                                <p>*Para Mayor detalle de Coberturas y Límites remitirse a Tabla de Beneficios</p>
                            </div>
                            <div class=" col-4 fr">
                                <button type="button" class="btn bazulOcuro fr mR-1-p" onclick="showReport('../Reports/tabla-beneficio.pdf', false)">Tabla de beneficios</button>
                            </div>
                        </div>
                    </article>
                    <article id="tb1-2">
                        <div class="Conetent_SelectPlan01">
                            <div class="tbl data_G SelectPlan adicionales">
                                <table>
                                    <thead>
                                        <tr class="gradient_azul">
                                            <th align="center"><span>Asegurados</span></th>
                                            <th align="center"><span>Complicaciones del Embarazo</span></th>
                                            <th align="center"><span>Trasplante de Organos / Tejidos</span></th>
                                            <th align="center"><span class="bg_grd_vd">Prima</span></th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: persons">
                                        <tr>
                                            <td align="left" data-bind="text: toString"></td>
                                            <td align="right">
                                                <select data-bind="options: $root.boolList, optionsText: 'name', optionsValue: 'id', value: adicComplications"></select>
                                            </td>
                                            <td align="right">
                                                <select data-bind="options: $root.boolList, optionsText: 'name', optionsValue: 'id', value: adicTransplant"></select>
                                            </td>
                                            <td align="right">$500.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="label_plus_input3 mT10">
                                <span>Prima</span>
                                <input type="text" data-bind="value: currentRate.formatted" readonly="readonly">
                            </div>
                            <br clear="all" />

                        </div><!--Conetent_SelectPlan01-->


                        <div class="Conetent_SelectPlan04 mT10">

                            <div class="box_SP">

                                <div class=" tbl data_G SelectPlan">
                                    <table>
                                        <tr class="gradient_azul">
                                            <th align="left" class="c1" width="40%"><span>Detalle</span></th>
                                            <th align="left" class="c1" width="60%"><span>Cobertura</span></th>
                                        </tr>

                                        <tr>
                                            <td align="left" class="c1">Complicaciones del Embarazo</td>
                                            <td align="left" class="c1">USD$500,000.00</td>
                                        </tr>
                                        <tr>
                                            <td align="left" class="c1">Trasplantes de Organos / Tejidos</td>
                                            <td align="left" class="c1">USD$1,000,000.00</td>
                                        </tr>
                                    </table>
                                </div><!--tbl data_G-->

                            </div><!--box_SP-->

                        </div><!--Conetent_SelectPlan02-->

                        <br clear="all" />

                        <div class="row_A mT10 mB pdL10">
                            <div class=" col-8 fl txt_guia">
                                <p>*Para Mayor detalle de Coberturas y Límites remitirse a Tabla de Beneficios</p>
                            </div>
                            <div class=" col-4 fr">
                                <button type="button" class="btn bazulOcuro fr mR-1-p" onclick="showReport('../Reports/tabla-beneficio.pdf', false)">Tabla de beneficios</button>
                            </div>
                        </div>

                    </article>
                </div>

            </div>
        </form>
        <div class="row_A mT10 mB10 pdR20">
            <a href="#" class="btn backBtn" data-bind="click: function() { parent.prevStep(); }"></a>
            <button class="btn bgreen fr" data-bind="click: function() { buyAfterQuickSteps(); },visible: quickStepsComplete" value="Comprar">Comprar</button>
        </div>
    </div>
</script>