body.clear-material {
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px !important;
    font-weight: 300 !important;
    line-height: 18px !important;
}

header {
    text-align: center;
    background: rgba(255, 255, 255, 0.30980392156862746);
    padding: 2% 0%;
    border-bottom: 1px solid #fff;
}

body.clear-material {
    margin: 0 auto !important;
    font-family: 'Roboto', sans-serif !important;
    width: 100% !important;
    font-size: 16px !important;
    font-weight: 300 !important;
    /*background-image: url(../images/fondo.jpg);*/
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-color: #f2f2f2 !important;
    color: #0a456f !important;
}

body.clear-material audio, 
body.clear-material canvas, 
body.clear-material iframe, 
body.clear-material img, 
body.clear-material svg, 
body.clear-material video {
     vertical-align: auto; 
}

body.clear-material h1 {
    font-size: 1.5em !important;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

body.clear-material h2, body.clear-material h3 {
    margin:auto;
}

body.clear-material .titulo-poliza h2 {
    font-size: 1.2em;
    line-height: normal;
    padding: 2% 0%;
    margin: 1% 1% 1% 1%;
}

body.clear-material ul, body.clear-material ol {
    font-size: 16px;
    line-height: normal;
    font-weight: 300;
}

body.clear-material h2 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

body.clear-material p {
    font-size: 16px;
    letter-spacing: 0;
    margin: 0 0 16px;
}

body.clear-material p a{
    text-decoration: underline;
}