<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <appSettings>
    <add key="TipoDocABuscar" value="8,10" />
    <add key="CompanyId" value="30" />
  </appSettings>
  <connectionStrings>
    <add name="SysFlexSegurosEntities" connectionString="metadata=res://*/SysFlexSegurosDB.csdl|res://*/SysFlexSegurosDB.ssdl|res://*/SysFlexSegurosDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.193.14;initial catalog=SysFlexSeguros;persist security info=True;user id=developer05;password=Developer05;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_Incf" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.16.193.36/ATLANGuidewireToGP/ncf.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Incf" contract="ncf.svc.Incf" name="BasicHttpBinding_Incf" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
