<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="BasicEndPoint">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44300/Cancelaciones.svc"
                binding="wsHttpBinding" bindingConfiguration="BasicEndPoint"
                contract="CancelacionesSvc.ICancelaciones" name="BasicEndPoint" />
        </client>
    </system.serviceModel>
</configuration>